{% extends "base.twig" %}

{% block content %}
 <div class="story__container">
    <div class="container container--flex">
        <main class="story__main-column" role="main">
             <h1>Sorry, we couldn't find what you're looking for.</h1>
        </main>
    </div>
     <div class="sidebar hide_mobile">
         {{ sidebar_story }}
     </div>
 </div>
{% endblock %}