{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__a">
        <img src="{{ post.call_to_action.image.url|resize(256) }}" class="take-action__img">
    </div>

    <div class="take-action__b">
        <p>Enter a pledge amount, and support the New Energy Eoconomy in its “Sol not Coal” campaign, bringing solar panels to buildings in Santa Fe County.</p>

        <form>
            <div class="form-element">
                <label for="ta-donation">Donation Amount</label>
                <input type="text" id="ta-donation" class="text-input text-input--money">
            </div>

            <a href="#" class="btn btn--solid btn--external icon icon_external take-action__submit">Continue</a>

            <small>Your credit card will not be charged.</small>
        </form>
    </div>
{% endblock %}