<div class="support-cause support-cause--hero z2">
    {#<h4 class="hd-t support-cause__heading">Support this cause</h4>#}

    <div class="indicator indicator--red indicator--module icon icon_{{ post.call_to_action.icon }}"></div>
    <div class="support-cause__content">
        <span class="support-cause__data">45<sup class="super">%</sup></span>
        <span class="support-cause__label">from goal</span>

        <span class="support-cause__data">{{ post.call_to_action.days_until }}</span>
        <span class="support-cause__label">days to go</span>
    </div>
</div>