{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__full">
        <p>{{ post.call_to_action.description }}</p>

        <p id="tweet-politician__message" data-tweet-message="{{ post.call_to_action.tweet_text }}" data-tweet-url="{{ post.short_url }}">
            Tell your dude to "{{ post.call_to_action.tweet_text }}"
        </p>

        <form id="politician-lookup" class="tweet-politician__lookup">
            <div class="form-element form-element--two-third">
                <label for="ta-address">Address</label>
                <input name="ta-address" id="ta-address" type="text" class="text-input" required="required">
            </div>

            <div class="form-element form-element--one-third form-element--right form-element--omega">
                <button type="submit" class="btn btn--solid btn--external icon icon_external">Search Politicians</button>
            </div>
        </form>

        <div id="tweet-politician__politicians"></div>
    </div>
{% endblock %}