<div class="module module--bg module--red take-action cf">

    {{ dump(post.call_to_action) }}

    <header>
        <div class="indicator indicator--blue indicator--module icon icon_write"></div>
        <h3 class="hd-e module__heading">Take Action</h3>
    </header>

    <h2 class="hd-l take-action__heading">{{ post.call_to_action.heading }}</h2>

    {% block action_body %}
    {% endblock %}

</div>