{% extends "action.twig" %}

{% block action_body %}
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_email"></div>
        <h3 class="hd-e module__heading">Take Action</h3>
    </header>

    <h2 class="hd-l take-action__heading">{{ post.call_to_action.heading }}</h2>

    <div class="take-action__a">
        <img src="http://lorempixel.com/256/256" class="take-action__img">
    </div>

    <div class="take-action__b">
        <p>Show your support for the group’s mission and buy a superhero-blue GirlTrek t-shirt. Wear it out whenever you go walking in your community, particularly on Saturdays.</p>
        <a href="#" class="btn btn--solid">Buy now</a>
    </div>
{% endblock %}