{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__a">
        <p>The following petition will be delivered to <strong>Senator Chuck Schumer (NY-D)</strong>:</p>
        <small>We urge you to explain to the American  public that the growing population and success in alleviating poverty in developing countries will trigger a surge in demand for food, water and energy over the next two decades, at a time when governments must also make major progress in combating climate change.</small>
    </div>

    <div class="take-action__b">
        <form class="cf">
            <div class="form-element">
                <label for="ta-first-name">First Name</label>
                <input type="text" id="ta-first-name" class="text-input text-input--thin text-input text-input--thin--thin">
            </div>

            <div class="form-element">
                <label for="ta-last-name">Last Name</label>
                <input type="text" id="ta-last-name" class="text-input text-input--thin">
            </div>

            <div class="form-element">
                <label for="ta-email">Email</label>
                <input type="text" id="ta-email" class="text-input text-input--thin">
            </div>

            <div class="form-element">
                <label for="ta-address">Street Address</label>
                <input type="text" id="ta-address" class="text-input text-input--thin">
            </div>

            <div class="form-element">
                <label for="ta-city">City</label>
                <input type="text" id="ta-city" class="text-input text-input--thin">
            </div>

            <div class="form-element form-element--one-third">
                <label for="ta-state">State</label>
                <input type="text" id="ta-state" class="text-input text-input--thin">
            </div>

            <div class="form-element form-element--two-third form-element--right form-element--omega">
                <label for="ta-state">Zip Code</label>
                <input type="text" id="ta-zip" class="text-input text-input--thin">
            </div>

            <div class="form-element">
                <textarea class="text-area">Why is this important to you?</textarea>
            </div>
        </form>

        <a href="#" class="btn btn--solid btn--external icon icon_external">Sign up</a>

        <small>By signing, you accept the terms of service and privacy policy</small>
    </div>
{% endblock %}