{% extends "action.twig" %}

{% block action_body %}
    <div class="take-action__a">
        <p>{{ post.call_to_action.description }}</p>
        <small>{{ take_action_privacy_policy_text }}</small>
    </div>

    <div class="take-action__b">

        <div id="mc_embed_signup">
            <form action="{{ post.call_to_action.mailchimp_id }}" method="post" name="mc-embedded-subscribe-form" class="mc-form validate" target="_blank" novalidate>
                <div class="mc-field-group">
                    <div class="form-element">
                        <input type="email" value="" placeholder="Enter your email address" name="EMAIL" class="required email text-input" id="mc-email">
                        <label for="mc-email" class="mc-email-status"></label>
                    </div>
                </div>

                <div class="cf">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--solid">
                </div>
            </form>
        </div>

    </div>
{% endblock %}