<div class="container">
    <div class="river river--two-col">
        <ul class="story-teases">
            {% for post in posts|slice(0, 10) %}
                <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar hide-mobile">
        {{ sidebar_static }}
    </div>
    {% if more %}
        <div class="btn-container">
            <a href="{{ more }}" class="btn btn--load-more icon icon_load-more">{{ load_more_button_text }}</a>
        </div>
    {% endif %}
</div>