{% extends "base.twig" %}

{% block content %}

    {% block header %}
    <div class="hero hero--archive hero--category" style="background-image: url(http://lorempixel.com/1300/600/city)">
        <div class="container z1">
            <h2 class="hd-a hero--category__title">Strengthening Infrastructure</h2>
            <span class="hero--category__count">16 Stories</span>

            <div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm-dark.png" class="sponsor__logo"/></div>
        </div>
    </div>
    {% endblock %}

    <div class="river river--two-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(0, 10) %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                <div class="ad ad--300 hide_mobile">
                    <div class="ad__container">
                        <img src="http://placehold.it/300x600"/>
                    </div>
                </div>

                {% include 'widget-popular.twig' %}
            </div>
        </div>
    </div>
{% endblock %}