<figure class="multimedia multimedia--image">
    <h3 class="hd-m multimedia__heading">{{ title }}</h3>
    <img src="{{ url|resize(584, 302) }}">

    <figcaption class="cf">
        <span class="caption">{{ caption }}</span>
        <span class="credit">{{ credit }}</span>
    </figcaption>
</figure>