<figure class="multimedia multimedia--video">
    <h3 class="hd-m multimedia__heading">{{ title }}</h3>

    {% if video_url is not empty %}
    <div class="multimedia__content">
        <div class="video-container">
            <iframe class="ytplayer" type="text/html" width="800" height="500" src="{{ video_url }}" frameborder="0"></iframe>
        </div>
    </div>
    {% endif %}

    <figcaption class="cf">
        <span class="credit">{{ credit }}</span>
    </figcaption>
</figure>