<figure class="multimedia multimedia--video">
    <h3 class="hd-m multimedia__heading">{{ title }}</h3>

    <div class="multimedia__content">
        <script type="text/javascript" src="http://content.bitsontherun.com/players/IFdMpi2Y-1VeqOjCu.js"></script>
    </div>

    <figcaption class="cf">
        <span class="credit">{{ credit }}</span>
    </figcaption>
</figure>