<dialog id="join-us-dialog">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_nationswell-flag"></div>
        <h3 class="hd-e module__heading">{{ title }}</h3>
    </header>

    <p>Meet the Peoplerenwing America. Join the Movement</p>

    <a href="https://www.facebook.com/nationswell" class="btn btn--bar btn--facebook icon icon_facebook">Follow on Facebook</a>
    <a href="https://twitter.com/nationswell" class="btn btn--bar btn--twitter icon icon_twitter">Follow on Twitter</a>

    <div id="mc_embed_signup">
        <form action="{{ mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
    </div>

    <button id="close-dialog">Close</button>
</dialog>

{#<button id="show-dialog" style="position: relative; z-index: 10000000;">Open Dialog!</button>#}