<footer id="page-footer">
    <div class="container">
        <a href="#" class="site-logo site-logo--footer">
            <img src="/{{ theme_dir }}/img/site-logo.png" alt=""/>
        </a>

        <ul class="footer-links">
            <li><a href="#" class="footer-links__link">About</a></li>
            <li><a href="#" class="footer-links__link">Contact</a></li>
            <li><a href="#" class="footer-links__link">Advertise</a></li>
            <li><a href="#" class="footer-links__link">Terms of Service</a></li>
            <li><a href="#" class="footer-links__link">Privacy Policy</a></li>
            <li><a href="#" class="footer-links__link">Jobs</a></li>
        </ul>

        <small class="copyright">All content copyright &copy;{{"now"|date('Y')}} NationSwell. All rights reserved.</small>
    </div>
</footer>
