<div class="hero hero--story hero--image hero--cover" style="background-image: url({{ item.url|resize(1300, 600) }});">

    <div class="hero-read">
        <a href="#story" class="hero-read-link">Begin Reading</a>
    </div>

    {% include 'hero-caption.twig' %}
</div>