{% if item.caption or item.credit %}
    <div class="hero-information">
        <span class="icon icon_information hero-information__toggle z1"></span>
        <div class="hero-information__outer">
            <div class="container container--flex">
                <div class="hero-information__content">
                    {% if item.caption is not empty %}<p class="hero-information__caption">{{ item.caption }}</p>{% endif %}
                    {% if item.credit is not empty %}<span class="hero-information__credit">{{ item.credit }}</span>{% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}