<div class="river river--one-col">
    <div class="container">
        <ul class="story-teases">
            {% for post in posts %}
                <li class="cf">{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
            {% endfor %}
        </ul>

        <div class="sidebar">
            {{ sidebar_homepage_4 }}
        </div>
    </div>
</div>
{% if more is not empty %}
<div class="btn-container">
    <a href="{{ more }}" class="btn btn--load-more icon icon_load-more">Load more</a>
</div>
{% endif %}