<div class="modal modal--join-us" data-modal="join-us" data-modal-pageload="true">
    <div class="modal__content module module--bg module--blue">
        <header>
            <div class="indicator indicator--blue indicator--module icon icon_nationswell-flag"></div>
            <h3 class="hd-e module__heading">Join Us</h3>
        </header>

        <h2 class="hd-l modal__heading">Meet the people renewing America. Join the movement.</h2>

        <div class="modal--join-us__social">
            <a href="https://www.facebook.com/nationswell" class="btn btn--bar btn--facebook icon icon_facebook">Follow on Facebook</a>
            <a href="https://twitter.com/nationswell" class="btn btn--bar btn--twitter icon icon_twitter">Follow on Twitter</a>
        </div>

        <div id="mc_embed_signup">
            <form action="{{ mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="mc-field-group cf">
                    <div class="modal--join-us__email icon icon_envelope">
                        <input type="email" value="" placeholder="Enter Your Email" name="EMAIL" class="required email fl" id="mce-EMAIL">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--subscribe fl">
                    </div>
                </div>

                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
            </form>
        </div>

        <span class="modal--join-us__opt-out">Already following and subscribing to us? <a data-modal-action="close" data-modal-disable="true" href="#">Don't ask again.</a></span>

        <button class="btn btn--close icon icon_close modal__close" data-modal-action="close"></button>
    </div>
</div>

<div class="modal modal--take-action" data-modal="take-action">
    <div class="modal__content module module--bg module--red take-action cf">

    </div>

    <button class="btn btn--close icon icon_close modal__close"></button>
</div>

<div class="modal-overlay"></div>