<div class="member-nav hide_mobile">
    <div class="container">
        <ul class="member-nav__list">
            <li><a href="/activity/" class="member-nav__item">Member Home</a></li>
            <li><a href="/members/" class="member-nav__item">Member Directory</a></li>
        </ul>
    </div>
</div>
