<div class="more-stories-drawer hide_desktop">
    <div class="drawer-unit">
        <a href="/" class="site-logo site-logo--slogan">
            <img src="/{{ theme_dir }}/img/site-logo.png" alt=""/>
            <span class="slogan">Meet the people renewing America</span>
        </a>

        <form action="#" method="post">
            <ul id="page-search" class="search">
                <li><label for="panel-search" class="icon icon_search z1">&nbsp;</label></li>
                <li><input type="text" id="panel-search" name="search" placeholder="Search NationSwell"></li>
            </ul>
        </form>
    </div>

    <div class="drawer-unit drawer-unit--dark">
        <div class="trending-topics">
            <h3 class="hd-r trending-topics__heading">Trending</h3>

            <ul class="trending-topics__list">
                <li><a href="#" class="trending-topics__topic">Social Mobility</a></li>
                <li><a href="#" class="trending-topics__topic">Infrastructure</a></li>
                <li><a href="#" class="trending-topics__topic">Environment</a></li>
                <li><a href="#" class="trending-topics__topic">Health Care</a></li>
                <li><a href="#" class="trending-topics__topic">Economy</a></li>
            </ul>
        </div>
    </div>

    <div class="drawer-unit">
        <div class="categories">
            <h3 class="hd-r categories__heading">All Topics</h3>

            <ul class="categories__list">
                <li><a class="categories__category active" href="#">Education</a></li>
                <li><a class="categories__category"href="#">Economy</a></li>
                <li><a class="categories__category" href="#">Social Mobility</a></li>
                <li><a class="categories__category" href="#">Services</a></li>
                <li><a class="categories__category" href="#">Government</a></li>
                <li><a class="categories__category" href="#">Health</a></li>
                <li><a class="categories__category" href="#">Environment</a></li>
                <li><a class="categories__category" href="#">Immigration</a></li>
                <li><a class="categories__category" href="#">Family</a></li>
                <li><a class="categories__category" href="#">Infrastructure</a></li>
            </ul>
        </div>
    </div>

    {#<div class="drawer-unit drawer-unit--dark">
        <ul class="social-links">
            <li><a href="#" class="icon icon_facebook social-links__link"></a></li>
            <li><a href="#" class="icon icon_twitter social-links__link"></a></li>
            <li><a href="#" class="icon icon_envelope social-links__link"></a></li>
        </ul>
    </div>#}
</div>