{% extends "base.twig" %}

{% block content %}

    <div class="river river--one-col">
        <div class="container">
            <ul class="story-teases">
                {% for post in posts|slice(0, 10) %}
                    <li>{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}</li>
                {% endfor %}
            </ul>

            <div class="sidebar">
                {{ sidebar_static }}
            </div>
        </div>
    </div>
{% endblock %}