{% extends "archive.twig" %}

{% block header %}
<div class="hero hero--archive hero--series" style="background-image: url(http://lorempixel.com/1300/600/city)">
    <div class="container">
        <div class="indicator indicator--blue indicator--title indicator--text icon icon_series">
            <h5 class="indicator__heading">Series</h5>
            <h5 class="indicator__subheading">{{ series.count }} Stories</h5>
        </div>

        <h2 class="hd-f hero--series__title"><span>{{ series.name }}</span></h2>

        <div class="sponsor">Presented by <img src="/{{ theme_dir }}/img/sponsor_gm-dark.png" class="sponsor__logo"/></div>
    </div>
</div>
{% endblock %}