{% extends "base.twig" %}

{% block content %}

    <div class="hero hero--story hero--image" style="background-image: url(http://lorempixel.com/1920/1080);"></div>

    <article class="story story--page">
        <div class="container">

            <div class="story__sticky">
                placeholder sticky content
            </div>

            <div class="story__container">
                <header>
                    <h1 class="hd-j story__hed">How Harriet Tubman Is Saving Black Women's Lives</h1>

                    <h3 class="hd-k story__dek">The founders of GirlTrek are channeling African-American pride to tackle the health
                        crisis among black women, one march at a time.</h3>
                </header>

            <div class="story__content">
                <p>The trouble started in grade school. Mom had changed shifts at the local hosiery factory. Dad was working long hours as a mechanic. Big brother had left town after enlisting in the Army. So Vonda Vass Summers would com e home each day to an empty house in Henderson, North Carolina. Alone and bored, Vonda found solace in bologna sandwiches and boxes of mac n’ cheese. She binged, then hid the evidence, hoping no one would see what she’d done.</p>
                <p>Her weight fluctuated wildly in middle school, high school and college, spiking up, plunging down. She tried Weight Watchers—some twenty-five times over the years. She married, and took a government job in Washington, DC. But nothing seemed to help. Other health problems materialized: diabetes. High blood pressure. Depression. And trigeminal neuralgia, a nerve disorder sometimes called the suicide disease because of the intense facial pain it can cause.</p>
                <p>She lost her job, and moved home to Henderson with her husband, so her parents could care for her.</p>
                <p>Medication helped ease the aching, but now that Vonda could chew again, the pounds kept piling up. Hurting and ashamed as the scale crested 270 lbs., Vonda took to her basement, popping 30 pills a day--living, to hear her tell it, in a “zombie-like state.”</p>
                <p>her family’s history of diabetes and high blood pressure, and issued a blunt warning: change your ways, or prepare for an early grave.</p>

                <aside class="pullquote icon icon_quote">
                    <h2 class="hd-l pullquote__quote">It is very difficult to take care of others when you don't have the ability to
                        take care of yourself.</h2>
                    <span class="pullquote__attribution">Vonda Vass Summers</span>
                </aside>

                <p>GirlTrek’s founders, who started the nonprofit in 2010, have already motivated thousands of women to follow in Vonda’s footsteps. They know there are miles to go. According to the Centers for Disease Control and Prevention, 80 percent of black women are overweight or obese—surpassing every other demographic group in the country. Over the age of 55, one in four has diabetes. And black women face elevated risk for stroke and high blood pressure.</p>

                <div class="module module--list module--pull related-stories fr">
                    <h3 class="hd- module__heading">Related Stories</h3>

                    <ul class="story-list">
                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Trekkers Featured On Fox</h4>
                                        <span class="byline">by Cathy Sharick</span>
                                    </header>
                                </a>
                            </article>
                        </li>

                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">GirlTrek City Reps Train To Lead Walking Revolution</h4>
                                        <span class="byline">by Greg Behrman</span>
                                    </header>
                                </a>
                            </article>
                        </li>

                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Students at LCS in Newark Pay Tribute to Expedition</h4>
                                        <span class="byline">by Cathy Sharick</span>
                                    </header>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>

                <p>Then there are the social barriers to scale. A disproportionately high percentage of black women are single mothers; finding the time to work out can be especially difficult. “A lot of black women tend to be the primary caregivers or caretakers within their families or within their communities and tend to put their own health last,” said Valerie Rochester, director of program development and training at the <a href="#">Black Women’s Health Imperative</a>, a nonprofit aimed at improving the wellness of the nation’s 19.5 million black women and girls. “It is very difficult to take care of others when you don't have the ability to take care of yourself.</p>

                <p>Even the idea of “working out” can be fraught; Vonda says where she comes from, exercise for the sake of exercise among adults can carry a stigma--as something “white folks do.”</p>

                <figure class="multimedia multimedia--gallery">
                    <div class="carousel carousel--gallery">
                        <div class="carousel__container">
                            <ul class="carousel__items">
                                <li class="carousel-item"><a href="#" class="link-wrapper">
                                        <figure class="carousel__image">
                                            <img src="http://placehold.it/940x530">
                                        </figure>
                                    </a></li>

                                <li class="carousel-item"><a href="#" class="link-wrapper">
                                        <figure class="carousel__image">
                                            <img src="http://placehold.it/940x530">
                                        </figure>
                                    </a></li>

                                <li class="carousel-item"><a href="#" class="link-wrapper">
                                        <figure class="carousel__image">
                                            <img src="http://placehold.it/940x530">
                                        </figure>
                                    </a></li>
                            </ul>
                        </div>

                        <ul class="carousel__controls">
                            <li class="carousel__control carousel__control--prev">
                                <a class="icon icon_arrow"></a>
                            </li>

                            <li class="carousel__control carousel__control--next">
                                <a class="icon icon_arrow"></a>
                            </li>
                        </ul>
                    </div>

                    <figcaption class="credit">Bill Smith / NationSwell</figcaption>
                </figure>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit porttitor quam, vel rhoncus orci vehicula
                    et. Donec sagittis sollicitudin odio ac feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nam semper ipsum ac tempor luctus. Ut consequat suscipit felis. Ut placerat enim vel aliquet eleifend.
                    Suspendisse dictum sed nulla eget egestas. Nam nunc nisi, condimentum et imperdiet quis, rutrum ut tortor.</p>

                <aside class="note fr">
                    <h3 class="hd- note__title">Morgan Dixon</h3>

                    <p class="note__content">Proin at eros non eros adipiscing mollis. Donec semper turpis sed diam. Sed consequat
                        ligula nec tortor. Integer eget sem.</p>
                </aside>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eget ornare
                    libero, vitae convallis orci. Cras est tortor, auctor at erat sed, varius rutrum purus. Duis imperdiet diam
                    nisi, vel convallis arcu tristique sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae; Ut iaculis, elit sed scelerisque condimentum, metus purus congue orci, sed eleifend velit nisi
                    pulvinar odio. Sed dignissim ligula ut euismod faucibus. Vivamus nec elit quam. Ut ultrices urna nibh, et
                    lobortis risus commodo eget. Quisque sagittis, ligula non porttitor auctor, nisi eros imperdiet nibh, eget
                    pharetra odio nisi nec ante. Vestibulum venenatis est felis, id volutpat ante dictum a. Morbi et tempor
                    turpis.</p>

                <div class="module module--list most-popular">
                    <h3 class="hd- module__heading">Popular Stories</h3>

                    <ul class="story-list">
                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Pumping More Solar Power in Sunny New Mexico</h4>
                                        <span class="byline">by Cathy Sharick</span>
                                    </header>
                                </a>
                            </article>
                        </li>

                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Pumping More Solar Power in Sunny New Mexico</h4>
                                        <span class="byline">by Cathy Sharick</span>
                                    </header>
                                </a>
                            </article>
                        </li>

                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Pumping More Solar Power in Sunny New Mexico</h4>
                                        <span class="byline">by Cathy Sharick</span>
                                    </header>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>

                <p>Cras aliquam, risus eu scelerisque adipiscing, lectus enim lobortis libero, in bibendum nunc arcu eget ipsum.
                    Vivamus id elementum odio. Cras lacinia aliquet ultrices. Praesent facilisis augue vel adipiscing posuere. Donec
                    tortor arcu, molestie pretium lacus nec, egestas laoreet nibh. Maecenas dignissim, velit luctus vehicula
                    volutpat, nibh lacus fermentum leo, at malesuada felis leo eu ipsum. Mauris ornare rhoncus nisi non venenatis.
                    Vestibulum viverra magna lacus, non dapibus nibh placerat ac. Proin eget sapien libero. Cras nibh tellus, mattis
                    id eleifend in, malesuada eu massa.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit porttitor quam, vel rhoncus orci vehicula
                    et. Donec sagittis sollicitudin odio ac feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nam semper ipsum ac tempor luctus. Ut consequat suscipit felis. Ut placerat enim vel aliquet eleifend.
                    Suspendisse dictum sed nulla eget egestas. Nam nunc nisi, condimentum et imperdiet quis, rutrum ut tortor.</p>

                <div class="module module--bg module--red statistics">
                    <h3 class="hd- module__heading">Some GirlTrek Facts</h3>

                    <div class="statistic">
                        <h4 class="hd- statistic__data">15<sub>K</sub></h4>
                        <span class="statistic__label">Members</span>
                    </div>

                    <div class="statistic">
                        <h4 class="hd- statistic__data">150<sub>K</sub></h4>
                        <span class="statistic__label">Facebook Fans</span>
                    </div>
                </div>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eget ornare
                    libero, vitae convallis orci. Cras est tortor, auctor at erat sed, varius rutrum purus. Duis imperdiet diam
                    nisi, vel convallis arcu tristique sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae; Ut iaculis, elit sed scelerisque condimentum, metus purus congue orci, sed eleifend velit nisi
                    pulvinar odio. Sed dignissim ligula ut euismod faucibus. Vivamus nec elit quam. Ut ultrices urna nibh, et
                    lobortis risus commodo eget. Quisque sagittis, ligula non porttitor auctor, nisi eros imperdiet nibh, eget
                    pharetra odio nisi nec ante. Vestibulum venenatis est felis, id volutpat ante dictum a. Morbi et tempor
                    turpis.</p>

                <figure class="multimedia multimedia-audio">
                    <!-- Audio player -->
                    <figcaption class="credit">Bill Smith / NationSwell</figcaption>
                </figure>

                <p>Cras aliquam, risus eu scelerisque adipiscing, lectus enim lobortis libero, in bibendum nunc arcu eget ipsum.
                    Vivamus id elementum odio. Cras lacinia aliquet ultrices. Praesent facilisis augue vel adipiscing posuere. Donec
                    tortor arcu, molestie pretium lacus nec, egestas laoreet nibh. Maecenas dignissim, velit luctus vehicula
                    volutpat, nibh lacus fermentum leo, at malesuada felis leo eu ipsum. Mauris ornare rhoncus nisi non venenatis.
                    Vestibulum viverra magna lacus, non dapibus nibh placerat ac. Proin eget sapien libero. Cras nibh tellus, mattis
                    id eleifend in, malesuada eu massa.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit porttitor quam, vel rhoncus orci vehicula
                    et. Donec sagittis sollicitudin odio ac feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nam semper ipsum ac tempor luctus. Ut consequat suscipit felis. Ut placerat enim vel aliquet eleifend.
                    Suspendisse dictum sed nulla eget egestas. Nam nunc nisi, condimentum et imperdiet quis, rutrum ut tortor.</p>

                <div class="module module--list related-series fr">
                    <h3 class="hd- module__heading">Related Series</h3>

                    <ul class="story-list">
                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">Trekkers Featured On Fox</h4>
                                    </header>
                                </a>
                            </article>
                        </li>

                        <li>
                            <article class="story story--link">
                                <a href="#" class="link-wrapper">
                                    <header class="story__header">
                                        <h4 class="hd- story__hed">GirlTrek City Reps Train To Lead Walking Revolution</h4>
                                        <span class="byline">by Greg Behrman</span>
                                    </header>
                                </a>
                            </article>
                        </li>
                    </ul>
                </div>

                <figure class="multimedia multimedia--with-caption multimedia--video">
                    <!-- Video player-->

                    <div class="caption">Angela Dixon, Living With Multiple Sclerosis</div>
                    <figcaption class="credit">Bill Smith / NationSwell</figcaption>
                </figure>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eget ornare
                    libero, vitae convallis orci. Cras est tortor, auctor at erat sed, varius rutrum purus. Duis imperdiet diam
                    nisi, vel convallis arcu tristique sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
                    cubilia Curae; Ut iaculis, elit sed scelerisque condimentum, metus purus congue orci, sed eleifend velit nisi
                    pulvinar odio. Sed dignissim ligula ut euismod faucibus. Vivamus nec elit quam. Ut ultrices urna nibh, et
                    lobortis risus commodo eget. Quisque sagittis, ligula non porttitor auctor, nisi eros imperdiet nibh, eget
                    pharetra odio nisi nec ante. Vestibulum venenatis est felis, id volutpat ante dictum a. Morbi et tempor
                    turpis.</p>

                <p>Cras aliquam, risus eu scelerisque adipiscing, lectus enim lobortis libero, in bibendum nunc arcu eget ipsum.
                    Vivamus id elementum odio. Cras lacinia aliquet ultrices. Praesent facilisis augue vel adipiscing posuere. Donec
                    tortor arcu, molestie pretium lacus nec, egestas laoreet nibh. Maecenas dignissim, velit luctus vehicula
                    volutpat, nibh lacus fermentum leo, at malesuada felis leo eu ipsum. Mauris ornare rhoncus nisi non venenatis.
                    Vestibulum viverra magna lacus, non dapibus nibh placerat ac. Proin eget sapien libero. Cras nibh tellus, mattis
                    id eleifend in, malesuada eu massa.</p>
            </div>
        </div>

        <div class="sidebar">
            <div class="ad ad--300">
                <div class="ad__container">
                    <img src="http://placehold.it/300x600"/>
                </div>
            </div>
        </div>
    </article>

{% endblock %}