{% extends "base.twig" %}

{% block content %}

    <div class="hero hero--story hero--image" style="background-image: url(http://lorempixel.com/1920/1080);"></div>

    <article class="story story--page">
        <div class="container">

            <div class="story__sticky">
                placeholder sticky content
            </div>

            <div class="story__container">
                <header>
                    <h1 class="hd-j story__hed">How Harriet Tubman Is Saving Black Women's Lives</h1>

                    <h3 class="hd-k story__dek">The founders of GirlTrek are channeling African-American pride to tackle the health
                        crisis among black women, one march at a time.</h3>
                </header>

                <div class="story__content">
                    <p>The trouble started in grade school. Mom had changed shifts at the local hosiery factory. Dad was working long hours as a mechanic. Big brother had left town after enlisting in the Army. So Vonda Vass Summers would come home each day to an empty house in Henderson, North Carolina. Alone and bored, Vonda found solace in bologna sandwiches and boxes of mac n’ cheese. She binged, then hid the evidence, hoping no one would see what she’d done.</p>
                    <p>Her weight fluctuated wildly in middle school, high school and college, spiking up, plunging down. She tried Weight Watchers—some twenty-five times over the years. She married, and took a government job in Washington, DC. But nothing seemed to help. Other health problems materialized: diabetes. High blood pressure. Depression. And trigeminal neuralgia, a nerve disorder sometimes called the suicide disease because of the intense facial pain it can cause.</p>
                    <p>She lost her job, and moved home to Henderson with her husband, so her parents could care for her.</p>
                    <p>Medication helped ease the aching, but now that Vonda could chew again, the pounds kept piling up. Hurting and ashamed as the scale crested 270 lbs., Vonda took to her basement, popping 30 pills a day--living, to hear her tell it, in a “zombie-like state.”</p>
                    <p>her family’s history of diabetes and high blood pressure, and issued a blunt warning: change your ways, or prepare for an early grave.</p>

                    <aside class="pullquote icon icon_quote">
                        <h2 class="hd-l pullquote__quote">It is very difficult to take care of others when you don't have the ability to
                            take care of yourself.</h2>
                        <span class="pullquote__attribution">Vonda Vass Summers</span>
                    </aside>

                    <p>GirlTrek’s founders, who started the nonprofit in 2010, have already motivated thousands of women to follow in Vonda’s footsteps. They know there are miles to go. According to the Centers for Disease Control and Prevention, 80 percent of black women are overweight or obese—surpassing every other demographic group in the country. Over the age of 55, one in four has diabetes. And black women face elevated risk for stroke and high blood pressure.</p>
                    <p>Then there are the social barriers to scale. A disproportionately high percentage of black women are single mothers; finding the time to work out can be especially difficult. “A lot of black women tend to be the primary caregivers or caretakers within their families or within their communities and tend to put their own health last,” said Valerie Rochester, director of program development and training at the <a href="#">Black Women’s Health Imperative</a>, a nonprofit aimed at improving the wellness of the nation’s 19.5 million black women and girls. “It is very difficult to take care of others when you don't have the ability to take care of yourself.</p>

                    <div class="module module--list module--pull related-stories">
                        <h3 class="hd-g module__heading">Related Stories</h3>

                        <ul class="story-list cf">
                            <li><article class="story story--link">
                                    <a href="#" class="link-wrapper">
                                        <header class="story__header">
                                            <h4 class="hd-h story__hed">Trekkers Featured on Fox</h4>
                                            <span class="byline">by Cathy Sharick</span>
                                        </header>
                                    </a>
                                </article></li>

                            <li><article class="story story--link">
                                    <a href="#" class="link-wrapper">
                                        <header class="story__header">
                                            <h4 class="hd-h story__hed">GirlTrek City Reps Train to Lead Walking Revolution</h4>
                                            <span class="byline">by Greg Behrman</span>
                                        </header>
                                    </a>
                                </article></li>
                        </ul>
                    </div>

                    <p>Even the idea of “working out” can be fraught; Vonda says where she comes from, exercise for the sake of exercise among adults can carry a stigma--as something “white folks do.”</p>

                    <figure class="multimedia multimedia--image">
                        <h3 class="hd-m multimedia__heading">GirlTrek, Walking to Hope</h3>
                        <img src="http://lorempixel.com/584/302">

                        <figcaption class="cf">
                            <span class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet, consectetur adipisicing elit, sed do.</span>
                            <span class="credit">Bill Smith / NationSwell</span>
                        </figcaption>
                    </figure>

                    <p>“We were implicated in it,” said Dixon, whose voice sometimes trembles when she talks about the  troubles black women face. “Our lives were implicated in it. There is my aunt, my mother, my sister, and my niece,” she said. “Four of us are going to be overweight, and at least two of us are going to be morbidly obese.”</p>
                    <p>Dixon was also wrestling with a particular demon of her own—depression, which “made me harder than I wanted to be, meaner than I should have been,” she says, in a personal video testimonial on the <a href="#">GirlTrek website</a>. “I feel like we medicate ourselves with alcohol, drugs, sex, church sometimes,” she continues in the video. “My drug of choice was work.”</p>
                    <p>Walking became her rehab. She started fast, intending to ramp up to run a 5K. But she found that slowing down calmed her, helped her discover nature, even prayer. On a road trip in an old Saab, she decided to make GirlTrek a full-time crusade.</p>

                    <div class="module module--list module--horizontal popular-stories">
                        <h3 class="hd-g module__heading">Popular Stories</h3>

                        <ul class="story-list cf">
                            <li><article class="story story--link">
                                    <a href="#" class="link-wrapper">
                                        <header class="story__header">
                                            <h4 class="hd-h story__hed">Pumping More Solar Power in Sunny New Mexico</h4>
                                            <span class="byline">by Cathy Sharick</span>
                                        </header>
                                    </a>
                                </article></li>

                            <li><article class="story story--link">
                                    <a href="#" class="link-wrapper">
                                        <header class="story__header">
                                            <h4 class="hd-h story__hed">How Grocery Stores Are Tricking Us Into Eating Well</h4>
                                            <span class="byline">by Greg Behrman</span>
                                        </header>
                                    </a>
                                </article></li>

                            <li><article class="story story--link">
                                    <a href="#" class="link-wrapper">
                                        <header class="story__header">
                                            <h4 class="hd-h story__hed">Pumping More Solar Power in Sunny New Mexico</h4>
                                            <span class="byline">by Cathy Sharick</span>
                                        </header>
                                    </a>
                                </article></li>
                        </ul>
                    </div>

                    <p>And history — her history, the history of black women—was central from the start. The road trip traced the path of Harriet Tubman, from a Maryland general store where the trailblazer was hit on the head for trying to help another slave, to the civil-rights heroine’s Auburn, New York home—to her gravestone, which reads “Servant of God, Well Done.” If Tubman could rally the conscience of a nation, maybe her memory could help her spiritual descendents get women off the couch and on the road toward a better life.</p>
                    <p>“The inward idea of a personal fitness goal is not what motivates our members,” says Garrison, who was raised by her grandmother, along with 11 other kids, and has a slew of cousins who struggle with all manner of health woes. “We are not a workout group. We are an army of women who are sick and tired of being sick and tired.”</p>

                    <figure class="multimedia multimedia--gallery">

                        <div class="carousel carousel--gallery">
                            <div class="carousel__container">
                                <ul class="carousel__items">
                                    <li class="carousel-item"><a href="#" class="link-wrapper">
                                            <figure class="carousel__image">
                                                <img src="http://placehold.it/940x530">
                                            </figure>
                                        </a></li>

                                    <li class="carousel-item"><a href="#" class="link-wrapper">
                                            <figure class="carousel__image">
                                                <img src="http://placehold.it/940x530">
                                            </figure>
                                        </a></li>

                                    <li class="carousel-item"><a href="#" class="link-wrapper">
                                            <figure class="carousel__image">
                                                <img src="http://placehold.it/940x530">
                                            </figure>
                                        </a></li>
                                </ul>
                            </div>

                            <ul class="carousel__controls">
                                <li class="carousel__control carousel__control--prev">
                                    <a class="icon icon_arrow"></a>
                                </li>

                                <li class="carousel__control carousel__control--next">
                                    <a class="icon icon_arrow"></a>
                                </li>
                            </ul>
                        </div>

                        <figcaption class="cf">
                            <span class="credit">Bill Smith / NationSwell</span>
                        </figcaption>
                    </figure>

                    <p>GirlTrek took its first steps in Bridgeport, Connecticut, where Dixon was working with a charter school at the time. Girls signed up; hikes were had. But something was wrong.  The founders quickly realized the program would require discipline and follow-through—the sort of thing that would be hard to accomplish without the support of the girls’ parents. “While it was seemingly transformative for a lot of the girls who went on these hikes with us, it didn’t seem fair to those girls that they had to be the health advocates in their families,” Dixon said.  Dixon and Garrison decided to tweak the formula: target the mothers. The cubs will fall in line.</p>

                    <figure class="multimedia multimedia--audio">
                        <h3 class="hd-m multimedia__heading">Morgan Dixon Interview</h3>

                        <div class="multimedia__content">
                            audio content
                        </div>

                        <figcaption class="cf">
                            <span class="credit">Bill Smith / NationSwell</span>
                        </figcaption>
                    </figure>

                    <p>After that, things grew quickly. Today, GirlTrek has a network of 15,000 women out walking, and more than 150,000 fans on Facebook. They further tap the power of the social web by encouraging participants to post their activity on a corner of their site called the Locker Room. There, they tout their own achievements, urge others to join the fun—and create a library of ladies in action, a potent counterweight to negative social stereotypes.</p>
                    <p>When the group started, Dixon says, there were few images of black women exercising to choose from to help illustrate the site; Google searches yielded pornography. “If young women can’t picture what it looks like to be healthy, if they can’t see women who look like them in all shapes and forms glowing, sweating, and exercising…they are not going to aspire to it,” said Dixon. "So we really want to raise the level of aspiration for our girls in terms of healthy living."</p>

                    <figure class="multimedia multimedia--image">
                        <h3 class="hd-m multimedia__heading">Angela Dixon, Living with Multiple Sclerosis</h3>

                        <div class="multimedia__content">
                            <img src="http://lorempixel.com/584/302">
                        </div>

                        <figcaption class="cf">
                            <span class="credit">Bill Smith / NationSwell</span>
                        </figcaption>
                    </figure>

                    <p>The group urges its followers to walk 30 minutes a day, five days a week—a regimen based on guidelines for exercise benefits drawn up by the <a href="#">Centers for Disease Control</a>. In June of 2012, the group entered a social innovation award competition sponsored by Teach for America, and won—securing a year’s worth of funding, and ultimately attracting support from such groups as REI, the Sierra Club and the National Park Service. Working with 23 volunteer health leaders around the country, they have set a goal of recruiting one million women to the cause over the next five years.</p>
                    <p>Internally, Morgan is the head; Garrison the heart. “The mental component is so important, and Morgan really brings that focus, which is that we… really need to address the root causes of what is making us overweight,” her co-founder says. “And then from my point of view it’s around the urgency of the mission. We literally are dying at higher and faster rates, and I’m talking about people I know and love and this is what it looks like. This is what crisis looks like.”</p>
                </div>

                <div class="story__tags">
                    <ul class="tags-list">
                        <li><a href="#" class="tag">Economy</a></li>
                        <li><a href="#" class="tag">Global</a></li>
                    </ul>
                </div>

                <div class="author cf">
                    <div class="author__a fl">
                        <img src="http://lorempixel.com/134/134" class="author__portrait">

                        <div class="author__contact">
                            <a href="#" class="author__url">www.catcheny.com</a>

                            <ul class="author__social">
                                <li><a href="#" class="icon icon_facebook"></a></li>
                                <li><a href="#" class="icon icon_twitter"></a></li>
                                <li><a href="#" class="icon icon_tumblr"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="author__b">
                        <h2 class="hd-n author__byline">Catherine Cheney</h2>
                        <p class="author__bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in consequat enim. Aliquam iaculis porta ornare. Nunc rutrum id elit et consectetur. Duis purus sem, faucibus egestas sem at, tempor posuere enim.</p>
                    </div>
                </div>

                <div class="ad ad--300 ad--pull">
                    <div class="ad__container">
                        <img src="http://placehold.it/300x250"/>
                    </div>
                </div>

                <div class="story__social cf">
                    <a href="#" class="btn btn--bar btn--facebook icon icon_facebook">Follow on Facebook</a>
                    <a href="#" class="btn btn--bar btn--twitter icon icon_twitter">Follow on Twitter</a>
                </div>

                <div class="module module--bg module--red take-action take-action--buy cf">
                    <header>
                        <div class="indicator indicator--module icon icon_write"></div>
                        <h3 class="hd-e module__heading">Take Action</h3>
                    </header>

                    <h2 class="hd-l take-action__heading">Buy a GirlTrek T-Shirt</h2>

                    <div class="take-action__a">
                        <img src="http://lorempixel.com/256/256" class="take-action__img">
                    </div>

                    <div class="take-action__b">
                        <p>Show your support for the group’s mission and buy a superhero-blue GirlTrek t-shirt. Wear it out whenever you go walking in your community, particularly on Saturdays.</p>
                        <a href="#" class="btn btn--solid">Buy now</a>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <div class="ad ad--300">
                    <div class="ad__container">
                        <img src="http://placehold.it/300x600"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="read-next">
            <div class="container">
                <h3 class="hd-g read-next__heading">Read Next</h3>

                <ul class="story-list">
                    <li><article class="story story--tease">
                            <a href="#" class="link-wrapper">
                                <figure class="story__feature fl">
                                    <img src="http://lorempixel.com/600/330/business"/>
                                </figure>

                                <header class="story__header">
                                    <span class="rubric">Economy</span>
                                    <h2 class="hd-d story__hed">World Faces “Perfect Storm” Of Problems By 2030</h2>
                                    <p class="story__dek">John Beddington talks of a ‘perfect storm’ of food, energy and water shortages converging in 2030. Governments and business are beginning to take action.</p>
                                </header>
                            </a>
                        </article></li>

                    <li><article class="story story--tease">
                            <a href="#" class="link-wrapper">
                                <figure class="story__feature fl">
                                    <img src="http://lorempixel.com/600/330/people"/>
                                </figure>

                                <header class="story__header">
                                    <span class="rubric">Environment</span>
                                    <h2 class="hd-d story__hed">Pumping More Solar Power in Sunny New Mexico</h2>
                                    <p class="story__dek">New Mexico basks in more than 300 days of sunshine every year, an average that gives it the highest potential for solar energy than almost anywhere else in the country. And yet, in sunny New Mexico, coal is still king.</p>
                                </header>
                            </a>
                        </article></li>

                    <li><article class="story story--tease">
                            <a href="#" class="link-wrapper">
                                <figure class="story__feature fl">
                                    <img src="http://lorempixel.com/600/330/animals"/>
                                </figure>

                                <header class="story__header">
                                    <span class="rubric">Health</span>
                                    <h2 class="hd-d story__hed">How Grocery Stores Are Tricking Us to Eat Well</h2>
                                    <p class="story__dek">Scientists are getting clever. They want us to buy more fruit at the store, to make us more healthy. How can they trick us into doing that?</p>
                                </header>
                            </a>
                        </article></li>
                </ul>
            </div>
        </div>
    </article>

{% endblock %}