{% if (post.sponsored_story is not empty) and (post.sponsored_story != '0')  %}
    <div class="sponsorship-text">
    	{% if post.get_field('partnership') %}
    		<p>In Partnership With <span>{{ post.sponsor_name }}</span></p></div>
    	{% else %}
	    	<p>{% if post.sponsored_story_label is not empty %}{{ post.sponsored_story_label }}{% else %}Presented by{% endif %} <span>{{ post.sponsor_name }}</span></p></div>
	    {% endif %}
{% endif %}