{% if (post.sponsored_story is not empty) and (post.sponsored_story != '0')  %}
    <div class="sponsorship"><p><a href="http://nationswell.com/sponsored-content-nationswell/">This is a sponsored story, produced in collaboration with:</a></p> {% if post.sponsor_image is not empty %}<img src="{{ TimberImage(post.sponsor_image).src|resize(88, 31) }}"/>{% endif %}</div>
{% endif %}