{% if (post.sponsored_story is not empty) and (post.sponsored_story != '0')  %}
    <div class="sponsorship"><p>This is a <a href="http://nationswell.com/sponsored-content-nationswell/">sponsored story</a>, produced in collaboration with:</p> {% if post.sponsor_image is not empty %}<img src="{{ TimberImage(post.sponsor_image).src|resize(88, 31) }}"/>{% endif %}</div>
{% endif %}