{% extends "base.twig" %}

{% block content %}

    <div class="static__container">
        <div class="container">
            <main class="static__main-column" role="main">
                <header>
                    <h1 class="hd-j static__hed">Privacy Policy</h1>
                    <h3 class="static__last-updated">Last Updated October 25, 2013</h3>
                </header>

                <div class="static__content">
                    {{ post.post_content }}
                </div>
            </main>

            <div class="sidebar hide_mobile">
                {{ sidebar_story }}
            </div>
        </div>
    </div>

{% endblock %}