<div class="module module--bg module--sidebar module--blue join-us hide_mobile">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_nationswell-flag"></div>
        <h3 class="hd-e module__heading">{{ title }}</h3>
    </header>

    <p>{{ description }}</p>

    <div id="mc_embed_signup">
        <form action="{{ mailchimp_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
    </div>
</div>