<div class="module module--bg module--sidebar module--blue join-us hide_mobile">
    <header>
        <div class="indicator indicator--blue indicator--module icon icon_nationswell-flag"></div>
        <h3 class="hd-e module__heading">{{ title }}</h3>
    </header>

    <p>{{ description }}</p>

    <span class="btn btn--bar btn--facebook icon icon_facebook"><div class="fb-like" data-href="{{ facebook_like_url }}" data-width="48" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-ref="flyout"></div></span>
    <span class="btn btn--bar btn--twitter icon icon_twitter">
        <a href="https://twitter.com/nationswell" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @nationswell</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </span>
</div>