body {
	background-color:#fff;
	font-family:helvetica;
	font-size:24px;
	color:#000;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#topnav 
{
	position:fixed;
	top:0px;
	width:100%;
	background-color:#fff;
	border-bottom:2px solid #eee;
}
h1 {
	max-width:800px;
	width:90%;
	font-size:32px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#topnavspacer 
{
	margin-bottom:50px;
}
.date
{
	color:#666;
}
#datadrop {
	max-width:800px;
	width:90%;
	display:block;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}
.boxtop {
	width:100%;
	padding-left:12px;
	padding-right:12px;
	text-align:left;
	display:inline-block;
}
.test {
	max-width:800px;
	font-size:14px;
	width:90%;
	display:inline-block;
	background-color:#fff;
	margin-left:auto;
	border:1px solid #e4e4e9;
	border-top:0px;
	text-align:left;
	border-bottom:0px;	
	padding-bottom:5px;
	padding-top:0px;
	margin-top:0px;
}
.testsummary {
	display:inline-block;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:left;
	text-indent:7px;
	background-color:#e4e4e9;
	padding:5px 0px;
}
.datetime {
	font-weight:bold;
	display:inline-block;
	margin-right:15px;
}
.storylink {
	color:#3b3958;
	text-decoration:none;
}
.storylink:hover {
	color:#5b5978;
	border-bottom:2px solid #5b5978;
}
.testtype {
	margin-left:10px;
	display:inline-block;
	font-weight:bold;
}
.varrow {
	display:inline-block;
	font-size:22px;
	color:#000;
	margin:0px 12px;
	margin-top:10px;
}
.engbar {
	background-color:#3b5998;
	margin:0px;
	display:inline-block;
	min-height:6px;
	color:#3b5998;
	min-width:1px;
	margin-left:12px;
	max-width:90%;
}
.engnumber {
	display:inline-block;
	margin-left:3px;
	font-size:10px;
	padding:2px;
}
.testnumber{
	color:#888;
	font-weight:lighter;
}