* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #EEE 0, #EEE 6.17215%, transparent 6.17215%, transparent 8.5298%, #EEE 8.5298%, #EEE 14.70196%, transparent 14.70196%, transparent 17.05961%, #EEE 17.05961%, #EEE 23.23176%, transparent 23.23176%, transparent 25.58941%, #EEE 25.58941%, #EEE 31.76157%, transparent 31.76157%, transparent 34.11922%, #EEE 34.11922%, #EEE 40.29137%, transparent 40.29137%, transparent 42.64902%, #EEE 42.64902%, #EEE 48.82117%, transparent 48.82117%, transparent 51.17883%, #EEE 51.17883%, #EEE 57.35098%, transparent 57.35098%, transparent 59.70863%, #EEE 59.70863%, #EEE 65.88078%, transparent 65.88078%, transparent 68.23843%, #EEE 68.23843%, #EEE 74.41059%, transparent 74.41059%, transparent 76.76824%, #EEE 76.76824%, #EEE 82.94039%, transparent 82.94039%, transparent 85.29804%, #EEE 85.29804%, #EEE 91.4702%, transparent 91.4702%, transparent 93.82785%, #EEE 93.82785%, #EEE 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }

@font-face {
  font-family: 'oswaldregular';
  src: url("../fonts/oswald_emdash/oswald-regular-emdash-webfont.eot");
  src: url("../fonts/oswald_emdash/oswald-regular-emdash-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald_emdash/oswald-regular-emdash-webfont.woff") format("woff"), url("../fonts/oswald_emdash/oswald-regular-emdash-webfont.ttf") format("truetype"), url("../fonts/oswald_emdash/oswald-regular-emdash-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt-serif';
  src: url("../fonts/pt-serif/pt_serif-web-regular-webfont.woff2") format("woff2"), url("../fonts/pt-serif/pt_serif-web-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt-serif-bold';
  src: url("../fonts/pt-serif/pt_serif-web-bold-webfont.woff2") format("woff2"), url("../fonts/pt-serif/pt_serif-web-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt-serif-italic';
  src: url("../fonts/pt-serif/pt_serif-web-italic-webfont.woff2") format("woff2"), url("../fonts/pt-serif/pt_serif-web-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.hero--cover.hero--story {
  height: 100vh;
  max-height: none;
  margin-top: -10.4rem;
  padding-top: 10.4rem;
  padding-bottom: 0;
  background-origin: content-box; }
  .hero--cover.hero--story .container {
    max-width: none; }
    .hero--cover.hero--story .container .hero--video__container {
      width: 100%;
      height: 100%; }
      .hero--cover.hero--story .container .hero--video__container.video-container iframe, .hero--cover.hero--story .container .hero--video__container.video-container object, .hero--cover.hero--story .container .hero--video__container.video-container embed {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin-top: -104px;
        padding-top: 104px; }
  .hero--cover.hero--image.hero--story {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .hero--cover.hero--image.hero--story .hero-read {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center; }
      .hero--cover.hero--image.hero--story .hero-read .hero-read-link {
        display: inline-block;
        font-family: "oswaldregular", Arial, sans-serif;
        font-size: 2.0rem;
        color: #fff;
        background: #dd322c;
        text-transform: uppercase;
        padding: 1.0rem 1.5rem;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: padding 0.25s ease-out;
        -moz-transition: padding 0.25s ease-out;
        transition: padding 0.25s ease-out; }
        .hero--cover.hero--image.hero--story .hero-read .hero-read-link:hover {
          padding: 1.5rem 1.5rem; }
        .hero--cover.hero--image.hero--story .hero-read .hero-read-link:after {
          content: "\25be";
          position: relative;
          top: -2px;
          margin-left: 1rem; }
  .story__main-column .hero--cover.hero--story {
    padding-bottom: 0;
    height: auto;
    max-height: none; }
    .story__main-column .hero--cover.hero--story img {
      max-width: 100%;
      display: block; }
  .widescreen__main-column .hero--cover.hero--story {
    padding-bottom: 0;
    height: auto;
    max-height: none; }
    .widescreen__main-column .hero--cover.hero--story img {
      max-width: 100%;
      display: block; }

/**
 * buttons
 */
.btn--solid {
  font-size: 1.76rem; }

.btn.btn--take-action {
  font-size: 1.74rem; }

/**
 * components
 */
.indicator.indicator--module:before {
  font-size: 5.8rem; }

.google_top_posts {
  width: 100%; }

/* module */
.module.module--sidebar {
  width: 100%; }
.module.module--list.module--horizontal {
  margin: 5rem 0; }
  .module.module--list.module--horizontal .story-list li {
    margin-right: 4%; }

/* author */
.author-box {
  margin-bottom: 7.2rem; }

.author__a {
  float: none; }

.author__b {
  margin-top: 2.2rem;
  padding-left: 0;
  text-align: center; }

/**
 * forms
 */
.form-element .text-input {
  padding: 1.15rem 1.4rem; }

/**
 * headings
 */
.hd-b {
  font-size: 2.8rem; }

.hd-d {
  font-size: 2.8rem; }

.hd-f {
  font-size: 4.4rem;
  padding: 0.5rem;
  line-height: 1.66; }

.hd-l {
  font-size: 2.6rem; }

/**
 * homepage
 */
/* hero */
.hero--homepage.hero--grid .hero__entry.hero__entry--1:before {
  margin-right: 2px; }
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .story__hed {
  margin-bottom: 3.4rem; }
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .support-cause--hero {
  margin-bottom: 3.2rem; }
.hero--homepage.hero--grid .hero__entry.hero__entry--2.hero__entry--2:before {
  margin-bottom: 2px; }
.hero--homepage.hero--grid .hero__entry .story--hero {
  padding: 2.4rem 4.4rem; }
  .hero--homepage.hero--grid .hero__entry .story--hero .story_dek {
    font-size: 1.8rem; }

/* river */
.river--one-col .story-teases .story--tease {
  margin-bottom: 0rem; }
  .river--one-col .story-teases .story--tease:last-child {
    margin-bottom: 3.4rem; }
  .river--one-col .story-teases .story--tease:hover {
    background-color: transparent;
    box-shadow: none; }
  .river--one-col .story-teases .story--tease .support-cause {
    display: none; }

/**
 * story
 */
/* sticky */
.story__sticky-container {
  width: 14.6rem; }

.module.take-action .take-action__a,
.module.take-action .take-action__b {
  width: 100%;
  float: none;
  padding: none; }
.module.take-action .take-action__a {
  margin-bottom: 1.2rem; }
.module.take-action .module.take-action .take-action__a + .take-action__b {
  padding-left: 3.4rem; }
.module.take-action .politician__information {
  max-width: 22rem; }

/**
 * structure
 */
.container {
  max-width: 98.4rem;
  padding: 0 2rem; }
  .container.container--flex {
    width: auto;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex; }

#page-wrapper {
  min-width: 768px;
  width: 100%; }

.story__sticky {
  -webkit-box-flex: 1;
  width: auto;
  min-width: 14.6rem;
  max-width: 15.63786%; }

.story__main-column {
  -webkit-box-flex: 1;
  width: auto;
  max-width: 49.38272%;
  float: none;
  padding-left: 2rem; }

.widescreen__main-column {
  -webkit-box-flex: 1;
  width: auto;
  float: none;
  padding-left: 2rem; }

.sidebar {
  -webkit-box-flex: 1;
  padding-left: 2rem;
  width: auto;
  min-width: 32rem;
  max-width: 32.51029%; }

.hero .hero-information .hero-information__content {
  margin-left: 0;
  width: 100%; }

.hero .hero-information .hero-information__caption {
  margin-left: 0; }

.hero .hero-information .hero-information__credit {
  float: right; }

.hero .hero-information .widescreen-hero-information__caption {
  margin-left: 0; }

.hero .hero-information .widescreen-hero-information__credit {
  float: right; }

.river .story-teases {
  -webkit-box-flex: 1;
  width: auto;
  min-height: 25px; }
  .river .story-teases:last-child {
    margin-right: 1.23457%; }
.river.river--one-col .story-teases .story__feature {
  width: 50%; }

.module.module--list.module--horizontal .story-list li {
  margin-right: 3.82%; }

.footer-links {
  position: absolute;
  bottom: 3rem;
  right: 0;
  max-width: 41.5rem;
  margin-top: 0; }

.widescreen__main-column {
  display: block;
  float: none;
  margin-right: 2.35765%; }

/*# sourceMappingURL=desktop-small.css.map */
