/* line 1, ../scss/nscportal.scss */
.portal__main-column {
  width: 100%;
}

/* line 5, ../scss/nscportal.scss */
#directory-nav {
  display: block;
  width: 100%;
}

/* line 10, ../scss/nscportal.scss */
#directory-nav #member-title {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

/* line 17, ../scss/nscportal.scss */
#directory-nav #directory-tabs {
  display: block;
  width: 100%;
}

/* line 22, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul li {
  font-size: 3rem;
}

/* line 26, ../scss/nscportal.scss */
.contacts .contact-info .contact__portrait .about-contact {
  padding: 0 2rem;
}

/* line 30, ../scss/nscportal.scss */
.portal__main-column {
  width: 90%;
  margin-left: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #7e7e7e;
}

/* line 37, ../scss/nscportal.scss */
#directory-nav {
  display: table;
  width: 100%;
}

/* line 42, ../scss/nscportal.scss */
#directory-nav #member-title {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding: 1.5rem;
}

/* line 50, ../scss/nscportal.scss */
#directory-nav #member-title #border-left {
  position: absolute;
  bottom: 0;
  width: 8rem;
  border-bottom: 0.45rem solid #dbdbdb;
}

/* line 57, ../scss/nscportal.scss */
#directory-nav #member-title h1 {
  color: #333;
}

/* line 61, ../scss/nscportal.scss */
#directory-nav #directory-tabs {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}

/* line 67, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul {
  display: block;
  float: right;
  width: 100%;
}

/* line 73, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul li {
  display: inline-block;
  width: 18%;
}

/* line 78, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul a {
  color: #061822;
}

/* line 82, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul a:hover {
  color: #0098d8;
}

/* line 86, ../scss/nscportal.scss */
#directory-nav #directory-tabs ul .active a {
  color: #0098d8;
  border-bottom: 0.25rem solid #fc3b40;
}

/* line 91, ../scss/nscportal.scss */
.contacts .contact-info {
  display: table;
  padding: 3rem 0;
  width: 100%;
}

/* line 97, ../scss/nscportal.scss */
.contacts .contact-info .contact__portrait {
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  margin: 0;
}

/* line 104, ../scss/nscportal.scss */
.contacts .contact-info .about-contact {
  display: table-cell;
  vertical-align: middle;
  padding: 0 2rem;
}

/* line 110, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .bio-content {
  padding: 1rem 0;
}

/* line 114, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-interests {
  color: #0098d8;
}

/* line 118, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social {
  display: inline-block;
  text-align: center;
}

/* line 123, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .icon {
  line-height: 2;
}

/* line 127, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .icon:before {
  padding: .25rem;
  color: #fff;
  margin: .5rem 1rem 0 0;
  height: 1rem;
}

/* line 134, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .contact-phone:before {
  background-color: #061822;
  padding: .25rem .4rem;
}

/* line 139, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .contact-email:before {
  background-color: #fc3b40;
}

/* line 143, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .contact-linkedin:before {
  background-color: #333333;
}

/* line 147, ../scss/nscportal.scss */
.contacts .contact-info .about-contact .contact-social .contact-twitter:before {
  background-color: #5ec2e8;
}

/*# sourceMappingURL=nscportal.css.map */
