/**
 * buttons
 */
/* line 5, ../scss/small-desktop.scss */
.btn--solid {
  font-size: 1.76rem;
}

/* line 10, ../scss/small-desktop.scss */
.btn.btn--take-action {
  font-size: 1.74rem;
}

/**
 * components
 */
/* indicator */
/* line 22, ../scss/small-desktop.scss */
.indicator.indicator--module:before {
  font-size: 5.8rem;
}

/* line 28, ../scss/small-desktop.scss */
.google_top_posts {
  width: 100%;
}

/* module */
/* line 49, ../scss/small-desktop.scss */
.module.module--sidebar {
  width: 100%;
}
/* line 54, ../scss/small-desktop.scss */
.module.module--list.module--horizontal {
  margin: 5rem 0;
}
/* line 57, ../scss/small-desktop.scss */
.module.module--list.module--horizontal .story-list li {
  margin-right: 4%;
}

/* author */
/* line 65, ../scss/small-desktop.scss */
.author-box {
  margin-bottom: 7.2rem;
}

/**
 * forms
 */
/* line 74, ../scss/small-desktop.scss */
.form-element .text-input {
  padding: 1.15rem 1.4rem;
}

/**
 * headings
 */
/* line 83, ../scss/small-desktop.scss */
.hd-b {
  font-size: 2.8rem;
}

/* line 87, ../scss/small-desktop.scss */
.hd-d {
  font-size: 2.8rem;
}

/* line 91, ../scss/small-desktop.scss */
.hd-f {
  font-size: 4.4rem;
  padding: 0.5rem;
  line-height: 1.66;
}

/* line 97, ../scss/small-desktop.scss */
.hd-l {
  font-size: 2.6rem;
}

/**
 * homepage
 */
/* hero */
/* line 110, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1:before {
  margin-right: 2px;
}
/* line 114, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .story__hed {
  margin-bottom: 3.4rem;
}
/* line 118, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .support-cause--hero {
  margin-bottom: 3.2rem;
}
/* line 125, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--2.hero__entry--2:before {
  margin-bottom: 2px;
}
/* line 131, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry .story--hero {
  padding: 2.4rem 4.4rem;
}

/* river */
/* line 142, ../scss/small-desktop.scss */
.river--one-col .story-teases .story--tease:hover {
  background-color: transparent;
  box-shadow: none;
}
/* line 146, ../scss/small-desktop.scss */
.river--one-col .story-teases .story--tease .support-cause {
  display: none;
}

/**
 * story
 */
/* sticky */
/* line 158, ../scss/small-desktop.scss */
.story__sticky-container {
  width: 14.6rem;
}

/* line 164, ../scss/small-desktop.scss */
.module.take-action .take-action__a,
.module.take-action .take-action__b {
  width: 100%;
  float: none;
  padding: none;
}
/* line 171, ../scss/small-desktop.scss */
.module.take-action .take-action__a {
  margin-bottom: 1.2rem;
}
/* line 175, ../scss/small-desktop.scss */
.module.take-action .module.take-action .take-action__a + .take-action__b {
  padding-left: 3.4rem;
}
/* line 179, ../scss/small-desktop.scss */
.module.take-action .politician__information {
  max-width: 22rem;
}

/**
 * structure
 */
/* line 188, ../scss/small-desktop.scss */
.container {
  max-width: 98.4rem;
  padding: 0 2rem;
}
/* line 192, ../scss/small-desktop.scss */
.container.container--flex {
  width: auto;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

/* line 202, ../scss/small-desktop.scss */
#page-wrapper {
  min-width: 768px;
  width: 100%;
}

/* line 207, ../scss/small-desktop.scss */
.story__sticky {
  -webkit-box-flex: 1;
  width: auto;
  min-width: 14.6rem;
  max-width: 15.63786%;
}

/* line 214, ../scss/small-desktop.scss */
.story__main-column {
  -webkit-box-flex: 1;
  width: auto;
  max-width: 49.38272%;
  float: none;
  padding-left: 2rem;
}

/* line 222, ../scss/small-desktop.scss */
.photo-essay__main-column {
  -webkit-box-flex: 1;
  width: auto;
  float: none;
  padding-left: 2rem;
}

/* line 229, ../scss/small-desktop.scss */
.sidebar {
  -webkit-box-flex: 1;
  padding-left: 2rem;
  width: auto;
  min-width: 32rem;
  max-width: 32.51029%;
}

/* line 238, ../scss/small-desktop.scss */
.hero .hero-information .hero-information__content {
  margin-left: 0;
  width: 100%;
}

/* line 243, ../scss/small-desktop.scss */
.hero .hero-information .hero-information__caption {
  margin-left: 0;
}

/* line 247, ../scss/small-desktop.scss */
.hero .hero-information .hero-information__credit {
  float: right;
}

/* line 252, ../scss/small-desktop.scss */
.river .story-teases {
  -webkit-box-flex: 1;
  width: auto;
  min-height: 25px;
}
/* line 258, ../scss/small-desktop.scss */
.river .story-teases:last-child {
  margin-right: 1.23457%;
}
/* line 265, ../scss/small-desktop.scss */
.river.river--one-col .story-teases .story__feature {
  width: 50%;
}

/* line 272, ../scss/small-desktop.scss */
.module.module--list.module--horizontal .story-list li {
  margin-right: 3.82%;
}

/* line 276, ../scss/small-desktop.scss */
.author__a {
  float: none;
}

/* line 280, ../scss/small-desktop.scss */
.author__b {
  margin-top: 2.2rem;
  padding-left: 0;
  text-align: center;
}

/* line 286, ../scss/small-desktop.scss */
.footer-links {
  position: absolute;
  bottom: 3rem;
  right: 0;
  max-width: 41.5rem;
  margin-top: 0;
}

/* line 295, ../scss/small-desktop.scss */
.photo-essay__main-column {
  display: block;
  float: none;
  margin-right: flex-gutter(container-span(6));
}
