/**
 * buttons
 */
/* line 5, ../scss/small-desktop.scss */
.btn--solid {
  font-size: 1.76rem;
}

/* line 10, ../scss/small-desktop.scss */
.btn.btn--take-action {
  font-size: 1.74rem;
}

/**
 * components
 */
/* indicator */
/* line 22, ../scss/small-desktop.scss */
.indicator.indicator--module:before {
  font-size: 5.8rem;
}

/* module */
/* line 30, ../scss/small-desktop.scss */
.module.module--sidebar {
  width: 100%;
}
/* line 35, ../scss/small-desktop.scss */
.module.module--list.module--horizontal {
  margin: 5rem 0;
}
/* line 38, ../scss/small-desktop.scss */
.module.module--list.module--horizontal .story-list li {
  margin-right: 4%;
}

/* author */
/* line 46, ../scss/small-desktop.scss */
.author-box {
  margin-bottom: 7.2rem;
}

/**
 * forms
 */
/* line 55, ../scss/small-desktop.scss */
.form-element .text-input {
  padding: 1.15rem 1.4rem;
}

/**
 * headings
 */
/* line 64, ../scss/small-desktop.scss */
.hd-b {
  font-size: 2.8rem;
}

/* line 68, ../scss/small-desktop.scss */
.hd-d {
  font-size: 2.8rem;
}

/* line 72, ../scss/small-desktop.scss */
.hd-f {
  font-size: 4.4rem;
  padding: 0.5rem;
  line-height: 1.66;
}

/* line 78, ../scss/small-desktop.scss */
.hd-l {
  font-size: 2.6rem;
}

/**
 * homepage
 */
/* hero */
/* line 91, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1:before {
  margin-right: 2px;
}
/* line 95, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .story__hed {
  margin-bottom: 3.4rem;
}
/* line 99, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--1 .support-cause--hero {
  margin-bottom: 3.2rem;
}
/* line 106, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry.hero__entry--2.hero__entry--2:before {
  margin-bottom: 2px;
}
/* line 112, ../scss/small-desktop.scss */
.hero--homepage.hero--grid .hero__entry .story--hero {
  padding: 2.4rem 4.4rem;
}

/* river */
/* line 123, ../scss/small-desktop.scss */
.river--one-col .story-teases .story--tease:hover {
  background-color: transparent;
  box-shadow: none;
}

/**
 * story
 */
/* sticky */
/* line 136, ../scss/small-desktop.scss */
.story__sticky-container {
  width: 14.6rem;
}

/* line 143, ../scss/small-desktop.scss */
.module.take-action .take-action__a,
.module.take-action .take-action__b {
  width: 100%;
  float: none;
  padding: none;
}
/* line 149, ../scss/small-desktop.scss */
.module.take-action .take-action__a {
  margin-bottom: 1.2rem;
}
/* line 153, ../scss/small-desktop.scss */
.module.take-action .module.take-action .take-action__a + .take-action__b {
  padding-left: 3.4rem;
}
/* line 157, ../scss/small-desktop.scss */
.module.take-action .politician__information {
  max-width: 22rem;
}

/**
 * structure
 */
/* line 166, ../scss/small-desktop.scss */
.container {
  width: 98.4rem;
  max-width: 98.4rem;
}

/* line 171, ../scss/small-desktop.scss */
#page-wrapper {
  min-width: 98.4rem;
}

/* line 175, ../scss/small-desktop.scss */
.sidebar {
  padding-left: 2rem;
}

/* line 181, ../scss/small-desktop.scss */
.river .story-teases:last-child {
  margin-right: 1.23457%;
}
