// Font weights
$regular: 400;
$bold: 700;

// Fonts
$gudea: 'Gudea', Arial, sans-serif;
$oswald: 'Oswald', Arial, sans-serif;
$montserrat: 'Montserrat', Arial, sans-serif;
$noto-serif: 'Noto Serif', Georgia, serif;

// Base font
$base-font-color: #333;
$base-font-family: $gudea;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.618;

@import "modules/all";