@import "../neat/neat-helpers";

// Grid settings (TEMP: fake retina)
$column: 80px;
$gutter: 24px;
$grid-columns: 6;
$max-width: em(624);

/*
// Grid settings
$column: 40px;
$gutter: 12px;
$grid-columns: 6;
$max-width: em(312);
*/
