// Bourbon
@import "../bourbon/bourbon";
@import "../neat/neat-helpers";

// Grid settings (TEMP: fake retina)
$column: 128px;
$gutter: 96px;
$grid-columns: 12;
$max-width: em(1488);

/*
// Grid settings
$column: 48px;
$gutter: 14px;
$grid-columns: 12;
$max-width: em(624);
*/

// Init Neat
@import "../neat/neat";