.carousel {
  position: relative;
  margin-bottom: 6.8rem;
}

.carousel__items {
  display: block;
}

.carousel-item {
  display: block;
  float: left;
  height: 46rem;
  position: relative;
  text-align: center;
}

.carousel--series__images {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel--series__image {
  display: block;
  float: left;
  height: 100%;
  width: 33.3334%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:first-child {
    box-shadow: inset -2px 0 0 $white;
  }

  &:last-child {
    box-shadow: inset 2px 0 0 $white;
  }
}

.carousel-item__overlay {
  position:absolute;
  left:0;
  right:0;
  top: 0;
  margin-left:auto;
  margin-right:auto;
  width: 64%;
  height: 100%;
}

.carousel-item__title {

}

.carousel__controls {
}

.carousel__control {
  cursor: pointer;
  position: absolute;
  top: 20rem;

  &.carousel__control--prev {
    left: 6rem;

    &:hover {
    }

    .icon {
      @include transform(rotate(180deg));
    }
  }

  &.carousel__control--next {
    right: 6rem;
  }

  &:hover {}

  .icon {
    color: $white;
    font-size: 10rem;
    width: 6rem;
    height: 6rem;

    &:hover {}
  }
}

.carousel--photo {
  .carousel-item {
    width: 94rem;
    height: 54rem;
    box-shadow: -2px 0 0 $white;
  }

  .carousel--photo__image {
    width: 94rem;
    height: 54rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item__overlay {
    display: none;
  }

  .carousel-item {

    &:nth-child(2) {
      .carousel-item__overlay {
        display: table;
      }
    }
  }
}