/* hero */
.hero {
  background-color: $ns_navy3;
  position: relative;
}

/* rubric */
.rubric {
  background-color: $ns_red;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
  font-size: 1.4rem;
  padding: 0.6rem 0.8rem;
  margin-bottom: 1.8rem;
}

/* support cause */
.support-cause {
  .support-cause__heading {
    color: $ns_red;
    margin-bottom: 1.4rem;
  }

  .support-cause__data {
    font-family: $oswald;
    font-size: 3.4rem;
    line-height: 3.4rem;
    vertical-align: middle;

    &.support-cause__data--red {
      color: $ns_red;
    }

    &.support-cause__data--blue {
      color: $ns_blue1;
    }

    .super {
      font-size: 2rem;
      font-weight: $regular;
      position: relative;
      top: -1.4rem;
    }
  }

  .support-cause__label {
    color: $ns_black;
    font-family: $oswald;
    font-size: 2rem;
    font-weight: $light;
    position: relative;
    top: -4px;

    -webkit-font-smoothing:antialiased;
  }

  .support-cause__separator {
    color: $gray5;
    font-size: 4.4rem;
    display: inline-block;
    vertical-align: bottom;
    line-height: 3rem;
    margin: 0 1rem;
  }
}

.support-cause--hero {
  background-color: $ns_red;
  display: inline-block;
  padding: 1.4rem;

  .support-cause__heading {
    color: $white;
  }

  .support-cause__data {
    color: $white;
  }

  .support-cause__label {
    color: $white;
  }

  .support-cause__separator {
    color: $white;
    font-size: 5.8rem;
    line-height: 2.4rem;
    margin: 0;
  }
}