#page-header {
  background-color: $ns_navy2;
}

.site-logo {
  &.site-logo--header {}
}

.social-links {
  li {}
}

.social-links__link {
  &:hover {}
}

.trending-topics {
  background-color: $ns_navy1;
  padding: 0.8rem 0;
}

.trending-topics__heading {
  color: $ns_navy5;
  font-family: $montserrat;
  font-size: 1.4rem;
  font-weight: $bold;
  display: inline-block;
  margin: 0 3.4rem;

  -webkit-font-smoothing: antialiased;
}

.trending-topics__list {
  display: inline-block;

  li {
    display: inline-block;
  }
}

.trending-topics__topic {
  color: $ns_white;
  font-family: $montserrat;
  font-size: 1.4rem;
  font-weight: $regular;
  text-decoration: none;

  display: inline-block;
  margin-right: 3.4rem;

  -webkit-font-smoothing: antialiased;

  &:hover {}
}