/**
 * buttons
 */

.btn--solid {
  font-size: 1.76rem
}

.btn {
  &.btn--take-action {
    font-size: 1.74rem;
  }
}

/**
 * components
 */

/* indicator */
.indicator {
  &.indicator--module {
    &:before {
      font-size: 5.8rem;
    }
  }
}

.google_top_posts {

  width: 100%;

  .widgettitle {

  }

  li {


    a {

    }

  }

}

/* module */
.module {
  &.module--sidebar {
    width: 100%;
  }

  &.module--list {
    &.module--horizontal {
      margin: 5rem 0;

      .story-list li {
        margin-right: 4%;
      }
    }
  }
}

/* author */
.author-box {
  margin-bottom: 7.2rem;
}

/**
 * forms
 */

.form-element {
  .text-input {
    padding: 1.15rem 1.4rem;
  }
}

/**
 * headings
 */

.hd-b {
  font-size: 2.8rem;
}

.hd-d {
  font-size: 2.8rem;
}

.hd-f {
  font-size: 4.4rem;
  padding: 0.5rem;
  line-height: 1.66;
}

.hd-l {
  font-size: 2.6rem;
}

/**
 * homepage
 */

/* hero */
.hero--homepage {
  &.hero--grid {
    .hero__entry {
      &.hero__entry--1 {
        &:before {
          margin-right: 2px;
        }

        .story__hed {
          margin-bottom: 3.4rem;
        }

        .support-cause--hero {
          margin-bottom: 3.2rem;
        }
      }

      &.hero__entry--2 {
        &.hero__entry--2 {
          &:before {
            margin-bottom: 2px;
          }
        }
      }

      .story--hero {
        padding: 2.4rem 4.4rem;
      }
    }
  }
}

/* river */
.river--one-col {
  .story-teases {
    .story--tease {
      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    .support-cause {
      display:none;
    }
  }
  }
}

/**
 * story
 */

/* sticky */
.story__sticky-container {
  width: 14.6rem;
}

// take action module
.module.take-action {
  .take-action__a,
  .take-action__b {
    width: 100%;
    float: none;
    padding: none;
  }

  .take-action__a {
    margin-bottom: 1.2rem;
  }

  .module.take-action .take-action__a + .take-action__b {
    padding-left: 3.4rem;
  }

  .politician__information {
    max-width: 22rem;
  }
}

/**
 * structure
 */

.container {
  max-width: 98.4rem;
  padding: 0 2rem;

  &.container--flex {
    width: auto;

    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

#page-wrapper {
  min-width: 768px;
  width: 100%;
}

.story__sticky {
  -webkit-box-flex: 1;
  width: auto;
  min-width: 14.6rem;
  max-width: 15.63786%;
}

.story__main-column {
  -webkit-box-flex: 1;
  width: auto;
  max-width: 49.38272%;
  float: none;
  padding-left: 2rem;
}

.photo-essay__main-column {
  -webkit-box-flex: 1;
  width: auto;
  float: none;
  padding-left: 2rem;
}

.sidebar {
  -webkit-box-flex: 1;
  padding-left: 2rem;

  width: auto;
  min-width: 32rem;
  max-width: 32.51029%;
}

.hero .hero-information .hero-information__content {
  margin-left: 0;
  width: 100%;
}

.hero .hero-information .hero-information__caption {
  margin-left: 0;
}

.hero .hero-information .hero-information__credit {
  float: right;
}

.river {
  .story-teases {
    -webkit-box-flex: 1;
    width: auto;
//    max-width: 66.25514%;
    min-height: 25px;

    &:last-child {
      margin-right: 1.23457%;
    }
  }

  &.river--one-col {
    .story-teases {
      .story__feature {
        width: 50%;
      }
    }
  }
}

.module.module--list.module--horizontal .story-list li {
  margin-right: 3.82%;
}

.author__a {
  float: none;
}

.author__b {
  margin-top: 2.2rem;
  padding-left: 0;
  text-align: center;
}

.footer-links {
  position: absolute;
  bottom: 3rem;
  right: 0;
  max-width: 41.5rem;
  margin-top: 0;
}