	
// ********** AllStars 2017 STYLES *****************//

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratBold';
  src: url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'austin';
  src: url('../fonts/austin/austin-bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$purple-allstar: #7E1F86;
$purple-hero: #3D3B74;
$grey-ballot: #EAEDED;
$tiny: (max-width 450px);



div.container {
	@include outer-container();
	max-width: 1000px !important;
}

body.page-template-page-allstar {
	background-color: #fff;
	font-size: 13px;
	line-height: 22px;

	@include media($desktop) {
		font-size: 16px;
		line-height: 28px;
	}

	p, label {
		color: #5f5f5f;
		font-family: montserrat;
	}

	label {
		font-size: 14px;

		@include media($tiny) {
			font-size: 12px;
		}
	}

	label.form-label {
		display: block;
		margin-bottom: 10px;
		line-height: 1.7;
	}

	label.subscribe-allstar {
		
	}

	h1, h2 {
		font-family: austin;
		text-align: center;
	}

	h2 {
		font-size: 42px;
		margin-bottom: 16px;
		line-height: 1;
	}

	h3 {
		font-family: montserratBold;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 20px;

		@include media($desktop) {
			font-size: 22px;
			line-height: 36px;
			margin-bottom: 40px;
		}
	}

	input[type=text], input[type=email], textarea {
	    display: block;
	    width: 100%;
	    padding: 7px 12px;
	    margin-bottom: 25px;
	    font-size: 14px;
	    line-height: 1.5;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #e6e6e6;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.01);
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	input[type=text], input[type=email] {
		height: 34px;
	}

	input[type=radio] {
		margin: 10px 5px 15px 0;
	}

	input.phone-number, input.other-work {
		max-width: 240px;
	}

	:checked + label {
	   font-weight: bold;
	}

	:checked + label.subscribe-allstar {
		font-weight: normal;
	}
}

#header-bg {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 99;
	
	@include media($tiny) {
		height: 46px;
	}

	@include media($desktop) {
		height: 60px;
	}
}

#header-bg .ns_header_logo {
	width: 120px;
	margin-top: 18px;

	@include media($tiny) {
		width: 84px;
	}

	@include media($desktop) {
		width: 150px;
	}
}

body.scrolled > #header-bg {
	box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
	background-color: #fff;
	transition: background-color .5s;
}

#allstar_hero {
	@include span-columns(12);
	background-color: $purple-hero;
	background-image: url('../img/allstars_2017/allstars_hero_@2x.jpg');
	background-repeat: none;
	background-size: cover;
	padding: 60px 0 40px;

	@include media($tiny) {
		padding: 50px 0 20px;
	}
}

#logo_container {
	@include span-columns(10);
	@include shift(1);

	@include media($desktop) {
		@include span-columns(4);
		@include shift(4);
	}

	h1 {
		text-align: center;
	}

	img {
		width: 100%;
		max-width: 170px;
		margin: 0px auto 20px;

		@include media($tiny) {
	        max-width: 110px;
	    }

		@include media($desktop) {
			max-width: 300px;
			margin: 0px auto 60px;
		}
	}
}

#partner_copy {
	@include span-columns(6);

	@include media($tiny) {
        p {
        	font-size: 11px;
        	margin-right: 15px;
        }
    }

	p {
		color: #fff;
		margin-top: 20px;
		margin-right: 10px;
		float: right;
	}
}

#partner_logo {
	@include span-columns(6);

	img {
		width: 100%;
		max-width: 135px;
		margin-left: 10px;
	}

	@include media($tiny) {
		max-width: 120px;
	}

	@include media($desktop) {
		img {
			max-width: 150px;
		}
	}

	
}

#main_info {
	@include span-columns(10);
	@include shift(1);

	@include media($tiny) {
        @include span-columns(12);
        @include shift(0);
    }

	@include media($desktop) {
		@include span-columns(8);
		@include shift(2);
		margin-top: 40px;
		margin-bottom: 40px;
	}

	margin-top: 20px;
	margin-bottom: 20px;

}

#previous_allstars {
	@include span-columns(12);

	p, h2 {
		color: #fff;
		text-align: center;

		@include media($desktop) {
			text-align: left;
		}
	}

	

	background-color: $purple-allstar;
}

.finalists {
	@include span-columns(12);
}

#ballot {
	@include span-columns(12);
}

.finalist-benefit {
	@include span-columns(12);
	margin-bottom: 20px;
	text-align: center;

	img {
		width: 100%;
		max-width: 124px;
	}

	@include media($desktop) {
		@include span-columns(4);
	}
}

.nominate-ballot {
	@include span-columns(12);
	background-color: $grey-ballot;
	margin-bottom: 60px;
	padding: 60px 0;

	@include media($desktop) {
		@include span-columns(10);
		@include shift(1);
		padding: 80px 0;
	}
	@include media($tiny) {
		padding: 40px 0;
	}
}

.nominate-ballot-content {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(8);
		@include shift(2);
	}
}


/* Previous AllStars */
#allstars_content {
	@include span-columns(12);

	@include media($tiny) {
		@include span-columns(12);
	}

	@include media($desktop) {
		@include span-columns(6);
	}

	padding: 40px 0 40px 20px;
}

#allstars_photo {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
	}
}
/* END Previous AllStars */


/* AllStars News */
#allstar_news {
	@include span-columns(12);
	background-color: $purple-allstar;
	padding: 40px 0;
	h2 {
		color: #fff;
		text-align: center;
	}
}

.allstar-news-block {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
	}
}

.news-container {
	background-color: #fff;
	margin-bottom: 40px;
}

.news-article-container {
	height: 300px;
	overflow: auto;
	padding: 10px 0;

	@include media($desktop) {
		height: 500px;
	}

}

.twitter-container {
	height: 300px;

	@include media($desktop) {
		height: 500px;
	}
}

.news-article  {
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 10px;

	@include media($desktop) {
		padding: 10px;
	}
}

.news-article-photo {
	@include span-columns(2);

	img {
		width: 100%;
		margin-bottom: 10px;
	}
}

.news-article-content {
	@include span-columns(10);
}

/* END AllStars News */









// ********** END AllStars 2017 STYLES *****************//