
// ********** AllStars 2017 STYLES *****************//

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratBold';
  src: url('../fonts/montserrat/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'austin';
  src: url('../fonts/austin/austin-bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

$purple-allstar: #400095;
$purple-hero: #3D3B74;
$aqua: #66CEDB;
$grey-ballot: #EAEDED;
$blue-link: #00AEEF;
$blue-link-hover: #44CAFB;
$grey-light: #DCDADA;
$tiny: (max-width 450px);
$huge: (min-width 1400px);



div.container {
	@include outer-container();
	max-width: 1000px !important;
}

body.page-template-page-allstar {
	background-color: #fff;
	font-size: 13px;
	line-height: 22px;

	@include media($desktop) {
		font-size: 16px;
		line-height: 28px;
	}

	p, label, ul li {
		color: #5f5f5f;
		font-family: montserrat;
	}

	label, .validation_error, .validation_message {
		font-size: 14px;

		@include media($tiny) {
			font-size: 12px;
		}
	}

	label.form-label {
		display: block;
		margin-bottom: 10px;
		line-height: 1.7;
	}

	label.subscribe-allstar {

	}

	a {
		color: $blue-link;
	}

	h1, h2 {
		font-family: austin;
		text-align: center;
	}

	h2 {
		font-size: 33px;
		margin-bottom: 0px;
		line-height: 1;

		@include media($desktop) {
			font-size: 42px;
		}

		@include media($tiny) {
			font-size: 24px;
		}
	}

	h3 {
		font-family: montserratBold;
		font-size: 15px;
		line-height: 24px;
		margin-bottom: 20px;

		@include media($desktop) {
			font-size: 22px;
			line-height: 36px;
			margin-bottom: 40px;
		}
	}

	.button, button,  {
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    font-family: montserrat;
	    border-radius: 4px;
	    border-style: solid;
	    border-width: 0;
	    cursor: pointer;
	    font-weight: bold;
	    line-height: normal;
	    margin: 0 0 1.11111rem;
	    position: relative;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    padding: 18px 30px 22px;
	    font-size: 17px;
	    background-color: $blue-link;
	    color: #FFFFFF;
	    transition: background-color 300ms ease-out;

	    &:hover {
			background-color:$blue-link-hover;
		}

	    @include media($desktop) {
	    	font-size: 19px;
	    }

	    @include media($tiny) {
	    	font-size: 15px;
	    	padding-top: 12px;
    		padding-bottom: 15px;
	    }
	}

	button.full, .button.full {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.button.outline-btn {
		/*@extend .button;*/
		background-color: transparent;
		border: solid 5px #fff;
		border-radius: 9px;
		font-size: 16px;
		padding: 6px 30px 10px;
	}

	.outline-btn:hover {
		opacity: 0.8;
	}

	button.nominate, .button.nominate {
		background-color: #fff;
		color: $purple-allstar;
		margin-top: 8px;
		margin-bottom: 0;
		font-size: 13px;
	    padding: 8px 18px 10px;

		@include media($desktop) {
	    	font-size: 16px;
	    	margin-top: 9px;
	    	padding: 10px 20px 12px;
	    }

	    @include media($tiny) {
	    	margin-top: 8px;
			font-size: 11px;
	    }
	}

	input[type=text], input[type=email], input[type=tel], textarea {
	    display: block;
	    width: 100%;
	    padding: 7px 12px;
	    margin-bottom: 10px;
	    font-size: 14px;
	    line-height: 1.5;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #e6e6e6;
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.01);
	    font-family: montserrat;
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

	    @include media($tiny) {
			font-size: 12px;
		}
	}

	input[type=text], input[type=email] {
		height: 34px;
	}

	input[type=radio] {
		margin: 10px 5px 15px 0;
	}

	input.phone-number, input.other-work {
		max-width: 240px;
	}

	:checked + label {
	   font-weight: bold;
	}

	:checked + label.subscribe-allstar {
		font-weight: normal;
	}

	/* Overwrite gform */
	.gform_wrapper, .gform_confirmation_wrapper {
		background: transparent;
		border-top: none;
		padding: 0;
		margin: 0;

	}

	.gform_heading {
		
		@include media($tiny) {
			
		}

		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.gform_wrapper .validation_error, .gform_wrapper .validation_message {
		font-family: montserrat;
		font-size: 14px;
		margin-top: 5px;

		@include media($tiny) {
			font-size: 12px;
		}
	}

	.gform_heading h3, .gform_heading h3:last-child {
		@extend h2;
		max-width: 300px;
		float: none;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 10px;
		

		@include media($desktop) {
			max-width: 400px;
		}
	}

	.gfield_radio li label {
	    padding-left: 10px;
	}

	.gfield_radio li {
	    margin: 5px 0;
	}

	li.ballot-nominate-yourself {
		margin-bottom: 20px;

		ul li {
			display: inline;
		}

		label {
			margin-right: 20px;
		}
		
	}

	li.ballot-category {
		ul li:last-child {
			input{
				display: inline;
			} 

			input[type=text] {
				width: 65%;
				margin-bottom: 0px;
			}

			input[type=radio] {
				margin-right: 13px;
			}
		}
	}

	li.ballot-subscribe {
		input {
			display: inline;
			float:left;
			margin-top: 8px;
			margin-right: 12px;
		}

		label {
			overflow:auto;
			display:block;
		}
	}

	.gform_footer {
		text-align: right;

		@include media($tiny) {
		    text-align: center;
		}
	}

	.gform_wrapper input[type=submit] {
		@extend .button;

		&:hover, &:focus {
			border: none;
    		color: #fff;
		}		

		width: 100%;
		max-width: 200px;
    	height: auto;

    	@include media($tiny) {
		    max-width: 100%;
		}
	}

	/* END Overwrite gform */
}

#header-bg {
	width: 100%;
	height: 50px;
	position: fixed;
	z-index: 99;
	
	@include media($tiny) {
		height: 46px;
	}

	@include media($desktop) {
		height: 60px;
	}
}

.header-logo-container {
	position: relative;
}

#header_logo_blue, #header_logo_white {
	position: absolute;
}

#header_logo_blue {
	opacity: 0;
}

#header-bg .ns_header_logo {
	width: 110px;
	margin-top: 18px;

	@include media($tiny) {
		width: 84px;
	}

	@include media($desktop) {
		width: 150px;
	}
}


body.scrolled  {
	#header-bg {
		box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
		background-color: #fff;
		transition: background-color .5s;
	}
	
	button.nominate, .button.nominate {
		background-color: $purple-allstar;
		color: #fff;
		transition: background-color .5s;
	}
	
	#header_logo_blue {
		opacity: 1;
		transition: opacity .5s;
	}

	#header_logo_white {
		opacity: 0;
		transition: opacity .5s;
	}
}

#allstar_hero {
	@include span-columns(12);
	background-color: $purple-hero;
	background-image: url('../img/allstars_2017/allstars_hero_zikiya_@2x.jpg');
	background-repeat: none;
	background-size: cover;
	padding: 60px 0 40px;

	@include media($tiny) {
		padding: 50px 0 20px;
	}
}

.play-btn {
	width: 60px;
	height: auto;
	margin: 0px auto;

	@include media($desktop) {
		width: 80px;
	}

	@include media($tiny) {
		width: 45px;
		margin: 0 auto;
	}
}

#logo_container {
	@include span-columns(10);
	@include shift(1);

	@include media($desktop) {
		@include span-columns(4);
		@include shift(4);
	}

	text-align: center;

	h1 {
		text-align: center;
	}

	img.allstar-2017-logo {
		width: 100%;
		max-width: 170px;
		margin: 0px auto 10px;

		@include media($tiny) {
	        max-width: 110px;
	    }

		@include media($desktop) {
			max-width: 300px;
			margin: 0px auto 20px;
		}
	}
}

#partner_copy {
	@include span-columns(6);

	@include media($tiny) {
        p {
        	font-size: 11px;
        	margin-right: 15px;
        }
    }

	p {
		color: #fff;
		margin-top: 20px;
		margin-right: 10px;
		float: right;
	}
}

#partner_logo {
	@include span-columns(6);

	img {
		width: 100%;
		max-width: 135px;
		margin-left: 10px;
	}

	@include media($tiny) {
		max-width: 120px;
	}

	@include media($desktop) {
		img {
			max-width: 150px;
		}
	}

	
}

#main_info {
	@include span-columns(10);
	@include shift(1);

	@include media($tiny) {
        @include span-columns(12);
        @include shift(0);
    }

	@include media($desktop) {
		@include span-columns(8);
		@include shift(2);
		margin-top: 40px;
		margin-bottom: 40px;
	}

	margin-top: 20px;
	margin-bottom: 20px;

}

/* Previous AllStars */

#previous_allstars {
	@include span-columns(12);

	p, h2 {
		color: #fff;
		text-align: center;

		@include media($desktop) {
			text-align: left;
		}
	}

	h2 {
		margin-bottom: 5px;
	}

	background-color: $blue-link;

	#allstars_content {
		@include span-columns(12);
		padding: 40px 0;

		@include media($tiny) {
			@include span-columns(12);
			padding: 20px 0;
		}

		@include media($desktop) {
			@include span-columns(6);
			padding: 40px 0 40px 20px;
		}

		
	}

	#allstars_photo {
		@include span-columns(12);

		@include media($desktop) {
			@include span-columns(6);
		}
	}

	#allstar_float_container {
		max-width: 440px;
		margin: 0 auto;
		float: none;
		text-align: center;

		@include media($desktop) {
			max-width: 510px;
			float: right;
			text-align: left;
		}

		@include media($tiny) {
			max-width: 300px;
		}
	}

	#allstar_previous_photo_container {
		background-image: url('/wp-content/themes/nationswell/img/allstars_2017/past_allstars.png');
		width: 100%;
		max-width: 560px;
		height: 300px;
		margin-top: -10px;
		margin-left: auto;
    	margin-right: auto;
		background-repeat: no-repeat;
		background-size: cover;


		@include media($desktop) {
			max-width: 640px;
			height: 380px;
			margin-top: -30px;
		}

		@include media($huge) {
			margin-top: -60px;
			max-width: 700px;
			height: 400px;
		}

		@include media($tiny) {
			height: 220px;
			margin-top: -10px;
		}
	}
}

/* END Previous AllStars */

.finalists {
	@include span-columns(12);

	margin: 40px auto;

	h2.title-receive {
		font-size: 35px;
		margin-top: 20px;
		margin-bottom: 40px;
		color: $blue-link;
	}

	span.title-5 {
		font-size: 104px;
		line-height: 0.8;
		color: $purple-allstar;
	}

	@include media($desktop) {
		p {
			font-size: 14px;
		}

		h2.title-receive {
			font-size: 52px;
			margin-top: 20px;
		}

		span.title-5 {
			font-size: 154px;
			line-height: 0.8;
		}
	}

	@include media($tiny) {
		p {
			font-size: 14px;
		}

		h2.title-receive {
			font-size: 24px;
			margin-top: 0px;
			margin-bottom: 20px;
		}

		span.title-5 {
			font-size: 84px;
			line-height: 0.8;
		}
	}
}

#ballot {
	@include span-columns(12);
	margin: 40px auto;

	h3.nom-instructions {
		@include span-columns(12);
		text-align: center;

		@include media($desktop) {
			@include span-columns(10);
			@include shift(1);
		}

		
	}

}

.finalist-benefit {
	@include span-columns(12);
	margin-bottom: 20px;
	text-align: center;

	img {
		width: 100%;
		max-width: 124px;
	}

	@include media($desktop) {
		@include span-columns(4);
	}
}

.nominate-ballot {
	@include span-columns(12);
	background-color: $grey-ballot;
	margin-bottom: 60px;
	padding: 60px 0;

	@include media($desktop) {
		@include span-columns(10);
		@include shift(1);
		padding: 80px 0;
	}
	@include media($tiny) {
		padding: 40px 0;
	}
}

.nominate-ballot-content {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(8);
		@include shift(2);
	}
}

#nominate_button_container {
	@include span-columns(12);
	margin-top: 40px;

	@include media($desktop) {
		@include span-columns(4);
		@include shift(8);
	}
}



/* AllStars News */
#allstar_news_bg {
	background-color: $aqua;
}

#allstar_news {
	@include span-columns(12);
	padding: 40px 0;

	h2 {
		color: #fff;
		text-align: center;
	}

	@include media($desktop) {
		padding: 80px 0;
	}
}

.allstar-news-block {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6);
	}
}

.news-container {
	background-color: #fff;
	margin-bottom: 40px;
}

.news-article-container {
	height: 300px;
	overflow: auto;
	padding: 10px 0;

	@include media($desktop) {
		height: 500px;
	}

}

.twitter-container {
	height: 300px;

	@include media($desktop) {
		height: 500px;
	}
}

.news-article  {
	border-bottom: solid 1px #e5e5e5;
	margin-bottom: 10px;

	@include media($desktop) {
		padding: 10px;
	}
}

.news-article-photo {
	@include span-columns(2);

	img {
		width: 100%;
		margin-bottom: 10px;
	}
}

.news-article-content {
	@include span-columns(10);
}

/* END AllStars News */


/* Footer */

.footer-container {
	@include span-columns(12);

	margin: 20px auto;

	p.footer-copyright {
		margin-top: 20px;
		text-align: center;

		@include media($desktop) {
			margin-top: 0;
			text-align: left;
		}
	}

	small {
		font-size: 11px;
	}

}

.footer-allstar-logo {
	@include span-columns(12);

	text-align: center;

	img.ns_header_logo {
		width: 130px;
		margin-top: 8px;

		@include media($desktop) {
			width: 160px;
		}
	}

	@include media($desktop) {
		@include span-columns(7);
		text-align: left;
	}

	@include media($tiny) {
		@include span-columns(12);
	}
}

.footer-allstar-links {
	@include span-columns(12);

	ul li {
		font-size: 11px;
		line-height: 1.5;
		display: block;
		margin-right: 17px;
		white-space: nowrap;
		border-bottom: solid 1px $grey-light;
		padding: 12px 0;

		@include media($desktop) {
			display: inline;
			border-bottom: none;
			padding: 0;
		}
	}

	ul li:last-child {
		border-bottom: none;
	}

	@include media($desktop) {
		@include span-columns(5);

	}

	@include media($tiny) {
		@include span-columns(12);
	}
}

/* END Footer */





// ********** END AllStars 2017 STYLES *****************//