.hero--archive {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .sponsor {
    background-color: $white;
    color: $ns_navy1;
    display: inline-block;
    padding: 0.6rem 3rem;
  }

  &.hero--series {
    text-align: center;
  }

  &.hero--category {
    text-align: center;

    .container {
      padding: 2rem 5%;
    }

    .hero--category__count {
      color: $white;
      display: block;
      font-family: $montserrat;
      font-weight: $bold;
      text-align: center;
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2)
    }

    &:after {
      content: '';
      background-image: url("../img/overlay_mesh.png");
      background-repeat: repeat;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 0;
    }
  }

  &.hero--author {
    background-color: transparent;

    .container {
      border-bottom: 0.7rem solid $gray6;
    }

    .author__count {
      color: $ns_red;
      font-family: $montserrat;
      font-weight: $bold;
    }
  }
}

.archive-intro {
  border-bottom: 6px solid $gray6;
  overflow: hidden;
  @include outer-container;
  $medium: new-breakpoint(min-width 580px);

  .archive-share {
  	.btn {
  		font-size: 3.4rem;
  		padding:3rem;
  		@include media($medium) {
			font-size: 1.4rem;
			padding:1rem;
		}
	}
    @include media($medium) {
  		@include span-columns(2);
	}
  }
  .archive-spacer-left {
    @include media($medium) {
  		@include span-columns(1);
	}
  }
  .archive-spacer-right {
    @include media($medium) {
  		@include span-columns(2);
	}
  }

  .archive-description-copy {
    @include media($medium) {
  		@include span-columns(7);
	}
    font-family: $gudea;
    
    font-size: 3.4rem;
    line-height:auto;
    @include media($medium) {
		font-size: 1.9rem;
	}
    
    color: $ns_blue1;
    margin: 0 auto 3rem;
  }
}

body.category-whats-possible {
	.hero--archive {
		&.hero--category {
			&:after {
				background-image: none;
			}				
			.hero--category__title {
				display: none;
			}			
			.hero--category__count {
				display: none;
			}
		}
	}
	.sidebar {
		.widget_partners {
			.module--partners{
				&:before {
					display:none;
				}
			}
		}	
	}
}