//*** COMMON ******//
//http://www.ryanscherler.com/notes/entry/omega-reset-for-bourbon-neat/
@mixin omega-reset($nth, $context: null) {
  @if $context == null { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); } 
  } @else { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); } 
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

.box-margin {
	margin:3.4rem 2.2rem !important;
}
.box-padding {
	padding:30px;
}
.box-shadow {
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
.box {
	background:$gray7;
	@extend .box-padding;
	@extend .box-margin;
}

h1, h2, h3 {
	color:$black;
	font-family:$noto-serif;
	font-weight:$bold;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:20px;
}
h3 {
	font-size:16px;
}


// ********** FORMs *****************//




//LOGIN
.member-login-forms {
	
	background:url(../img/headerbg-bnw.jpg);
	background-size:cover;
	//height:100vh;
	
	.content-wrapper {
		padding:30px 30px 0 30px;
		color:$ns_navy2;
		font-family: $noto-serif;
		
		//height:100%;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include align-content(center);
  		@include justify-content(center); 
		
		font-size: 20px;
		line-height: 26px;
		
		.intro {
			p {
				display:block;
				padding: 20px 0;
			}
			
			font-style: italic;
			display: block;
			max-width: 80%;
			text-align: center;
			margin: 0 auto;
			
		}
		
		.login-form {
			@extend .box-shadow;
			background:$white;
			text-align:left;
			font-style:normal;
			h2 {
				color:$black;
				font-size:150%;
				margin:30px 0;
			}
			form {
				label, input[type="text"], input[type="password"]{
					display:block;
					font-style:normal;
				}
				input[type="text"], input[type="password"] {
					@extend .member-form-input;
				}
			}
			p {
				margin-bottom:15px;
			}
			.login-remember, .login-submit {
				line-height:1 !important;
				margin:5px 0 !important;
				font-size:16px !important;
			}
			.login-remember {
				float:left;
				padding-top:8px;
			}
			.login-submit {
				input[type="submit"] {
					float:right;
					@extend .button;
				}
		
			}
		}
		.login-form-inputs {
			padding:15px 30px 70px 30px;
		}
		.login-form-bottom {
			background:$gray6;
			padding:30px;
		}
		
		.lostpassword-button {
			@extend .button;
		}
		.lostpassword-form {
			.form-row {
				@include clearfix;
			}
			.login-remember {
				float:left;
			}
			.lostpassword-submit {
				float:right;
			}
		}
		
		
		.link-more {
			width:100%;
			padding-top:30px;
		}
		.learn-more {
			text-align:center;
			color: $gray4;
			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
			text-transform: uppercase;	
			z-index: 3;
			position:relative;
			display:block;
			
			&.hover {
				color: $ns_navy2;
			}
			
			&:after {
				width: 36px;
				height: 13px;
				background: url(../img/icon-down.png) no-repeat center center; 
				background-size: 100% auto;
				content: '';
				position: absolute;
				bottom:-20px;
				right:48%
			}
		}
	}
}

// ********** END LOGIN FORMS *****************//


// ********** BUDDYPRESS STYLES *****************//
//using flexbox mixins available in bourbon
//https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_flex-box.scss
#buddypress {
	//all styles are mobile first, with overwrites for these breakpoints
	$large: new-breakpoint(min-width 992px);
	$medium: new-breakpoint(min-width 580px);
	
	
	p {
		line-height:2rem;
	}
	
	
	a:link, a:visited {
		color: $ns_red2;
		text-decoration:none;
	}
	a:hover {
		color: $ns_blue1;
	}
	a:active {
		color: $ns_navy2;
	}
	
	@extend .container;
	//@extend .container--flex;

	font-family:$gudea;
	img.avatar {
		border-radius:50%;
	}
	
	
	//TO DO: move colors to vars
	#pass-strength-result {
		background-color: #eee;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: 0 0 20px 0;
		padding: 5px;
		text-align: center;
		width: 100%;
		
		&.error, &.bad {
			background-color: #ffb78c;
			border-color: #ff853c !important;
			display: block;
		}
		&.good {
			background-color: #ffec8b;
			border-color: #fc0 !important;
			display: block;
		}
		
		&.short {
			background-color: #ffa0a0;
			border-color: #f04040 !important;
			display: block;
		}
		
		.strong {
			background-color: #c3ff88;
			border-color: #8dff1c !important;
			display: block;
		}
	
	}
	
	.divider {
		background-color:$gray5;
		-webkit-box-shadow: 0 1px 0 0 $white;
		box-shadow: 0 1px 0 0 $white;
		height:1px;
		width:100%;
		display:block;
		margin:30px 0;
	}
	.member-row {
		
		@include outer-container;
		@extend .box-margin;
		@include omega(3n);
		
		
		.left-wrapper {
			@include span-columns(12);
			@include media($large) {
				@include span-columns(6);
			}
		}
		
		
		.member-info-card {
			
			@extend .box-shadow;
			@extend .box-padding;
			background-color:$gray7;
			
			//this is for positioning avatar and name areas
			@include display(flex);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(row);
			
			.member-header-avatar {
				width:15%;
				margin-right:5%;
				min-width:120px;
				img.avatar {
					width:100% !important;
					height:auto !important;
				}
			}
			.member-meta-bio {
				width:80%;
				
				.item-block-content {
					margin-top:20px;
					.icon {
						text-align:center;
						border-radius: 50%;
						border:1px solid $black;
						color:$black;
						width:50px;
						height:50px;
						font-size: 32px;
    					padding-top: 10px;
    					padding-left: 2px;
					}
					.item-subblock {
						display:inline-block;
						margin-right:20px;
						vertical-align:middle;
					}
				}
			}
		}
		.member-notifications {
			background-color:$gray7;
			margin-top:15px;
			h3 {
				margin-bottom:30px;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			.prompt {
				font-weight:$bold;
			}
		}
			
		.member-settings,
		.member-change-avatar {
			background-color:$gray7;
			@include span-columns(12);
			margin-top:15px;
			@include media($large) {
				@include span-columns(6);
				margin-top:0;
			}
			h3 {
				margin-bottom:30px;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			a.button.edit {
				margin:30px 0;
			}
			.bp-progress {
				margin:0;
			}
			
			
			
		}
		
		.form-row {
				
			label {
				font-weight:$bold;
			}
			.settings-input {
			margin-top:15px;
			display:block;
				@extend .member-form-input;
			}
			input[type="submit"] {
				@extend .button;
			}
		}
		
		.callout-block {
			background-color:$gray7;
			@include span-columns(6);
			margin-top:15px;
			@include media($large) {
				@include span-columns(3);
				margin-top:0;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			h3 {
				color:$ns_red2;
				.icon {
					font-size: 80%;
					display: inline-block;
					margin-right: 10px;
					margin-top: -2px;
				}
			}
			.item-block-content {
				margin:20px 0;
			}
			.item-block-button-go {
				@extend .button;
			}
		}
	}
	
	//EVENTS and OPPS
	.tab-content {
		@extend .box-margin;
		.intro-text {
			font-style:italic;
			font-family:$noto-serif;
			color:$ns_navy2;
		}
		
		//events and opportunities
		.nsc-item-listing {
			.item-info {
				@include outer-container;
				margin:30px 0;
				.item-icon {
					margin-bottom:20px;
					.icon {
						color:$ns_red2;
						font-size: 50px;
						border-radius: 50%;
						border: 1px solid $ns_red2;
						width: 100px;
						height: 100px;
						text-align: center;
						display: block;
						padding-top: 22px;
						padding-left: 3px;
						margin:0 auto;
						
					}
					@include media($large) {
						@include span-columns(2);
					}
				}
				.item-details {
					@include media($large) {
						@include span-columns(10);
					}
					a.item-title {
						color:$black;
						font-weight:$bold;
						font-size:20px;
						display:block;
						margin-bottom:20px;
					}
					.date-location {
						@include outer-container;
						margin:30px 0;
					
						.date-time,
						.location {
							@include span-columns(4);
							margin-left:20px;
						
							&:before {
								position:absolute;
								margin-left:-20px;
								font-size:28px;
							}
							span {
								font-family:$gudea;
								display:block;
								padding-left:20px;
							}
							
							
						}
					}
				}
			}
		}
		
	}
	
	
	//Avatar upload form
	.bp-avatar {
		.drag-drop-buttons {
			label {
				display:none;
			}
		}
	}
	
	
	#whats-new-form {
		@extend .box;
		@extend .box-shadow;
		p.activity-greeting {
			font-size: 2rem;
    		display: inline-block;
    		vertical-align: top;
    		padding: 1.5rem;
		}
		#whats-new-avatar,
		p.activity-greeting {
			display:inline-block;
		}
		#whats-new-textarea {
			margin-top:15px;
			float:none;
			clear:both;
		}
		#aw-whats-new-submit {
			@extend .button;
		}
	}
	#members-dir-search {
		//@include outer-container;
		@extend .box-margin;
		
		.page-header,
		.member-search-filter {
			@include span-columns(6);
		}
		.member-search-filter {
			text-align:right;
		}
		input[type="text"] {
			@extend .member-form-input;
			margin:30px 0;
		}
		input[type="submit"] {
			@extend .button;
		}
	}
	#members-directory-form {
		@extend .box-margin;
	}
	#pag-top {
		display:none;
	}
	#members-list {
		@include outer-container;
		li {
			background:$gray7;
			margin-bottom:2rem;
			padding:30px 3%;
			
			
			@include omega(1n);
			@include span-columns(12);
			
			@include media($medium) {
  				@include span-columns(6);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(1n, 12);
  				@include omega(2n);
			}
			
			@include media($large) {
  				@include span-columns(4);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(2n, 12);
  				@include omega(3n);
			}
			
			
			//this is for positioning items inside
			@include display(flex);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(column);
			@extend .box-shadow;
			
			
			.item-avatar,
			.item {
				text-align:center;
				padding-bottom:10px;
				@include media($medium) {
					text-align:left;
				}
			}
			.item-avatar {
				width:20%;
				margin-right:5%;
			}
			.item {
				width:75%;
			}
			.item-title {
				@extend h2;
				a {
					color:$black;
				}
			}
			
		}
	}
	.pagination {
		.pag-count,
		.pagination-links {
			padding-bottom:10px;
			text-align:center;
		}
	
	}
	
}

// ********** END  *****************//

//TABLES!
.bp-screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}

#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
	background: #f5f5f5;
}
#buddypress table.notification-settings {
	margin-bottom: 20px;
	text-align: left;
	width:100%;
}
#buddypress #groups-notification-settings {
	margin-bottom: 0;
}
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
	display: none;
}
#buddypress table.notification-settings td {
	padding:15px 0;
}
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
	width: 80%;
	@extend .bp-screen-reader-text;
}
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
	text-align: center;
	width: 40px;
}


// ********** END  *****************//
