//*** COMMON ******//
//http://www.ryanscherler.com/notes/entry/omega-reset-for-bourbon-neat/
@mixin omega-reset($nth, $context: null) {
  @if $context == null { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); } 
  } @else { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); } 
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

.box-margin {
	margin:3.4rem 2.2rem;
}
.box-padding {
	padding:30px;
}
.box-shadow {
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
.box {
	background:$gray7;
	@extend .box-padding;
	@extend .box-margin;
}

h1, h2 {
	color:$black;
	font-family:$noto-serif;
	font-weight:$bold;
}
h1 {
	font-size:24px;
}
h2 {
	font-size:20px;
}


.button {
	cursor: pointer;
	display:inline-block;
  	border-radius: 0;
	border:none;
  	text-rendering: optimizeLegibility;
  	outline: 0;
  	-webkit-font-smoothing: antialiased;
	font-family:$oswald;
	font-weight:$bold;
	color:$white;
	background-color:$ns_red2;
	padding:10px 15px;
	text-transform:uppercase;
	font-size:18px;
	&:hover {
		background-color:$ns_blue1;
		color:$white;
	}
	&:active, &:focus {
		background-color:$ns_navy2;
		color:$white;
	}
}

// ********** FORMs *****************//
.auth-forms {
	background:url(../img/headerbg-bnw.jpg);
	background-size:cover;
	//height:100vh;
	
	.content-wrapper {
		padding:30px 30px 0 30px;
		color:$ns_navy2;
		//height:100%;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include align-content(center);
  		@include justify-content(center); 
		
		.link-more {
			width:100%;
			padding-top:30px;
		}
		.learn-more {
			text-align:center;
			color: $gray4;
			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
			text-transform: uppercase;	
			z-index: 3;
			position:relative;
			display:block;
			
			&.hover {
				color: $ns_navy2;
			}
			
			&:after {
				width: 36px;
				height: 13px;
				background: url(../img/icon-down.png) no-repeat center center; 
				background-size: 100% auto;
				content: '';
				position: absolute;
				bottom:-20px;
				right:48%
			}
		}
	}
}
.lostpassword-button {
	@extend .button;
}
.lostpassword-form {
	.form-row {
		@include clearfix;
	}
	.login-remember {
		float:left;
	}
	.lostpassword-submit {
		float:right;
	}
}

.member-form-input {
	font-family:$gudea;
	font-size: 2rem;
    padding: 1.3rem;
    box-sizing : border-box;
    background-color: $white;
    border: 1px solid $gray4;
    border-radius: 0.2rem;
    box-shadow: inset 0 0.2rem 0.7rem rgba(0, 0, 0, 0.08);
    outline: none;
    width: 100%;
   -webkit-font-smoothing: antialiased;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   appearance: none;
}
.login-form {
	background:$white;
	text-align:left;
	font-style:normal;
	h2 {
		font-family: 'PT Serif', serif;
		color:$black;
	}
	form {
		label, input[type="text"], input[type="password"]{
			display:block;
			font-style:normal;
		}
		input[type="text"], input[type="password"] {
			@extend .member-form-input;
		}
	}
	.login-remember, .login-submit {
		line-height:1 !important;
		margin:5px 0 !important;
		font-size:16px !important;
	}
	.login-remember {
		float:left;
	}
	.login-submit {
		input[type="submit"] {
			float:right;
			@extend .button;
		}

	}
}
.login-form-inputs {
	padding:15px 30px 70px 30px;
}
.login-form-bottom {
	background:$gray6;
	padding:30px;
}
// ********** END LOGIN FORMS *****************//


// ********** BUDDYPRESS STYLES *****************//
//using flexbox mixins available in bourbon
//https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_flex-box.scss
#buddypress {
	@extend .container;
	//@extend .container--flex;

	font-family:$gudea;
	img.avatar {
		border-radius:50%;
	}
	#item-header-cover-image,
	#item-header {
		@extend .box;
		@extend .box-shadow;
		@include display(flex);
		@include flex-direction(row);
		@include align-items(center);
		@include align-content(center);
  		@include justify-content(flex-start);
	}
	#item-header-avatar {
		img.avatar {
			width:120px !important;
			height:120px !important;
		}
	}
	#item-header-content {
		padding: 0 3.4em;
	}
	
	#whats-new-form {
		@extend .box;
		@extend .box-shadow;
		p.activity-greeting {
			font-size: 2rem;
    		display: inline-block;
    		vertical-align: top;
    		padding: 1.5rem;
		}
		#whats-new-avatar,
		p.activity-greeting {
			display:inline-block;
		}
		#whats-new-textarea {
			margin-top:15px;
			float:none;
			clear:both;
		}
		#aw-whats-new-submit {
			@extend .button;
		}
	}
	#members-dir-search {
		//@include outer-container;
		@extend .box-margin;
		
		.page-header,
		.member-search-filter {
			@include span-columns(6);
		}
		.member-search-filter {
			text-align:right;
		}
		input[type="text"] {
			@extend .member-form-input;
			margin:30px 0;
		}
		input[type="submit"] {
			@extend .button;
		}
	}
	#members-directory-form {
		@extend .box-margin;
	}
	#pag-top {
		display:none;
	}
	#members-list {
		@include outer-container;
		li {
			background:$gray7;
			margin-bottom:2rem;
			padding:30px 3%;
			
			$large: new-breakpoint(min-width 992px);
			$medium: new-breakpoint(min-width 580px);
			
			@include omega(1n);
			@include span-columns(12);
			
			@include media($medium) {
  				@include span-columns(6);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(1n, 12);
  				@include omega(2n);
			}
			
			@include media($large) {
  				@include span-columns(4);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(2n, 12);
  				@include omega(3n);
			}
			
			
			//this is for positioning items inside
			@include display(flex);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(column);
			@extend .box-shadow;
			
			
			.item-avatar,
			.item {
				text-align:center;
				padding-bottom:10px;
				@include media($medium) {
					text-align:left;
				}
			}
			.item-avatar {
				width:20%;
				margin-right:5%;
			}
			.item {
				width:75%;
			}
			.item-title {
				@extend h2;
				a {
					color:$black;
				}
			}
			
		}
	}
	.pagination {
		.pag-count,
		.pagination-links {
			padding-bottom:10px;
			text-align:center;
		}
	
	}
	
}

// ********** END  *****************//
