//*** COMMON ******//
//http://www.ryanscherler.com/notes/entry/omega-reset-for-bourbon-neat/
@mixin omega-reset($nth, $context: null) {
  @if $context == null { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); } 
  } @else { 
    &:nth-child(#{$nth}) { margin-right: flex-gutter($context); } 
  }
  &:nth-child(#{$nth}+1) { clear: none; }
}

body.notifications,
body.settings,
body.xprofile {
	#object-nav,
	#subnav {
		display:none;
	}
}

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}



//hide the sitewide notice on non buddypress pages
#sitewide-notice {
	display:none;
}
#buddypress #sitewide-notice {
	display:block;
}
.box-margin {
	margin:3.4rem 2.2rem !important;
}
.box-padding {
	padding:15px 15px 15px 15px;
}
.box-shadow {
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
.box {
	background:$gray7;
	@extend .box-padding;
	@extend .box-margin;
}

.bp-header {
	color:$black;
	font-family:$pt-serif-bold;
}


a.clear-value {
	display:none !important;
}
.chosen-container {
	width:100% !important;
	&.chosen-container-multi {
		.chosen-choices {
			padding-bottom: 10px;
			border: 1px solid $gray5;
    		border-radius: 0.2rem;
			li.search-choice {
				font-size:16px;
				line-height:20px;
				padding: 3px 20px 3px 10px;
				margin:5px 5px 5px 0;			
				.search-choice-close {
					background: url('images/chosen-sprite.png') -42px 1px no-repeat;
					top:8px;
				}
			}
			li.search-field {
				input {
					box-shadow:none !important;
					padding-top:19px !important;
					
				}
			}
		}
	}
			
}

p {
	margin-bottom:1.5rem;
}
strong, b {
	font-weight:700;
}

/* LOAD MORE AJAX BUTTON */
.load-more {
	text-align: center;
	padding: 30px 0;
	a {
		color:$gray4 !important;
    	font-size: 2rem;
    	text-transform: uppercase;
		font-weight:$bold;
	}
}
/* //END */

/* ELASTIC VIDEO EMBEDS */
.elastic {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,  
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
/* //END */




.bp-screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}


// ********** FORMs *****************//

//Get in touch form
.wpcf7 {
	input[type="text"],
	input[type="email"],
	select, textarea {
		@extend .member-form-input;
	}
	select {
		@extend .member-form-select;
	}
	input[type="submit"] {
		@extend .button;
	}
	div.wpcf7-response-output {
		margin:0;
	}
	div.wpcf7-mail-sent-ok,
	div.wpcf7-validation-errors {
		border-width:1px;
	}
}


//LOGIN
.member-login-forms {
	
	background-image:url(../img/nsc-header9.jpg);
	background-size:cover;
	background-position:center;
	//height:100vh;
	
	.content-wrapper {
		padding:30px 30px 0 30px;
		color:$ns_navy2;
		font-family:$pt-serif-regular;
		max-width:90%;
		margin:auto;
		@include media($desktop) {
			max-width:50%;
		}
		
		h1, h2, h3 {
			@extend .bp-header;
		}
		h1.logo {
			 background-size: 75% auto;
			 
		}
		
		//height:100%;
		@include display(flex);
		@include flex-direction(column);
		@include align-items(center);
		@include align-content(center);
  		@include justify-content(center); 
  		
  				
		font-size: 16px;
		line-height: 20px;
		
		a { 
			text-decoration:underline;
			&:link,
			&:visited {
				color:$ns_red2;
			}
			&:hover {
				color:$ns_blue2;
			}
			&:active {
				color:$ns_navy2;
			}
		}
		
		.intro {
			p {
				display:block;
				padding: 0;
				font-family:$pt-serif-italic;
			}
			
			display: block;
			max-width: 100%;
			text-align: center;
			margin: 0 auto;
			
		}
		
		
		
		.login-form {
			@extend .box-shadow;
			background:$white;
			text-align:left;
			font-style:normal;
			h2 {
				color:$black;
				font-size:130%;
				margin:15px 0;
				text-align:center;
			}
			form {
				label, input[type="text"], input[type="password"]{
					display:block;
					font-style:normal;
				}
				input[type="text"], input[type="password"] {
					@extend .member-form-input;
				}
			}
			p {
				margin-bottom:1rem;
			}
			.login-remember, .login-submit {
				line-height:1 !important;
				margin:5px 0 !important;
				font-size:16px !important;
			}
			.login-remember {
				float:left;
				padding-top:8px;
			}
			.login-submit {
				input[type="submit"] {
					float:right;
					@extend .button;
				}
		
			}
			.login-error {
				color:$ns_red1;
			}
			.login-error-field {
				border-color:$ns_red1;
				&:focus {
					border-color:$gray5;
				}
			}
		}
		.login-form-inputs {
			padding:1rem 3rem 6rem 3rem;
		}
		.login-form-bottom {
			background:$gray6;
			padding:1rem 3rem;
			p {
				margin-bottom:0;
			}
		}
		
		.lostpassword-button {
			@extend .button;
		}
		.lostpassword-form {
			.form-row {
				@include clearfix;
			}
			.login-remember {
				float:left;
			}
			.lostpassword-submit {
				float:right;
			}
		}
		
		
		.link-more {
			width:100%;
			padding-top:15px;
		}
		.learn-more {
			text-align:center;
			color: $ns_red !important;
			text-decoration:none !important;
			font-family: "PT Sans";
			font-size: 18px;
			font-weight: 700;
			letter-spacing: 1px;
			width: 100%;
			text-transform: uppercase;	
			z-index: 3;
			position:relative;
			display:block;
			
			&.hover {
				color: $ns_navy2;
			}
			
			&:after {
				width: 36px;
				height: 13px;
				background: url(../img/icon-down.png) no-repeat center center; 
				background-size: 100% auto;
				content: '';
				position: absolute;
				bottom:-40px;
				right:48%;
				
				display:block;
				animation: bounce 2s infinite;
				-webkit-animation: bounce 2s infinite;
 				-moz-animation: bounce 2s infinite;
 				-o-animation: bounce 2s infinite;
				
			}
		}
	}
}

// ********** END LOGIN FORMS *****************//


// ********** BUDDYPRESS STYLES *****************//
//using flexbox mixins available in bourbon
//https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_flex-box.scss
#buddypress {
	//all styles are mobile first, with overwrites for these breakpoints
	$large: new-breakpoint(min-width 992px);
	$medium: new-breakpoint(min-width 580px);
	
	h1, h2, h3, h4 {
		@extend .bp-header;
	}
	h1 {
		font-size:24px;
	}
	h2 {
		font-size:20px;
	}
	h3 {
		font-size:16px;
	}

	font-size:2rem;
	line-height:130%;
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 568px) {
	  font-size: 3.2rem;
	}
	@include media($desktop) {
		font-size:1.6rem;
	}
	
	a:link, a:visited {
		color: $ns_red2;
		text-decoration:none;
	}
	a:hover {
		color: $ns_blue1;
	}
	a:active {
		color: $ns_navy2;
	}
	
	@extend .container;
	//@extend .container--flex;

	font-family:$gudea;
	img.avatar {
		border-radius:50%;
		max-width:100%;
		height:auto;
	}
	
	#message {
		@extend .box-margin;
	}
	
	//hide it initially on profile edit screen
	//we fade it in and move it to top with jQuery on this page
	.profile-edit div#message {
		display:none;
	}
	
	//TO DO: move colors to vars
	#pass-strength-result {
		background-color: #eee;
		border-color: #ddd;
		border-style: solid;
		border-width: 1px;
		display: none;
		margin: 0 0 20px 0;
		padding: 5px;
		text-align: center;
		width: 100%;
		
		&.error, &.bad {
			background-color: #ffb78c;
			border-color: #ff853c !important;
			display: block;
		}
		&.good {
			background-color: #ffec8b;
			border-color: #fc0 !important;
			display: block;
		}
		
		&.short {
			background-color: #ffa0a0;
			border-color: #f04040 !important;
			display: block;
		}
		
		.strong {
			background-color: #c3ff88;
			border-color: #8dff1c !important;
			display: block;
		}
	
	}
	
	.divider {
		background-color:$gray5;
		-webkit-box-shadow: 0 1px 0 0 $white;
		box-shadow: 0 1px 0 0 $white;
		height:1px;
		width:100%;
		display:block;
		margin:30px 0;
	}
	
	
	//TABS
	
	//*^*^*^*^*^*^*^*^*^*^*
	/* GRADIENT DIVIDER */
	.bot-left {
	  position: relative;
	}
	.bot-left:after {
	  content: "";
	  position: absolute;
	  bottom: -13px;
	  left: 0;
	  
	}
	
	.bot-left:after {
	  right: -1px;
	  height: 1px;
	  background-image: -webkit-gradient(linear, 0 0, 100% 0, from($ns_blue3), to(transparent));
	  background-image: -webkit-linear-gradient(left, $ns_blue3, transparent);
	  background-image: -moz-linear-gradient(left, $ns_blue3, transparent);
	  background-image: -o-linear-gradient(left, $ns_blue3, transparent);
	}
	/* //END GRADIENT DIVIDER */
	
	#object-nav {
		@extend .box-margin;
		
		//responsive dropdown
		.object-nav-select {
			select {
				@extend .member-form-input;
				@extend .member-form-select;
			}
		}
		
		ul {
			@extend .bot-left;
			li {
				display:inline;
				border-right:1px solid $white;
				a {
					padding:10px 20px;
					background-color:$gray7;
					color:$gray4;
					font-weight:$bold;
					letter-spacing:1px;
					position:relative;
					font-size:16px;
					@include media($large) {
						font-size:20px;
					}
					
					span {
						border-radius: 50%;
  						width: 30px;
  						height: 30px;
  						padding: 8px;
  						background: $ns_red2;
  						border:1px solid $white;
  						color:$white;
  						text-align: center;
  						font-size:12px;
  						font-family:$oswald;
  						font-weight: $bold;
  						position:absolute;
  						top:-10px;
  						right:-8px;
						z-index:100;
					}
					
				}
				
				&.current {
					a {
						background-color:$ns_blue3;
						color:$white;
					
					}
				}
			}
		}
	}
	
	/*******************************************/
	/* MESSAGES */
	.ns-messages {
		@extend .box-margin;
		@include outer-container;
		
		/* legacy styles */
		table#message-threads tr.unread td {
			background: #fff9db;
			border-top: 1px solid #ffe8c4;
			border-bottom: 1px solid #ffe8c4;
			font-weight: bold;
		}
		a.message-action-star,
		a.message-action-unstar {
			border-bottom: 0;
			text-decoration: none;
			outline: none;
		}
		a.message-action-star {
			opacity: .7;
		}
		a.message-action-star:hover {
			opacity: 1;
		}
		.message-action-star span.icon:before,
		.message-action-unstar span.icon:before {
			font-family: dashicons;
			font-size: 24px;
		}
		.message-action-star span.icon:before {
			color: $ns_red2;
			content: "\f154";
		}
		.message-action-unstar span.icon:before {
			color: $ns_red2;
			content: "\f155";
		}
		/*end legacy*/
		
		.messages-nav {
			@include media($medium) {
				@include span-columns(3);
			}
			
			ul {
				background-color:$gray7;
				@include align-items(stretch);
				@include display(flex);
				@include flex-direction(row);
				@include justify-content(space-around);
				margin-bottom:30px;
				@extend .box-shadow;
				@include media($medium) {
					box-shadow:none;
					@include flex-direction(column);
				}
				
				li {
					//wanted to extend .icon here, but can't
					//becuase the text inside the link isn't wrapped
					
					width:25%;
					border-right:1px solid $gray5;
					border-bottom:none;
					&:last-child {
						border-right:none;
					}
					
					padding:30px 0;
					@include media($medium) {
						border-bottom:1px solid $gray5;
						border-right:none;
						-webkit-box-shadow: 0 1px 0 0 $white;
						box-shadow: 0 1px 0 0 $white;
						padding:30px 20px;
						width:100%;
					}
					
					
					a {
						text-align:center;
						margin:0 auto;
						@include hide-text;
						height:25px;
						@include media($large) {
							text-align:left;
							margin:0;
							height:auto;
						}
						display:block;
						font-size:18px; //for text
						
						&:before {
							font-family:"icons";
							font-size:24px;
							padding:0;
							margin:0 auto;
							display:table;
							@include media($medium) {
								padding-right:15px;
								display:block;
							}
							@include media($large) {
								display:inline;
							}
							vertical-align: text-top;
							text-align:center;
							
							@include media($large) {
								text-align:left;
								margin:0;
								display:inline;
							}
						}
					}
					&.current {
						a {
							color:$ns_blue2;
						}
					}
						
				}
				li#inbox-personal-li {
					a:before {
						@extend .icon_inbox;
						
					}
				}
				li#starred-personal-li {
					a:before {
						@extend .icon_star;
						font-size:30px;
						position:relative;
						top:4px;
					}
				}
				li#sentbox-personal-li {
					a:before {
						@extend .icon_sent;
					}
				}
				li#compose-personal-li {
					/*background-color:$ns_red2;*/
					a {
						/*color:$white;*/
						padding-top:3px;
						&:before {
							@extend .icon_chat-bubble;
						}
					}
				}
				li#notices-personal-li {
					a:before {
						@extend .icon_contact;
					}
				}
					
			}
		}
		.messages {
			@include media($medium) {
				@include span-columns(9);
			}
			position:relative;
			
			img.avatar {
				vertical-align:top;
				margin-top:-2px;
			}
			
			label {
				display:block;
				font-weight:$bold;
				padding-bottom:10px;
			}
			input[type="text"], textarea {
				@extend .member-form-input;
				display:block;
				margin-bottom:15px;
			}
			input[type="submit"] {
				@extend .button;
			}
			.message-search {
				padding:15px 20px;
				position:relative;
				z-index:80;
				form {
					position:relative;
					label {
						@extend .bp-screen-reader-text;
					}
					input#messages_search {
						margin-bottom:0;
					}
					
					input[type="submit"] {
						border:none;
						&:hover {
							border:none;
						}
						text-indent: -9999px;
						background-image: url(../icons/search.svg);
						border: none;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 90;
						background-repeat: no-repeat;
						background-position: center;
						background-color: transparent;
						height: 44px;
						width: 50px;
						padding: 0;
						background-size: 30px;
					}
				}
			}
			.messages-options-nav {
				/*position:absolute;
				top:20px;
				left:20px;*/
				padding:0 20px;
				display:none;
				@include media($medium) {
					display:block;
				}
				select {
					@extend .member-form-input;
					@extend .member-form-select;
					width:170px;
					background-position: 128px 7px;
					background-size: 30px;
					
				}
			}
			
			//redo the table for mobile
			table#message-threads {
				/*thead,
				.bulk-select-check,
				.thread-options {
					display:none;
				}
				.thread-from,
				.thread-info {
					display:table-row;
					padding:20px;
				}
				@include media($medium) {
					thead,
					.bulk-select-check,
					.thread-options,
					.thread-from,
					.thread-info {
						display:inherit;	
					}
				}*/
				
			}
			
			#send_message_form {
				margin-top:15px;
				display:block;
				.friend-tab {
					img.avatar {
						margin-top:0;
						margin-right:6px;
						vertical-align:initial;	
					}
				}
					
			}
			
			/* STARRED / SENT MESSAGES */
			.message-header-wrapper {
				@include clearfix;
				background-color:$gray6;
				@extend .box-shadow;
				position:relative;
			}
			//.messages-list {
				
				.single {
					background-color:$gray7;
					
					.content-padding {
						padding:20px;
					}
					.single-header {
						@include outer-container;
						.message-recipients {
							@include span-columns(10);
						}
						.single-actions {
							@include span-columns(2);
							text-align:right;
							.icon {
								font-size:24px;
							}
						}
					}
					.single-message {
						.message-data {
							@include outer-container;
							
							.message-avatar {
								margin-bottom:20px;
								text-align:center;
								@include media($medium) {
									@include span-columns(2);
									text-align:left;
								}
							}
							.message-content {
								@include media($medium) {
									@include span-columns(10);
									margin-right:0;
								}
								
								h3 {
									padding-bottom:10px;
								}
							}
						}
					}
				}
				
				
				.loop {
					background-color:$gray7;
					.pagination.top {
						margin-bottom:15px;
					}
					table {
						width:100%;
						th {
							font-weight:$bold;
							text-transform:uppercase;	
						}
						th,td {
							padding:20px;
							text-align:left;
						}
						td.messages-divider {
							padding:0;
							.divider {
								margin:0;
							}
						}
						td.thread-from {
							max-width:100px;
							.avatar {
								display:block;
							}
						}
						td.thread-info {
							max-width:300px;
							p.subject {
								font-weight:$bold;
							}
						}
						td.thread-options {
							text-align:center;
							.icon {
								font-size:24px;
								display:inline-block;
								margin:0 5px;
							}
						}
						
					}
				}
			//}
			
		}
		.info {
			text-align:center;
			padding:50px 0;
			
			&.bad-news {
				.icon {
					font-size:100px;
					color:$ns_red0;
				}
			}
		}
	}
	
	/* END MESSAGES */
	
	
	
	/*******************************/
	/* Member info row at top of most pages */
	.member-row {
		
		@include outer-container;
		@extend .box-margin;
		@include omega(3n);
		
		
		.left-wrapper {
			@include span-columns(12);
			@include media($large) {
				@include span-columns(6);
			}
		}
		
		
		.member-info-card {
			min-height:200px;
			
			@extend .box-shadow;
			@extend .box-padding;
			background-color:$gray7;
			
			//this is for positioning avatar and name areas
			@include display(flex);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(row);
			
			.member-header-avatar {
				width:15%;
				margin-right:5%;
				min-width:120px;
				img.avatar {
					width:100% !important;
					height:auto !important;
				}
			}
			.member-meta-bio {
				width:80%;
				
				.item-block-content {
					margin-top:20px;
					
					.icon {
						text-align:center;
						border-radius: 50%;
						border:1px solid $black;
						color:$black;
						width:50px;
						height:50px;
						font-size: 28px;
    					padding-top: 12px;
					}
					.item-subblock {
						display:inline-block;
						margin-right:20px;
						margin-bottom:20px;
						@include media($desktop) {
							margin-bottom:0;
						}
						vertical-align:middle;
					}
				}
			}
		}
		.member-notifications {
			background-color:$gray7;
			margin-top:15px;
			h3 {
				margin-bottom:30px;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			.prompt {
				font-weight:$bold;
			}
		}
			
		.member-settings,
		.member-change-avatar {
			background-color:$gray7;
			@include span-columns(12);
			margin-top:15px;
			@include media($large) {
				@include span-columns(6);
				margin-top:0;
			}
			h3 {
				margin-bottom:30px;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			a.button.edit {
				margin:30px 0;
			}
			.bp-progress {
				margin:0;
			}
			
			
			
		}
		
		.form-row {
				
			label {
				font-weight:$bold;
			}
			.settings-input {
				margin-top:15px;
				display:block;
				@extend .member-form-input;
			}
			input[type="submit"] {
				@extend .button;
			}
		}
		
		.profile-callout-block,
		.callout-block {
		
			text-align:center;
			background-color:$gray7;
			@include span-columns(12);
			margin-top:15px;
			@include media($medium) {
				@include span-columns(6);
				margin-top:0;
				min-height:200px;
			}
			@include media($large) {
				@include span-columns(3);
				margin-top:0;
			}
			@extend .box-shadow;
			@extend .box-padding;
			
			h2 {
				color:$ns_red2;
				margin-bottom:10px;
				.icon {
					font-size: 80%;
					display: block;
					margin-bottom: 10px;
				}
			}
			.item-block-content {
				color:$gray2;
				margin-bottom:10px;
			}
			.item-block-button-go {
				@extend .button;
			}
		}
		.profile-callout-block {
			@include span-columns(12);
			margin-top:30px;
			@include media($large) {
				margin-top:0;
				@include span-columns(6);
			}
			
			.profile-info {
				@include display(flex);
				@include flex-direction(row);
				@include justify-content(space-around);
				@include align-items(flex-start);
				@include align-content(center);
				
				@include media($medium) {
					padding-top:15px;
				}
				
				.one,
				.two {
					
				}
				
				.industry,
				.member-status {
					margin-top:15px;
				}
				.headline {
					color:$gray2;
					text-align:center;
					
					@include media($medium) {
						text-align:left;
					}
					
					.icon {
						font-size:33px;
						text-align:top;
						width:100%;
						display:block;
						@include media($medium) {
							width:45px;
							display:inline-block;
						}
						
						&.icon_marker:before {
							margin-left:5px;
						}
					}
				}
				
				.border {
					padding-bottom:20px;
					border-bottom:1px solid $gray5;
				}
			
				.item-block-content {
					color:$black;
					font-weight:$bold;
					display:block;
					@include media($medium) {
						font-size:120%;
						padding-left:45px;
						margin:-5px 10px 0 0;
					}
				}
			}	
		}
	}
	
	
	/* NOTIFICATIONS */
	.notifications-menu {
		@extend .box-margin;
		
		ul {
			@include clearfix;
			li {
				float:left;
				margin-right:20px;
				&.filters-title {
					font-weight:$bold;
				}
				&.last {
					float:right;
					margin-right:0;
				}
			}
		}
	}
	.notifications-list {
		@extend .box-margin;	
		table {
			width:100%;
			th {
				font-weight:$bold;
				text-transform:capitalize;
				background-color:$gray6;
				@extend .box-shadow;
			}
			th, td {
				padding:10px;
				text-align:left;
			}
		}
	}
	
	/****************************/
	/****** PROFLE VIEW ************/
	.profile-view {
		@extend .box-margin;
		@include outer-container;
		
		.left,
		.right {
			@extend .box-shadow;
			@extend .box-padding;
			background:$gray7;
			h3 {
				padding-bottom:20px;
			}
			//bullets 
			ul > li {
				@extend .icon;
				@extend .icon_star;
				padding-bottom:10px;
				position:relative;
				display:block;
			    &:before {
			    	color: $ns_blue1;
			    	padding-right:10px;
			    	vertical-align:middle;
			    	font-size:24px;
			    	position:absolute;
			    	top:1px;
			    }
			    
			    &.advancing-national-service {
			    	@extend .icon_crest;
					left:2px;
			    	
			    }
			    &.bridging-the-opportunity-divide {
			    	@extend .icon_bridge;
			    }
			    &.making-government-work {
			    	@extend .icon_government;
					left:2px;
			    }
			    &.preserving-our-environment {
			    	@extend .icon_environment;
					left:1px;
			    }
			    
			    span {
			    	font-family:$gudea;
			    	font-size:18px;
			    	display: inline-block;
   					padding-left: 38px;
   					padding-bottom: 10px;
					padding-top:4px;
			    }
    		}
    	}
		.left {
			@include media($large) {
				@include span-columns(8);
			}
		}
		.right {
			@include media($large) {
				@include span-columns(4);
			}
			.interests {
				margin-top:30px;
			}
		}
	
	}
	/**** //END VIEW *************/
	
	
	/****************************/
	/****** PROFLE EDIT ************/
	
	.profile-edit-forms {
		@include span-columns(12);
		margin-right:0 !important;
		margin-top:30px;
		@include media($large) {
			@include span-columns(6);
			margin-top:0;
		}
		/*@include display(flex);
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-wrap(wrap);
		@include flex-direction(column);
		@include media($medium) {
			@include flex-direction(row);
		}*/
	}
	
	
	.profile-edit-form {
		.button-nav {
			li {
				margin:0 5px 0 0;
				a {
					border:none;
					background-color:$gray7;
					&:hover {
						border:none;
					}
				}
				&.current {
					a {
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbbbbb+0,f6f6f6+100 */
						background: $gray4; /* Old browsers */
						background: -moz-linear-gradient(top,  $gray4 0%, $gray7 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(top,  $gray4 0%,$gray7 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to bottom,  $gray4 0%,$gray7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gray4', endColorstr='$gray7',GradientType=0 ); /* IE6-9 */
						border:none;
					}
				}
			}
		}
		
		form {
			background:$gray7;
			@extend .box-padding;
			@extend .box-shadow;
			
			
			/*&:last-child {
				margin-top:30px;
				
				@include media($medium) {
					margin-top:0;
				}
				
				@include media($large) {
					//margin-top:-234px;
				}
			}*/
		}
	}
	
	#popup-bio-info {
		position:absolute;
		top:50px;
		right:0;
		z-index:2000;
		background:$white;
		padding:30px;
		@extend .box-shadow;
		ul {
			list-style-type: circle;
			padding-left:30px;
			margin:10px 0 20px 0;
			li {
			
			}
		} 
	}
	
	.profile-edit-form-bio,
	.profile-edit-form {
	
		.editfield {
			margin-bottom:20px;
		}
		
		h3 {
			padding-bottom:20px;
			color:$black;
			span {
				font-size:12px;
			}
		}
		input[type="text"], select, textarea {
			@extend .member-form-input;
			max-width: 100%;
		}
		select {
			@extend .member-form-select;
		}
		select[multiple] {
			background-image:none;
		}
		.datebox select {
			width:32.7%;
			padding-right:inherit;
		}
		input[type="submit"] {
			@extend .button;
		}
		label {
			font-weight:$bold;
			padding:0 0 5px 0;
			display:block;
		}
		.checkbox {
			label {
				&:first-child {
					font-weight:$bold;
					margin-bottom:5px;
				}
				&:last-child {
					span {
						display:none;
					}
				}
				font-weight:normal;
			}
			input {
				margin-right:10px;
				vertical-align:top;
			}
		}
		p.description, span.optional {
			font-style:italic;
			font-weight:$bold;
			color:$gray4;
		}
		.bp-required-field-label {
			@extend .bp-screen-reader-text;
		}
		.field_birthday-month,
		.field_birthday-day {
			width:49%;
			display:inline-block;
		}
	}
	
	
	.ns-flag-overlay {
		position:relative;
		//icon over the image for staff
		span {
			position:absolute;
			width:30px;
			height:30px;
			background-color:$ns_red1;
			border-radius:50%;
			color:$white;
			text-align:center;
			padding-top:6px;
			font-size:24px;
			bottom:10px;
			right:0;
		}
	}
	
	
	
	//Activity
	.activity-list {
		@extend .box-margin;
		
		.activity-item {
			padding:50px 0 15px 0;
			border-bottom:1px solid $gray5;
			position:relative;
			@include outer-container;
			@include omega(2n);
			
			&:first-child {
				padding-top:0;
			}
			
			.activity-avatar {
				text-align:center;
				margin-bottom:20px;
				@include media($medium) {
					@include span-columns(2);
					text-align:left;
				}
				
				
			}
			.activity-content {
							
				@include media($medium) {
					@include span-columns(10);
					margin-right:0;
				}
				.activity-header {
					color: $gray1;
					a {
						font-weight:$bold;
						
						&.activity-time-since {
							display:none;
						}
					}
				}
				.activity-meta {
					margin:15px 0 0 0;
					a {
						@extend .icon;
						@include hide-text;
						font-size:36px;
						height:36px;
						width:36px;
						padding:0 10px 0 0;
						color:$gray4;
						
						
						&.loading {
							border:none;
							-webkit-animation:none;
							-moz-animation:none;
							border-color:transparent;
							width:60px;
							background-image:url(../img/ring.gif);
							background-repeat:no-repeat;
							background-position:center right;
							background-size:24px 24px;
						}
						&:visited {
							color:$gray4;
						}
						&:hover {
							color:$ns_blue2;
						}
						&:active {
							color:$ns_navy2;
						}
						
						&.acomment-reply {
							@extend .icon_reply;
						}
						&.fav {
							@extend .icon_thumbsup-empty;
						}
						&.unfav {
							@extend .icon_thumbsup-filled;
							color:$ns_red2;
						}
						&.delete-activity {
							@extend .icon_trash;
							font-size:30px;
							border:none;
							padding-top:2px;
							&:hover {
								border:none;
							}
						}
					}
				}
			}
			.activity-comments {
				clear:both;
				padding:15px 0;
				
				ul {
					@include media($medium) {
						margin-left:17.05961%;
					}
					li {
						@include clearfix;
						border-top: 1px solid $gray6;
    					padding-top: 10px;
						position:relative;
						margin-bottom: 30px;
						.acomment-avatar {
							float:left;
							margin-right:30px;
						}
						.acomment-content {
							padding-top: 15px;
						}
						.activity-time-since,
						.acomment-reply {
							display:none;
						}
						.acomment-options {
							float: right;
							position: absolute;
							right: 0;
							top: 10px;
						}	
					}
				}
				
				form {
					@include outer-container;
					.ac-reply-avatar {
						@include span-columns(2);
					}
					.ac-reply-content {
						@include span-columns(10);
						margin-right:0;
						
						textarea {
							@extend .member-form-input;
							margin-bottom:10px;
						}
					}
				}
			}
			
			
			.activity-inner {
				margin:10px 0 5px 0;
			}
			
		}
	}
	
	
	
	//*****************************************/
	//******* EVENTS and OPPS *****************/
	.intro-text {
		font-family:$pt-serif-italic;
		color:$ns_navy2;
		padding-bottom:15px;
		font-size:4rem;
		line-height:130%;
		@include media($desktop) {
			font-size:2rem;
		}
		&.announcements {
			@extend .box-margin;
		}
	}
	
	.tab-content {
		@extend .box-margin;
		
		
		//events and opportunities
		.nsc-item-listing {
			
			.search-filter {
				margin-bottom:30px;
				form {
					@include media($large) {
						margin-left:17.05961%;
					}	
					label {
						font-weight:$bold;
						color:$gray3;
						padding-right:20px;
						display:block;
						@include media($medium) {
							display:inline;
						}
					}
					select {
						width:100%;
						margin-top:10px;
						@include media($medium) {
							width:33%;
						}
					}
				}
			}
			
			.item-info {
				@include outer-container;
				margin:30px 0;
				.item-icon {
					margin-bottom:20px;
					.icon {
						color:$ns_red2;
						font-size: 50px;
						border-radius: 50%;
						border: 1px solid $ns_red2;
						width: 100px;
						height: 100px;
						text-align: center;
						display: block;
						padding-top: 22px;
						padding-left: 3px;
						margin:0 auto;
						
					}
					@include media($large) {
						@include span-columns(2);
					}
				}
				.item-details {
					@include media($large) {
						@include span-columns(10);
					}
					.item-title {
						color:$black;
						font-weight:$bold;
						font-size:20px;
						display:block;
						margin-bottom:20px;
					}
					.date-location {
						@include outer-container;
						margin:30px 0;
					
						.date-time,
						.location {
							@include span-columns(4);
							margin-left:20px;
						
							&:before {
								position:absolute;
								margin-left:-20px;
								font-size:28px;
							}
							span {
								font-family:$gudea;
								display:block;
								padding-left:20px;
							}
							
							
						}
					}
					.rsvp {
						a.action {
							@extend .button;
						}
						span {
							font-size:2rem;
							vertical-align: text-top;
							display:inline-block;
							color:$ns_red2;
							margin:0 20px;
						}
					}
				}
			}
			.no-items {
				text-align:center;
				padding:30px 0; 
			}
		}
		
	}
	
	
	//**********************************/
	//******* Avatar upload form *******/
	.bp-avatar {
		.drag-drop-buttons {
			label {
				display:none;
			}
		}
	}
	
	
	#whats-new-form {
		@extend .box;
		@extend .box-shadow;
		p.activity-greeting {
			font-size: 2rem;
    		display: inline-block;
    		vertical-align: top;
    		padding: 1.5rem;
		}
		#whats-new-avatar,
		p.activity-greeting {
			display:inline-block;
		}
		#whats-new-textarea {
			margin-top:15px;
			float:none;
			clear:both;
		}
		#aw-whats-new-submit {
			@extend .button;
		}
	}
	#members-dir-search {
		//@include outer-container;
		@extend .box-margin;
		
		.page-header,
		.member-search-filter {
			@include span-columns(6);
		}
		.member-search-filter {
			text-align:right;
		}
		input[type="text"] {
			@extend .member-form-input;
			margin:30px 0;
		}
		#council_branch,
		#industry,
		#nationswell_topics,
		#interested_in {
			margin-bottom:10px;
			vertical-align:top;
			@extend .member-form-input;
			@extend .member-form-select;
			@include media($medium) {
				width:23%;
				margin-right:2.66666%;
				margin-bottom:0;
			}
		}
		#interested_in {
			margin-right:0;
		}
		#industry_chosen{
			.chosen-choices {
				margin-bottom:10px;
				@include media($medium) {
					margin-bottom:0;
				}
				li.search-field {
					//width:100%;
					input {
						/*background-image: url(../icons/arrow-down.svg) !important;
						background-repeat: no-repeat  !important;
						background-position:98% 3px  !important;
						background-size: 30px  !important;
						width:100% !important;*/
						margin:0;
						color:$ns_black;
					}
				}
			}
			
			@include media($medium) {
				width:23%!important;
				margin-right:2.66666%;
				margin-bottom:0;
				
			}
		}
		input[type="submit"] {
			@extend .button;
			margin-top:30px;
			display:inline-block;
		}
		.reset {
			margin-left:20px;
			border-left: 1px solid $gray4;
			padding:10px 20px;
			vertical-align:baseline;
			display:inline-block;
		}
			
	}
	#members-directory-form {
		@extend .box-margin;
	}
	#pag-top {
		display:none;
	}
	#members-list {
		@include outer-container;
		li {
			background:$gray7;
			margin-bottom:2rem;
			padding:15px;
			min-height:125px;
			
			
			@include omega(1n);
			@include span-columns(12);
			
			@include media($medium) {
  				@include span-columns(6);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(1n, 12);
  				@include omega(2n);
			}
			
			@include media($large) {
  				@include span-columns(4);
  				@include display(flex);
  				@include flex-direction(row);
  				@include omega-reset(2n, 12);
  				@include omega(3n);
			}
			
			
			//this is for positioning items inside
			@include display(flex);
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-direction(column);
			@extend .box-shadow;
			
			
			.item-avatar,
			.item {
				text-align:center;
				padding-bottom:10px;
				@include media($medium) {
					text-align:left;
				}
			}
			.item-avatar {
				width:20%;
				margin-right:5%;
				span {
					width:16px;
					height:16px;
					padding-top:3px;
					font-size:14px;
					bottom:20px;
					right:7px;

				}
			}
			.item {
				width:75%;
			}
			.item-title {
				@extend h2;
				margin-bottom:2px;
				a {
					color:$black;
				}
			}
			
		}
	}
	.pagination {
		.pag-count,
		.pagination-links {
			padding-bottom:10px;
			text-align:center;
		}
	
	}
	
	
}

// ********** END  *****************//

// Tooltip
	
	#tooltip {
		text-align: center;
		color: $white;
		background: $ns_black;
		position: absolute;
		z-index: 100;
		padding: 15px 15px 20px 15px;
		font-family:$gudea;
		line-height:125%;
		em {
			font-family:$pt-serif-italic;
		}
	}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $ns_black;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
    #tooltip.top:after {
            border-top-color: transparent;
            border-bottom: 10px solid $ns_black;
            top: -20px;
            bottom: auto;
    }
 
    #tooltip.left:after {
		left: 10px;
        margin: 0;
    }
 
    #tooltip.right:after {
        right: 10px;
        left: auto;
        margin: 0;
    }


//TABLES!


#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
	background: #f5f5f5;
}
#buddypress table.notification-settings {
	margin-bottom: 20px;
	text-align: left;
	width:100%;
}
#buddypress #groups-notification-settings {
	margin-bottom: 0;
}
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
	display: none;
}
#buddypress table.notification-settings td {
	padding:15px 0;
}
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
	width: 80%;
	@extend .bp-screen-reader-text;
}
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
	text-align: center;
	width: 40px;
}


// ********** END  *****************//






/*--------------------------------------------------------------
LEGACY STYLES CARRIED OVER FROM DEFAULT CSS
--------------------------------------------------------------*/


/*--------------------------------------------------------------
Ajax Loading
--------------------------------------------------------------*/
#buddypress a.loading,
#buddypress input.loading {
	-webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
	-moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
	border-color: #aaa;
}
@-webkit-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-webkit-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-webkit-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}
@-moz-keyframes loader-pulsate {
	from {
		border-color: #aaa;
		-moz-box-shadow: 0 0 6px #ccc;
		box-shadow: 0 0 6px #ccc;
	}
	to {
		border-color: #ccc;
		-moz-box-shadow: 0 0 6px #f8f8f8;
		box-shadow: 0 0 6px #f8f8f8;
	}
}

#buddypress a.loading:hover,
#buddypress input.loading:hover {
	color: #767676;
}
#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress input[type="submit"][disabled=disabled],
#buddypress button.pending,
#buddypress button.disabled,
#buddypress div.pending a,
#buddypress a.disabled {
	border-color: #eee;
	color: #bbb;
	cursor: default;
}
#buddypress input[type="submit"]:hover.pending,
#buddypress input[type="button"]:hover.pending,
#buddypress input[type="reset"]:hover.pending,
#buddypress input[type="submit"]:hover.disabled,
#buddypress input[type="button"]:hover.disabled,
#buddypress input[type="reset"]:hover.disabled,
#buddypress button.pending:hover,
#buddypress button.disabled:hover,
#buddypress div.pending a:hover,
#buddypress a.disabled:hover {
	border-color: #eee;
	color: #bbb;
}




/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text],
#buddypress .groups-members-search input[type=search],
#buddypress .groups-members-search input[type=text] {
	border: 1px solid #ccc;
	background: #fafafa;
	border-radius: 0;
	color: #767676;
	font: inherit;
	font-size: 100%;
	padding: 6px;
}
#buddypress .standard-form select {
	padding: 3px;
}
#buddypress .standard-form input[type=password] {
	margin-bottom: 5px;
}
#buddypress .standard-form label,
#buddypress .standard-form span.label {
	display: block;
	font-weight: bold;
	margin: 15px 0 5px 0;
	width: auto;
}
#buddypress .standard-form p label,
#buddypress .standard-form #invite-list label {
	font-weight: normal;
	margin: auto;
}
#buddypress .standard-form div.checkbox label:nth-child(n+2),
#buddypress .standard-form div.radio div label {
	color: #767676;
	font-size: 100%;
	font-weight: normal;
	margin: 5px 0 0 0;
}
#buddypress .standard-form#sidebar-login-form label {
	margin-top: 5px;
}
#buddypress .standard-form input[type=text] {
	width: 75%;
}
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
	padding: 4px;
	width: 95%;
}
#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
	width: 35%;
}
#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
	width: 90%;
}
#buddypress .standard-form#signup_form div.submit {
	float: right;
}
#buddypress div#signup-avatar img {
	margin: 0 15px 10px 0;
}
#buddypress .standard-form textarea {
	width: 75%;
	height: 120px;
}
#buddypress .standard-form textarea#message_content {
	height: 200px;
}
#buddypress .standard-form#send-reply textarea {
	width: 97.5%;
}
#buddypress .standard-form p.description {
	color: #767676;
	font-size: 80%;
	margin: 5px 0;
}
#buddypress .standard-form div.submit {
	clear: both;
	padding: 15px 0 0 0;
}
#buddypress .standard-form p.submit {
	margin-bottom: 0;
	padding: 15px 0 0 0;
}
#buddypress .standard-form div.submit input {
	margin-right: 15px;
}
#buddypress .standard-form div.radio ul {
	margin: 10px 0 15px 38px;
	list-style: disc;
}
#buddypress .standard-form div.radio ul li {
	margin-bottom: 5px;
}
#buddypress .standard-form a.clear-value {
	display: block;
	margin-top: 5px;
	outline: none;
}
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
	float: left;
	width: 48%;
}
#buddypress .standard-form #profile-details-section {
	float: right;
}
#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
	clear: left;
}
body.no-js #buddypress #notifications-bulk-management #select-all-notifications,
body.no-js #buddypress label[for="message-type-select"],
body.no-js #buddypress #message-type-select,
body.no-js #buddypress #delete_inbox_messages,
body.no-js #buddypress #delete_sentbox_messages,
body.no-js #buddypress #messages-bulk-management #select-all-messages {
	display: none;
}
#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
	background: #fafafa;
	color: #555;
}
#buddypress form#send-invite-form {
	margin-top: 20px;
}
#buddypress div#invite-list {
	background: #f5f5f5;
	height: 400px;
	margin: 0 0 10px;
	overflow: auto;
	padding: 5px;
	width: 160px;
}

#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress .generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button {
	background: #fff; /* Old browsers */
	border: 1px solid #ccc;
	color: #767676;
	font-size: small;
	cursor: pointer;
	outline: none;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
}

#buddypress input[type=submit]:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress ul.button-nav li.current a,
#buddypress div.generic-button a:hover,
#buddypress .comment-reply-link:hover {
	background: #ededed;
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

#buddypress form.standard-form .left-menu {
	float: left;
}

#buddypress form.standard-form .left-menu #invite-list ul{
	margin:1%;
	list-style: none;
}

#buddypress form.standard-form .left-menu #invite-list ul li {
	margin:0 0 0 1%;
}

#buddypress form.standard-form .main-column {
	margin-left: 190px;
}

#buddypress form.standard-form .main-column ul#friend-list {
	clear:none;
	float: left;
}

#buddypress form.standard-form .main-column ul#friend-list h4 {
	clear:none;
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
	padding: 0 8px 1px;
}

/* Form classes & generic attr styling */
#buddypress form *[disabled="disabled"]{
	cursor: default;
	opacity: .4;
}

.bp-screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important;
}
/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
#buddypress div#message {
	margin: 0 0 15px;
}
#buddypress #message.info {
	margin-bottom: 0;
}
#buddypress div#message.updated {
	clear: both;
	/*display: block;*/
}
#buddypress div#message p,
#sitewide-notice p {
	font-size: 90%;
	display: block;
	padding: 10px 15px;
}
#buddypress div#message.notice p {
	background-color: #fff9db;
	border: 1px solid #e9e0b0;
	clear: left;
	color: $ns_black;
	position:relative;
	strong {
		font-weight:$bold;
		font-size:2rem;
	}
	a#close-notice {
		padding: 5px 10px;
    	position: absolute;
   		right: 0;
    	top: 0;
	}
}

#buddypress div#message.error p {
	background-color: #fdc;
	border: 1px solid #a00;
	clear: left;
	color: #800;
}
#buddypress div#message.warning p {
	background-color: #ffe0af;
	border: 1px solid #ffd087;
	clear: left;
	color: #800;
}
#buddypress div#message.updated p {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}
#buddypress #pass-strength-result {
	background-color: #eee;
	border-color: #ddd;
	border-style: solid;
	border-width: 1px;
	display: none;
	margin: 5px 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 150px;
}
#buddypress .standard-form #basic-details-section #pass-strength-result {
	width: 35%;
}
#buddypress #pass-strength-result.error,
#buddypress #pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
	display: block;
}
#buddypress #pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #fc0 !important;
	display: block;
}
#buddypress #pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
	display: block;
}
#buddypress #pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
	display: block;
}
#buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px 0;
	padding: 6px;
	width: 90%;
}
#buddypress div.accept,
#buddypress div.reject {
	float: left;
	margin-left: 10px;
}
#buddypress ul.button-nav li {
	float: left;
	margin: 0 10px 10px 0;
	list-style: none;
}
#buddypress ul.button-nav li.current a {
	font-weight: bold;
}
#sitewide-notice #message {
	left: 2%;
	position: fixed;
	top: 1em;
	width: 96%;
	z-index: 9999;
}
#sitewide-notice.admin-bar-on #message {
	top: 3.3em;
}
#sitewide-notice strong {
	display: block;
	margin-bottom: -1em;
}





/* Table */
ul.tabletolist {
	/*border-bottom: 2px solid #eee;margin:0 0 20px 0;*/
}
/* Image */
ul.tabletolist img {
    max-width: 100%;
}
/* Table with no row headers */
ul.tabletolist.nrh {
	/*border-bottom: 2px solid #ddd;*/
}
/* Table with no row headers columns */
ul.tabletolist.nrh li:first-child,
ul.tabletolist.nrh li ul li:last-child,
ul.tabletolist.nrh li ul li:first-child {
	display:none;
}

ul.tabletolist.nrh > li  {
    /*border-top: 2px solid #ddd;*/
}
/* Table defaults */
ul.tabletolist, ul.tabletolist > li > ul {
    padding:0 !important;list-style:none !important;
}
/* Inner list */
ul.tabletolist > li > ul {
    margin:0 !important;
}
/* Table titles */
ul.tabletolist > li .titles {
    /*background-color: #bbb;*/
	display:block;color:#fff;padding:10px;
}
/* Table rows */
ul.tabletolist > li > ul > li {
   /* border-bottom:1px solid #eee;*/
	padding:10px;
}
/* Table rows hover 
ul.tabletolist > li > ul > li:hover {
    background-color: #efefef
}*/
/* Table last child row */
ul.tabletolist > li > ul > li:last-child {
    border-bottom:none;
}
/* Table row header */
ul.tabletolist ul > li .row_headers {
    /*font-size:12px;max-width: 100%;float:none;margin-right: 3%;*/
	display:none;
}
/* Table row data */
ul.tabletolist ul > li .row_data {
    float:none; max-width: 100%;
	p.subject {
		font-weight:bold;
	}
}
/* Clearfix */
ul.tabletolist > li > ul > li {*zoom: 1;}
ul.tabletolist > li > ul > li:before, ul.tabletolist > li > ul > li:after {content: " ";display: table;}
ul.tabletolist > li > ul > li:after {clear: both;}
/* Html table row data */
ul.tabletolist ul > li .row_data.html {
}
ul.tabletolist ul > li .row_data.html ul {
    list-style-type: disc;
}
