/* hero */
.hero {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .link-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

/* rubric */
.rubric {
  background-color: $ns_red;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
}

.story--tease {
  background-color: transparent;
  position: relative;

  @include transition(all 0.3s ease-in-out);

  &:hover {
    .story__hed {
      color: $ns_blue1;
    }
  }

  .link-wrapper {
    height: auto;
  }

  .story__feature {
    img {
      display: block;
      width: 100%;
    }
  }

  .story__hed {
    @include transition(all 0.15s ease-in-out);
  }

  .story__dek {
    color: $ns_black;
    font-family: $gudea;
    overflow: hidden;
  }
}

/* support cause */
.support-cause {
  .support-cause__heading {
    color: $ns_red;
  }

  .support-cause__data {
    font-family: $oswald;
    line-height: 1;
    vertical-align: middle;

    &.support-cause__data--red {
      color: $ns_red;
    }

    &.support-cause__data--blue {
      color: $ns_blue1;
    }

    .super {
      font-weight: $regular;
      position: relative;
    }
  }

  .support-cause__label {
    color: $ns_black;
    font-family: $oswald;
    font-weight: $light;
    position: relative;

    -webkit-font-smoothing:antialiased;
  }

  .support-cause__separator {
    color: $gray5;
    display: inline-block;
    vertical-align: bottom;
  }
}

/* sponsor */
.sponsor {
  font-family: $gudea;
  font-weight: $bold;
  text-transform: uppercase;

  .sponsor__logo {
    display: inline-block;
    vertical-align: middle;
  }
}

/* indicator */
.indicator {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  text-align: center;

  &:before {
    color: $white;
  }

  &.indicator--blue {
    background-color: $ns_blue1;
  }

  &.indicator--red {
    background-color: $ns_red;
  }

  &.indicator--title {
    position: relative;

    &.indicator--text {
      .indicator__heading {
        color: $white;
        font-family: $montserrat;
        font-weight: $bold;
      }

      .indicator__subheading {
        color: $white;
        font-family: $montserrat;
        font-weight: $regular;
      }
    }
  }

  &.indicator--take-action {
    position: relative;
    margin: 0 auto;
  }
}

/* module */
.module {
  display: block;
  position: relative;
  width: auto;

  &.module--sidebar {
    margin: 0 auto;
  }

  &.module--bg {
    background-color: $gray6;

    &:before {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    header {
      position: relative;
      text-align: center;
    }

    .module__heading {
      display: inline-block;
      position: relative;

      &:before,
      &:after {
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        speak: none;
        font-family: 'icons';
        /* check is correct character after icon font additions */
        content:"\f117";
        text-rendering:optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      }
    }

    p {
      color: $ns_black;
      font-family: $gudea;
      -webkit-font-smoothing:antialiased;
    }

    &.module--blue {
      &:before,
      .indicator {
        background-color: $ns_blue1;
      }

      .module__heading {
        background-color: $ns_navy1;
        box-shadow: 0 2px 0 $gray6, 0 5px 0 $ns_navy1;
      }
    }

    &.module--red {
      &:before,
      .indicator {
        background-color: $ns_red;
      }

      .module__heading {
        background-color: $ns_red0;
      }
    }
  }

  &.module--list {
    &:after {
      background-color: $gray6;
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
    }

    .module__heading {
      display: block;
      border-bottom: 3px solid $ns_black;
    }

    .story-list {
      li {
        border-bottom: 1px solid $gray6;

        &:last-child {
          border-bottom: 0 none;
        }
      }
    }

    .story--link {
      .story__hed {
        @include transition(all 0.3s ease-in-out);
      }

      &:hover {
        .story__hed {
          color: $ns_blue1;
        }
      }
    }

    &.module--horizontal {
      .story-list {
        li {
          display: inline-block;
          border-bottom: 0 none;
          margin-right: 4.25%;
          vertical-align: top;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.module--image-overlay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .story {
      // $ns_navy0 in rgba
      background-color: rgba(6,24,34, 0.6);
      display: block;
      float: none;
      margin: 0;
    }

    .story__hed {
      text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
    }

    .story__hed,
    .story__dek {
      color: $white;
    }

    .sponsor {
      color: $white;
      display: block;
    }

    &:hover {
      .story__hed {
        color: $ns_blue4;
      }
    }
  }

  /* join us module */
  .join-us {
    .btn--bar {
      width: auto;
    }
  }

  /* subscribe module */
  &.newsletter-subscribe {

  }
}

/* pullquote */
.pullquote {
  position: relative;

  &:before {
    background-color: $ns_red;
    font-family: 'icons';
    color: $white;
    display: block;
    border-radius: 50%;
    text-align: center;
  }

  .pullquote__attribution {
    color: $ns_red;
    font-family: $oswald;
    font-weight: $bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
}

/* tags */
.tag {
  background-color: $ns_red;
  color: $white;
  display: block;
  font-family: $montserrat;

  &:hover {
    background-color: $ns_blue1;
    color: $white;
  }
}

/* author */
.author {
  background-color: $gray7;
}

.author__portrait {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.author__url {
  color: $ns_blue1;
  display: block;
  text-align: center;
  font-family: $gudea;
  font-weight: $bold;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: $ns_red;
  }
}

.author__social {
  margin: 1.2rem auto 0;
  display: block;
  text-align: center;

  li {
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }
  }

  .icon {
    background-color: $gray5;
    color: $white;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;

    &:hover {
      &.icon_facebook { background-color: #5973aa; }
      &.icon_twitter { background-color: #2fb8ed; }
      &.icon_google-plus { background-color: #d34836; }
      &.icon_instagram { background-color: #37668d; }
      &.icon_tumblr { background-color: #2c4762; }
    }
  }
}

.author__byline {
  a {
    color: inherit;
  }

  &:before {
    color: $ns_red;
    content: 'Written by';
    display: block;
    font-family: $montserrat;
    font-weight: $bold;
  }
}

.author__bio {
  font-family: $gudea;
}

/* prev/next */
.prev-next {
  border-top: 7px solid $black;

  li {
    &:last-child {
      text-align: right;
    }
  }

  .story--link {
    .story__hed {
      @include transition(all 0.15s ease-in-out);
    }

    &:hover {
      .story__hed {
        color: $ns_blue1;
      }
    }
  }

  .prev-next__link {
    color: $ns_blue1;
    font-family: $montserrat;
    font-weight: $bold;
    -webkit-font-smoothing: antialiased;

    .icon {
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }
}

/* read next */
.read-next {
  .read-next__heading {
    display: block;
    border-bottom: 3px solid $ns_black;
  }

  li {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}