/* Added June 21, 2016 */


body.login div#login {
	width:85%;
	@include media($desktop) {
		width:50%;
	}
	
	font-family:$gudea;
	h1 a {
		background:url(../img/nsc-logo.png) 0 0 no-repeat;
		width:300px;
		height:146px;
		background-size: 100% auto;
	}
	form {
		label {
			font-size:18px;
		}
		input#user_login,
		input#user_pass {
			@extend .member-form-input;
		}
		p.forgetmenot {
			margin-top:15px;
			label {
				font-size:14px;
			}
		}
		
		.pass-strength-result {
			width:100%;
		}

		p.submit input#wp-submit {
			@extend .button;
			height:auto;
			box-shadow:none;
			text-shadow:none;
		}
	}

	p#backtoblog {
		display:none;
	}
}