.site-logo--footer {
  display: block;
}

.copyright {
  color: $gray3;
  display: block;
  font-family: $gudea;
  position: relative;
}

.footer-links {
  display: inline-block;
  vertical-align: middle;

  li {
    display: inline-block;
  }
}

.footer-links__link {
  color: $gray3;
  font-family: $gudea;
}