.portal__main-column {
  position: relative;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-top: 5rem;
  font-family: $gudea;
  color: $gray1;
}

#directory-nav {
  display: table;
  width: 100%;

  #member-title {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 30%;

    #border-left {
      position: absolute;
      bottom: 0;
      width: 9rem;
      border-bottom: 0.45rem solid #dbdbdb;
    }

    h1 {
      color: #333;
    }
  }


  #directory-tabs {
    display: table-cell;
    vertical-align: middle;
    padding: 1rem;

    ul {
      display: block;
      float: right;
      width: 100%;
      li {
        display: inline-block;
        text-align: center;
        width: 15%;
      }
      a {
        color: $ns_navy0;
        &:hover {
          color: $ns_blue1;
        }
      }

      .active a {
        color: $ns_blue1;
        border-bottom: 0.25rem solid $ns_red;
      }
    }
  }
}


.contacts {

  .contact-info {
    display: block;
    padding: 3rem 0;
    width: 100%;

    .contact__portrait {
      display: inline-block;
      vertical-align: top;
      border-radius: 50%;
      margin: 0;
    }

    .about-contact {
      display: inline-block;
      text-align: left;
      width: 60%;
      padding-left: 10%;

      .bio-content {
        padding: 1rem 0;
        line-height: 1.4;
      }

      .contact-interests {
        color: $ns_blue1;
      }

      .contact-social {
        display: inline-block;
        text-align: middle;

        .icon {
          line-height: 2.5;
          margin-right: 0.75rem;
          &:before {
            padding: 0.6rem 0.7rem;
            color: $white;
            margin: .5rem 1rem 0 0;
            height: 1rem;
          }
        }
        .contact-phone {
          &:before {
            font-family: $gudea;
            background-color: $ns_navy0;
            content: "\0023";
            font-weight: 700;
            padding: 0.35rem .9rem .2rem;

          }
        }

        .contact-email {
          &:before {
            background-color: $ns_red;
            padding: 0.6rem .6rem .3rem;
          }
        }

        .contact-linkedin {
          &:before {
            background-color: $gray0;
            padding: 0.6rem .8rem .3rem;
          }
        }

        .contact-twitter {
          &:before {
            background-color: $ns_blue3;
            padding: 0.6rem .8rem .3rem;
          }
        }
      }
    }
  }
}