.static__container {
  .static__main-column {
    header {
      position: relative;
      margin-bottom: 3.4rem;

      &:after {
        background-color: $gray5;
        content: '';
        display: block;
        width: 20%;
        height: 0.7rem;
      }

      .static__last-updated {
        color: $ns_black;
        font-family: $gudea;
        font-weight: $regular;
      }
    }
  }

  .static__content {
    font-family: $gudea;

    img {
      max-width: 100%;
      height: auto;
    }

    a {
      color: $ns_blue1;
      font-weight: $bold;

      &:hover {
        color: $ns_red;
      }
    }

    em, i {
      font-style: italic;
    }

    strong, b {
      font-weight: $bold;
    }

    > h1 {
      color: $ns_blue3;
      font-family: $oswald;
      font-weight: $bold;
      display: inline-block;
      border-bottom: 3px solid lightgray;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h2 {
      color: $ns_blue2;
      font-family: $oswald;
      font-weight: $bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }

    > h3 {
      color: $ns_red;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h4 {
      color: $ns_black;
      font-family: $montserrat;
      font-weight: $regular;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h5 {
      color: $ns_black;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h6 {
      color: $ns_black;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    hr {
      border: 0;
      height: 0.3rem;
      background-color: $gray5;
      width: 100%;
      display: block;
    }

    > ol {
      counter-reset: li;

      li {
        color: $ns_black;
        font-family: $montserrat;
        position: relative;

        &:before {
          background-color: $ns_red;
          counter-increment: li;
          content: counter(li, decimal-leading-zero);
          color: $white;
          display: inline-block;
          font-family: $oswald;
          font-weight: $bold;
          position: absolute;
          text-align: center;
        }
      }
    }

    > ul {
      li {
        color: $ns_black;
        font-family: $montserrat;
        line-height: 1.2;
        position: relative;

        &:before {
          color: $ns_blue1;
          font-family: 'icons';
          content: $icon_star;
          position: absolute;
        }
      }
    }
  }
  
  /* new styles for static template v 2.0 added by cloudred with classname 'buddy' since this is part of the buddypress integration work. */
  &.buddy {
  	
	/* set up new list styles */
	ul {
		margin-bottom: 1rem;
    	padding-left: 4rem;
		li {
			position:relative;
			padding-bottom:1rem;
			&:before {
    			font-family:"icons";
    			padding-right:2rem;
    			position:absolute;
    			@extend .icon_star;
				color: $ns_red2;
				top:2px;
				left:-2rem;
			}
			ul {
				margin-top:2rem;
				margin-bottom: 0;
				li:before {
					color:$ns_blue2;
				}
			}
		}
	}
	
	ol { 
		counter-reset: item;
		margin-bottom: 1rem;
    	padding-left: 4rem;
        li {
        	display: block;
        	position:relative;
			padding-bottom:1rem;
        	&:before {
            	font-weight:$bold;
            	content: counter(item) ". ";
            	counter-increment: item;
            	color: $ns_red2;
            	position:absolute;
            	top:0;
				left:-2rem;
            }
            ol {
				margin-top:2rem;
				margin-bottom: 0;
				li:before {
					color:$ns_blue2;
				}
			}
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
    	font-family:$pt-serif-bold;
    	margin: 0 0 20px 0;
    }
    h1 {
  		font-size:3.5rem;
  	}
  	h2 {
  		font-size:3rem;
  		color: $ns_red2;
  	}
  	h3 {
  		font-size:2rem;
  	}
  	
  	a {
  		font-weight:normal;
  	}
  	
  	blockquote {
  		font-family:$pt-serif;
  		position:relative;
  		padding-left:4.5rem;
  		&:before {
  			font-family:"icons";
  			@extend .icon_quote;
  			font-size:3.5rem;
  			color: $ns_red2;
  			position:absolute;
  			top:0;
  			left:0;
  		}
  		p {
  			padding-top:.5rem;
  			display:block;
  		}
  	}
  	
  	
  	main {
  		margin:0 2.2rem;
  		.static__content {
  			font-size:inherit !important;
  			p {
  				font-size:inherit !important;
  			}	
  			@include outer-container;
  			.static__left,
  			.static__right {
  				@include media($desktop) {
  					@include span-columns(2);
  				}
  			}
  			.static__main {
  				@include media($desktop) {
  					@include span-columns(8);
  				}
  			}
  		}
  	}
  }
}