.hero--story {
  position: relative;

  &.hero--image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.hero--carousel {
    .carousel-item {
      position: relative;
      margin: 0 auto;
      box-shadow: none;

      &.active {
        .carousel--peek__image {
          opacity: 1;
        }
      }
    }

    .carousel--peek__image {
      background-size: contain;
      opacity: 0.4;

      @include transition(all 0.15s ease-in-out);
    }
  }

  &.hero--video {
    .hero--video__container {
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
}

.hero-information {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  cursor: pointer;

  &:hover,
  &:active {
    .hero-information__toggle {
      color: $ns_blue2;
    }

    .hero-information__outer {
      opacity: 1;
      visibility: visible;
    }

    .hero-information__content {
      @include transform(translate(0,0) scale(1));
    }
  }

  .hero-information__toggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    color: $white;
    text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);

    @include transition(color .15s ease-in-out);
  }

  .hero-information__outer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6,24,34, 0.6);
    visibility: hidden;
    opacity: 0;

    @include transform-origin(left bottom);
    @include transition(all .15s ease-in-out);
  }

  .hero-information__content {
    @include transform(translate(1%,3%) scale(0.98));
    @include transition(all .15s ease-in-out);
  }

  .hero-information__caption {
    color: $white;
    font-family: $gudea;
    line-height: 1.3;
  }

  .hero-information__credit {
    color: $ns_navy5;
    font-family: $gudea;
    line-height: 1.1;
  }
}

.story__container {
  position: relative;

  .story__content {
    > p {
      font-family: $gudea;

      /* drop cap */
      &:first-child:first-letter {
        float: left;
        font-family: $oswald ;
        line-height: 1;
      }

      a {
        color: $ns_blue1;
        font-weight: $bold;

        &:hover {
          color: $ns_red;
        }
      }
    }

    > h1 {
      color: $ns_blue3;
      font-family: $oswald;
      font-weight: $bold;
      display: inline-block;
      border-bottom: 3px solid lightgray;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h2 {
      color: $ns_blue2;
      font-family: $oswald;
      font-weight: $bold;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }

    > h3 {
      color: $ns_red;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h4 {
      color: $ns_black;
      font-family: $montserrat;
      font-weight: $regular;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h5 {
      color: $ns_black;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > h6 {
      color: $ns_black;
      font-family: $montserrat;
      text-transform: capitalize;
      -webkit-font-smoothing: antialiased;
    }

    > ol {
      counter-reset: li;

      li {
        color: $ns_black;
        font-family: $montserrat;
        position: relative;

        &:before {
          background-color: $ns_red;
          counter-increment: li;
          content: counter(li, decimal-leading-zero);
          color: $white;
          display: inline-block;
          font-family: $oswald;
          font-weight: $bold;
          position: absolute;
          text-align: center;
        }
      }
    }

    > ul {
      li {
        color: $ns_black;
        font-family: $montserrat;
        line-height: 1.2;
        position: relative;

        &:before {
          color: $ns_blue1;
          font-family: 'icons';
          content: '\f117';
          position: absolute;
        }
      }
    }
  }
}

/* multimedia */
.multimedia {
  .multimedia__content {
    display: block;
  }

  .credit {
    text-align: right;
  }

  &.multimedia--image {
    img {
      display: block;
      width: 100%;
    }
  }

  &.multimedia--audio {
    .multimedia__content {
      border-bottom: 1px solid $gray6;
    }
  }
}

/* Elastic video */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* sticky */
.story__sticky {
  display: block;
}

.sticky-take-action {
  background-color: $ns_navy2;
  /* pragmatic, for z-index and reasonable vert-centering */
  background-image: url(../img/take-action-flag.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

.sticky-take-action__heading {
  position: relative;
}

.sticky-take-action__action {
  position: relative;
  color: $white;
  font-family: $gudea;
  line-height: 1.25;
}

/* tags */
.story__tags {
  border-bottom: 3px solid $gray6;

  .tags-list {
    &:before {
      content: 'View more NationSwell stories in:';
      color: $gray1;
      font-family: $gudea;
      vertical-align: middle;
    }

    li {
      display: inline-block;
    }
  }
}

// social
.story__social {
  display: block;
}

// take action module
.module.take-action {
  .take-action__heading {
    text-align: center;
  }

  .take-action__img {
    display: block;
    width: 100%;
    max-width: 38rem;
    height: auto;
  }

  p {
    color: $ns_black;
  }
}