.carousel--full-width {
  margin-bottom: 6.8rem;
}

.carousel-item {
  .v-align__inner {
    padding-bottom: 1rem;
  }

  &.active {
    .v-align__inner {
      padding-bottom: 3.4rem;
    }
  }
}

.carousel-item__title {
  margin-bottom: 3.4rem;
}

.mobile-carousel--peek {
  &.carousel--series {
    .carousel--series__image {
      display: none;
      visiblity: hidden;

      &:first-child {
        width: 100%;
        display: block;
        visibility: visible;
      }
    }
  }

  .caroufredsel_wrapper {
    overflow: visible;
  }

  .carousel-item {
    box-shadow: -20px 0 0 white;
    width: 52.6rem;
    height: 30.2rem;
    overflow: hidden;

    &.active {
      overflow: visible;
    }

    .carousel--peek__image {
      width: 52.6rem;
      height: 30.2rem;
    }

    .carousel--series__images {
      width: 52.6rem;
      height: 30.2rem;
    }
  }

  .carousel-item__overlay {
    @include transition(background-color 0.3s ease-in-out);
  }

  .mobile-carousel__external-container {
    .carousel-item__title {
      text-align: center;
    }

    .indicator {}
  }

  .mobile-carousel__caption {
    text-align: center;
  }
}