// Bourbon
@import "../../bourbon/bourbon";
@import "../../neat/neat-helpers";

// Grid settings
$column: 8rem;
$gutter: 2.4rem;
$grid-columns: 6;
$max-width: 98.3rem;

// Neat
@import "../../neat/neat";