#page-header {
  height: 13rem;

  @include transition(background-color 0.15s ease-in-out)
}

/* logo and slogan */
.site-logo {
  &.site-logo--slogan {
    margin-top: 4.6rem;

    .slogan {
      margin-left: 3.6rem;
    }
  }
}

/* more stories toggle */
.more-stories-toggle {
  font-size: 6rem;
  padding-top: 3.8rem;
}

.more-stories-drawer {
  background-color: $ns_navy2;
  height: 100%;
  width: 47rem;
  position: absolute;
  right: 0;
  padding: 4rem 3rem 0 7.6rem;
}

/* mobile panel */
body.panel-open {
  #page-wrapper {
    overflow-x: hidden;
    right: 47rem;

    #page-content {
      pointer-events: none;
    }
  }

  #page-header {
    background-color: $white;

    .more-stories-toggle {
      color: $ns_navy2;
    }
  }
}