#page-header {
  height: 13rem;
}

/* logo and slogan */
.site-logo {
  &.site-logo--header {
    margin-top: 4.6rem;
  }
}

/* more stories toggle */
.more-stories-toggle {
  font-size: 6rem;
  padding-top: 3.8rem;
}