.hero--story {
  background-color: $ns_navy0;
  max-height: 53.2rem;

  &.hero--image {
    height: 53.2rem;
  }

  &.hero--carousel {
    .carousel {
      background-color: $ns_navy0;
      height: 42.6rem;
    }

    .carousel-item {
      height: 42.6rem;
      width: 82rem;
      min-width: 82rem;
    }

    .carousel--peek__image {
      height: 42.6rem;
      width: 82rem;
    }
  }

  &.hero--video {
    .hero--video__container {
      max-width: 67.8rem;
    }

    .hero-information__toggle {
      text-align: left;
    }
  }
}

.hero-information {
  .hero-information__toggle {
    padding: 0rem 6rem;
    font-size: 10rem;
  }

  .hero-information__outer {
    padding: 3rem;
  }

  .hero-information__caption {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  .hero-information__credit {
    font-size: 2rem;
  }
}

.story__container {
  margin-top: 7.6rem;

  .story--page {
    > header {
      .story__hed {
        margin-bottom: 4.8rem;
      }

      .story__dek {
        margin-bottom: 4.6rem;
      }
    }
  }

  .story__content {
    margin-bottom: 22.6rem;

    p {
      font-size: 3.2rem;
      line-height: 1.32;
      margin-bottom: 3.2rem;
      -webkit-font-smoothing: antialiased;

      /* drop cap */
      /* drop cap */
      &:first-child:first-letter {
        font-size: 12.5rem;
        margin-right: 2.6rem;
      }

      a {
        color: $ns_blue1;
        font-weight: $bold;

        &:hover {
          color: $ns_red;
        }
      }
    }

    > h1 {
      margin-bottom: 3.4rem;
      font-size: 5.4rem;
      padding-bottom: 1.2rem;
    }

    > h2 {
      font-size: 4rem;
      margin-bottom: 2.8rem;
    }

    > h3 {
      font-size: 2.4rem;
      margin-bottom: 2.2rem;
    }

    > h4 {
      font-size: 2rem;
      margin-bottom: 2.2rem;
    }

    > h5 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }

    > h6 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    > ol {
      margin: 7.6rem 0;
      padding-left: 11rem;

      li {
        font-size: 3.2rem;
        margin-bottom: 4.2rem;

        &:before {
          font-size: 2.4rem;
          width: 4rem;
          height: 4rem;
          line-height: 4rem;


          left: -7.6rem;
          top: -0.4rem;
        }
      }
    }

    > ul {
      margin: 7.6rem 0;
      padding-left: 11rem;

      li {
        font-size: 3.2rem;
        margin-bottom: 4.2rem;

        &:before {
          font-size: 3.6rem;
          top: 0rem;
          left: -6.6rem;
        }
      }
    }
  }
}

/* multimedia */
.multimedia {
  margin: 7.6rem 0;

  .multimedia__heading {
    display: inline;
    position: relative;
    left: 2rem;
    line-height: 1.5;
  }

  .multimedia__content {
    margin-top: 3.4rem;
  }

  figcaption {
    margin-top: 2.6rem;
  }

  &.multimedia--audio {
    .multimedia__content {
      padding-bottom: 2.2rem;
    }
  }
}

.multimedia__heading {
  margin-bottom: 2.4rem;
}

/* sticky */
.story__sticky {
  padding: 0 1rem;
}

.story__sticky-container {
  width: 16rem;
}

.sticky-social {
  margin-bottom: 5rem;
}

.sticky-take-action {
  padding: 1.6rem;
}

.sticky-take-action__heading {
  margin-bottom: 0.8rem;
}

.sticky-take-action__action {
  font-size: 1.6rem;
}

/* tags */
.story__tags {
  margin-bottom: 7.6rem;

  .tags-list {
    &:before {
      display: block;
      font-size: 3.2rem;
      margin-bottom: 2.2rem;
    }

    li {
      margin-right: 1.4rem;
      margin-bottom: 2.2rem;
    }
  }
}

// social
.story__social {
  margin-bottom: 18rem;

  .btn--bar {
    margin-bottom: 2.4rem;
  }
}

// take action module
.module.take-action {
  margin-bottom: 7.6rem;
  padding-bottom: 5rem;
  text-align: center;

  .take-action__heading {
    margin-bottom: 4rem;
  }

  .take-action__img {
    margin: 0 auto 4rem;
  }

  p {
    font-size: 3.2rem;
    line-height: 1.32;
    margin-bottom: 3.4rem;
  }
}

// flyout
#flyout {
  display: none;
}