.form-element {
   margin-bottom: 1.2rem;

   label {
     font-size: 1rem;
     margin-bottom: 0.4rem;
     margin-left: 1.2rem;
   }

   .text-input {
     font-size: 1.8rem;
     padding: 1.4rem 1.6rem;

     &.text-input--thin {
       font-size: 1.4rem;
       padding: 1rem 1.2rem;
     }
   }

  .text-area {
    font-size: 1.4rem;
    padding: 1.4rem 1.6rem;
  }
}