/* hero */
.hero--homepage {
  height: 56rem;

  &.hero--grid {
    .hero__entry {
      &.hero__entry--1 {
        height: 56rem;
        width: 50%;

        .story__hed {
          max-width: 70rem;
          margin-bottom: 3.4rem;
        }
      }

      &.hero__entry--2,
      &.hero__entry--3 {
        height: 28rem;
        width: 50%;

        .story__hed {
          margin-bottom: 1.8rem;
          max-width: 50rem;
        }
      }

      .story--hero {
        padding: 2.4rem 4.4rem;
      }
    }
  }
}

.support-cause--hero {
  padding: 1.4rem;

  .support-cause__separator {
    font-size: 5.8rem;
    line-height: 3rem;
  }
}

/* river */
.river--two-col {
  .story-teases {
    .story--tease {
      &:hover {
        .story__feature {
          &:before {
            height: 0.7rem;
          }
        }
      }

      .sponsor {
        padding: 0.8rem 1.6rem;
        left: -1rem;
        bottom: 4.6rem;
      }
    }

    .story__feature {
      margin-right: 8rem;
    }
  }

  .story-teases {
    margin-bottom: 2.8rem;

    .story__hed {
      margin-bottom: 1.2rem;
    }
  }
}

/* join us module */
.join-us {
  .btn--bar {
    margin-bottom: 2.1rem;
  }
}