#page-header {
  height: 7.2rem;
}

/* logo and slogan */
.site-logo {
  img {
    width: 24.8rem;
    margin-left: -1.1rem;
    height: auto;
  }

  &.site-logo--slogan {
    margin-top: 1.3rem;

    .slogan {
      margin-left: 2.2rem;
      margin-top: -1rem;
      font-size: 1.2rem;
    }
  }
}

/* more stories toggle */
.more-stories-toggle {
  font-size: 4.4rem;
  padding-top: 1.8rem;
}

/* social links */
.social-links {
  height: 7.2rem;
  margin-right: 3.4rem;
  padding-top: 2.8rem;
  padding-right: 0.6rem;

  li {
    margin-right: 2.8rem;
  }
}

.social-links__link {
  font-size: 3.2rem;
}

/* search */
.expand-field {
  &#page-search {
    margin-right: 1rem;

    label {
      width: 2.8rem;

      &:before {
        font-size: 3.2rem;
      }
    }

    input {
      width: 2.8rem;
      padding-left: 3.8rem;

      &.is-open {
        padding-right: 3.4rem;
        width: 30rem;
      }
    }
  }

  &#page-subscribe {
    margin-right: 0.6rem;
    position: relative;

    label {
      width: 3.8rem;

      &:before {
        font-size: 3rem;
      }

      &.valid,
      &.error {
        text-indent: -9999em;
      }

      &.valid {
        color: $green1;
      }

      &.error {
        color: $ns_red;
      }
    }

    input {
      width: 3.8rem;
      padding-left: 4.8rem;

      &.is-open {
        padding-right: 3.4rem;
        width: 30rem;
      }
    }
  }

  label {
    height: 7.2rem;
    padding-top: 2.8rem;
  }

  input {
    height: 7.2rem;
    top: 0.5rem;
    font-size: 1.4rem;
  }
}


/* trending topics */
.trending-topics {
  background-color: $ns_navy1;
  padding: 0.8rem 0;
}

.trending-topics__heading {
  display: inline-block;
  color: $ns_navy5;
  font-weight: $bold;
  font-size: 1.4rem;
  margin: 0 3.4rem 0 2.2rem;
}

.trending-topics__topic {
  font-size: 1.4rem;
  margin-right: 3.4rem;
}