.sticky-wrapper #page-header .container {
  padding: 0 2.5rem;
}

.portal__main-column {
  width: 100%;
  padding-right: 6rem;
  padding-left: 6rem;

  .static__content {

    max-width: 593px;
    margin: 0 auto;

    strong {
      font-weight: bold;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 2.2rem;
      color: $black;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

#portal-nav {
  .portal-tabs {
    padding-right: 0;
    ul {
      padding: 0 1rem;
    }
  }
}

#directory-nav {
  display: table;
  width: 100%;

  #member-title {
    display: table-cell;
    vertical-align: middle;
    padding: 1.5rem;
  }


  #directory-tabs {
    display: table-cell;
    vertical-align: middle;

    ul {
      float: right;
      li {
        font-size: 2rem;
        max-width: 200px;
      }
    }
  }
}

.contacts .contact-info {
  .about-contact {
    width: 60%;
    padding-left: 10%;

  }
  .contact-image{
    padding: 0 4rem;
    h1 {
      display:none;
    }
  }
}