.hero--series {
  min-height: 28.5rem;
  text-align: center;
  padding: 4rem 12rem 4rem;

  .hero--series__title {
    margin-bottom: 2rem;
  }
}

.river {
  .story__feature {
    margin-bottom: -1.4rem;
  }
}