.hero--story {
  max-height: 42.6rem;

  &.hero--image {
    height: 42.6rem;
  }

  &.hero--carousel {
    .carousel {
      background-color: $ns_navy0;
      height: 42.6rem;
    }

    .carousel__control {
      top: 16.6rem;
    }

    .carousel-item {
      height: 42.6rem;
      width: 82rem;
      min-width: 82rem;
    }

    .carousel--peek__image {
      height: 42.6rem;
      width: 82rem;
    }
  }

  &.hero--video {
    .hero--video__container {
      max-width: 67.8rem;
    }
  }
}

.hero-information {
  .hero-information__toggle {
    padding: 0.8rem 6rem;
    font-size: 4rem;
  }

  .hero-information__outer {
    padding: 2.2rem;
  }

  .hero-information__caption {
    font-size: 1.8rem;
  }

  .hero-information__credit {
    font-size: 1.4rem;
  }
}

.story__container {
  margin-top: 5rem;

  .story--page {
    > header {
      .story__hed {
        margin-bottom: 3.4rem;
      }

      .story__dek {
        margin-bottom: 4.6rem;
      }
    }
  }

  .story__content {
    margin-bottom: 7.2rem;

    > p {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 2.2rem;

      /* drop cap */
      &:first-child:first-letter {
        font-size: 7.8rem;
        margin-right: 2.6rem;
      }

      a {
        color: $ns_blue1;
        font-weight: $bold;

        &:hover {
          color: $ns_red;
        }
      }
    }
  }
}

/* multimedia */
.multimedia {
  margin: 5rem 0;

  .multimedia__content {
    margin-top: 2.2rem;
  }

  figcaption {
    margin-top: 1rem;
  }

  &.multimedia--audio {
    .multimedia__content {
      padding-bottom: 2.2rem;
    }
  }
}

/* sticky */
.story__sticky {
  padding: 0 1rem;
}

.story__sticky-container {
  width: 16rem;
}

.sticky-social {
  margin-bottom: 5rem;
}

.sticky-take-action {
  padding: 1.6rem;
}

.sticky-take-action__heading {
  margin-bottom: 0.8rem;
}

.sticky-take-action__action {
  font-size: 1.6rem;
}

/* tags */
.story__tags {
  margin-bottom: 5rem;
  padding-bottom: 1.4rem;

  .tags-list {
    &:before {
      display: inline-block;
      font-size: 1.6rem;
      margin-right: 1.8rem;
    }

    li {
      margin-right: 1rem;
    }
  }
}

/* author */
.author {
  margin-bottom: 7.2rem;
  padding: 2.6rem 3.4rem;
}

.author__a {
  float: left;
}

.author__b {
  overflow: hidden;
  padding-top: 0.6rem;
  padding-left: 3.4rem;
}

.author__portrait {
  margin-bottom: 1.2rem;
  width: 13.4rem;
  height: 13.4rem;
}

.author__url {
  font-size: 1.4rem;

  &:hover {
    color: $ns_red;
  }
}

.author__social {
  margin-top: 1.2rem;

  li {
    border-left: 1px solid $gray5;
    padding-left: 1rem;
    margin-left: 1rem;

    &:first-child {
      padding-left: 0;
      border-left: 0;
    }
  }

  .icon {
    color: $gray4;
    font-size: 2rem;
    line-height: 0.6;
    height: 1.2rem;
    vertical-align: middle;

    &:hover {
      color: $ns_blue1;
    }
  }
}

.author__byline {
  &:before {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }

  margin-bottom: 1.4rem;
}

.author__bio {
  color: $gray1;
  font-size: 1.5rem;
  line-height: 1.5;
}

// social
.story__social {
  margin-bottom: 7.2rem;
}

// take action module
.module.take-action {
  margin-bottom: 5rem;
  padding-bottom: 3.4rem;

  .take-action__heading {
    margin-bottom: 3.4rem;
  }

  .take-action__a {
    float: left;
    width: 25.6rem;
  }

  .take-action__b {
    overflow: hidden;
    padding-left: 3.4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 2.2rem;
  }
}