.hide_desktop,
.show_mobile,
.show_tablet {
  display: none !important;
  visibility: hidden;
}

.container {
  width: 75em;
}

.river {
//  padding-top: 5rem;
}

#page-wrapper {
  min-width: 128rem;
}