$ns_red: #fc3b40;

$ns_blue1: #0098d8;
$ns_blue2: #1fade0;
$ns_blue3: #5ec2e8;
$ns_blue4: #95d6ef;
$ns_blue5: #cbeaf7;

$ns_navy1: #002130;
$ns_navy2: #003046;
$ns_navy3: #355a6b;
$ns_navy4: #688390;
$ns_navy5: #9aacb5;
$ns_navy6: #ccd6da;

$ns_black: #2d2d2d;
$black: #000;
$white: #fff;

$gray1: #7e7e7e;
$gray2: #9d9d9d;
$gray3: #a7a7a7;
$gray4: #b7b7b7;
$gray5: #dbdbdb;
$gray6: #eeeeee;
$gray7: #f6f6f6;