.btn {
  &.btn--bar {
    color: $white;
    display: block;
    font-size: 2.2rem;
    font-family: $oswald;
    padding: 1.4rem 0 1rem;
    position: relative;
    text-align: center;
    width: 30rem;

    &:before {
      font-family: 'icons';
      font-size: 3.6rem;
      vertical-align: text-bottom;
      line-height: 1.8rem;
      margin-right: 1.6rem;
    }

    &:after {
      content: '';
      display: block;
      height: 0.5rem;
      width: 100%;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
    }

    &:hover {}
  }

  &.btn--facebook {
    background-color: #5973aa;

    &:after {
      background-color: #2e5381;
    }
  }

  &.btn--twitter {
    background-color: #2fb8ed;

    &:after {
      background-color: #209bcb;
    }
  }
}