.btn-container {
  clear: both;
  display: block;
  position: relative;
  text-align: center;
}

.btn {
  &.btn--view-all {
    background-color: $ns_navy0;
    color: $ns_blue1;
    display: inline-block;
    font-family: $gudea;
    font-size: 1.6rem;
    font-weight: $bold;
    padding: 1.2rem 3.4rem 1.2rem 1.2rem;
    position: relative;

    &:before {
      font-family: 'icons';
      font-size: 2rem;
      position: absolute;
      right: 1.2rem;
    }

    &:hover {
      background-color: $ns_blue1;
      color: $white;
    }
  }

  &.btn--bar {
    color: $white;
    display: block;
    font-size: 2.2rem;
    font-family: $oswald;
    padding: 1.4rem 0 1rem;
    position: relative;
    text-align: center;
    width: 30rem;

    @include transition(none);

    &:before {
      font-family: 'icons';
      font-size: 3.6rem;
      vertical-align: text-bottom;
      line-height: 1.8rem;
      margin-right: 1.6rem;
    }

    &:after {
      content: '';
      display: block;
      height: 0.5rem;
      width: 100%;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
    }

    &:hover {
      top: 0.2rem;

      &:after {
        height: 0.3rem;
        bottom: -0.3rem;
      }
    }

    &:active {
      top: 0.5rem;
      box-shadow: inset 0.3rem 0.3rem 0.4rem rgba(0,0,0, 0.2);

      &:after {
        height: 0;
        bottom: 0;
      }
    }
  }

  &.btn--facebook {
    background-color: #5973aa;

    &:after {
      background-color: #2e5381;
    }
  }

  &.btn--twitter {
    background-color: #2fb8ed;

    &:after {
      background-color: #209bcb;
    }
  }

  &.btn--load-more {
    color: $ns_red;
    font-family: $oswald;
    font-size: 2.2rem;
    font-weight: $bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 10rem;

    @include transition(all 0.3s ease-in-out);

    &:before {
      color: $ns_blue1;
      font-family: 'icons';
      font-size: 10.5rem;
      font-weight: $regular;
      position: absolute;
      bottom: -10.4rem;

      @include transition(all 0.3s ease-in-out);
    }

    &:hover {
      top: 0.4rem;

      &:before {
        bottom: -11rem;
      }
    }
  }
}