.carousel {
  background-color: $ns_navy3;
  position: relative;
  margin-bottom: 6.8rem;
}

.carousel__items {
  display: block;
}

.carousel-item {
  display: block;
  float: left;
  height: 46rem;
  position: relative;
  text-align: center;

  &:hover {
    .carousel-item__title {
      color: $ns_blue4;
    }
  }

  .v-align__inner {
    opacity: 0;
    visibility: hidden;
    padding-bottom: 1rem;

    @include transition(all 0.15s ease-in-out);
  }

  &.active {
    .v-align__inner {
      opacity: 1;
      visibility: visible;
      padding-bottom: 3.4rem;

      @include transition(all 0.3s ease-in-out);
      @include transition-delay(.15s);
    }
  }
}

.carousel-item__overlay {
  position:absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin-left:auto;
  margin-right:auto;
  padding: 0 18%;
  width: 100%;
  height: 100%;
}

.carousel-item__title {
  margin-bottom: 3.4rem;

  @include transition(all 0.3s ease-in-out);
}

.carousel__controls {
}

.carousel__control {
  cursor: pointer;
  position: absolute;
  top: 20rem;

  &.carousel__control--prev {
    left: 6rem;
    text-shadow: 0px -2px 4px rgba(0,0,0, 0.4);

    .icon {
      @include transform(rotate(180deg));
    }
  }

  &.carousel__control--next {
    right: 6rem;
    text-shadow: 0px 2px 4px rgba(0,0,0, 0.4);
  }

  .icon {
    color: $white;
    font-size: 10rem;
    width: 6rem;
    height: 6rem;
    line-height: 0.8;

    @include transition(all 0.15s ease-in-out);

    &:hover {
      color: $ns_blue4;
    }
  }
}

.carousel--series {
  .carousel--series__images {
    display: block;
    width: 100%;
    height: 100%;
  }

  .carousel--series__image {
    display: block;
    float: left;
    height: 100%;
    width: 33.3334%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
      content: '';
      background-image: url("../img/overlay_mesh.png");
      background-repeat: repeat;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.5;
      pointer-events: none;
    }

    &:first-child {
      box-shadow: inset -2px 0 0 $white;

      &:after {
        padding-right: 2px;
      }
    }

    &:last-child {
      box-shadow: inset 2px 0 0 $white;

      &:after {
        padding-left: 2px;
      }
    }
  }
}

.carousel--photo {
  .carousel-item {
    width: 94rem;
    height: 54rem;
    box-shadow: -2px 0 0 $white;
    pointer-events: none;

    &.active {
      pointer-events: all;

      .carousel-item__overlay {
        background-color: transparent;
      }
    }
  }

  .carousel--photo__image {
    width: 94rem;
    height: 54rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item__overlay {
    background-color: rgba(0,0,0, 0.5);

    @include transition(all 0.3s ease-in-out);
  }

  .carousel__control {
    top: 24rem;
  }
}