.carousel {
  background-color: $ns_black;
  position: relative;
  margin-bottom: 6.8rem;
}

.carousel__items {
  display: block;
}

.carousel-item {
  display: block;
  float: left;
  height: 46rem;
  position: relative;
  text-align: center;
}

.carousel-item__overlay {
  position:absolute;
  left:0;
  right:0;
  top: 0;
  bottom: 0;
  margin-left:auto;
  margin-right:auto;
  padding: 0 18%;
  width: 100%;
  height: 100%;
}

.carousel-item__title {
  margin-bottom: 3.4rem;
}

.v-align__inner {
  padding-bottom: 3.4rem;
}

.carousel__controls {
}

.carousel__control {
  cursor: pointer;
  position: absolute;
  top: 20rem;

  &.carousel__control--prev {
    left: 6rem;

    &:hover {
    }

    .icon {
      @include transform(rotate(180deg));
    }
  }

  &.carousel__control--next {
    right: 6rem;
  }

  &:hover {}

  .icon {
    color: $white;
    font-size: 10rem;
    width: 6rem;
    height: 6rem;
    line-height: 0.8;

    &:hover {}
  }
}

.carousel--series {
  .carousel--series__images {
    display: block;
    width: 100%;
    height: 100%;
  }

  .carousel--series__image {
    display: block;
    float: left;
    height: 100%;
    width: 33.3334%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:first-child {
      box-shadow: inset -2px 0 0 $white;
    }

    &:last-child {
      box-shadow: inset 2px 0 0 $white;
    }
  }
}

.carousel--photo {
  .carousel-item {
    width: 94rem;
    height: 54rem;
    box-shadow: -2px 0 0 $white;

    &.active {
      .carousel-item__overlay {
        background-color: transparent;
      }

      .v-align__inner {
        opacity: 1;
        visibility: visible;
        padding-bottom: 3.4rem;

        @include transition(all 0.3s ease-in-out);
        @include transition-delay(.15s);
      }
    }
  }

  .carousel--photo__image {
    width: 94rem;
    height: 54rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-item__overlay {
    background-color: rgba(0,0,0, 0.6);

    @include transition(all 0.3s ease-in-out);
  }

  .v-align__inner {
    opacity: 0;
    visibility: hidden;
    padding-bottom: 1rem;

    @include transition(all 0.15s ease-in-out);
  }

  .carousel__control {
    top: 24rem;
  }
}