/* hero */
.hero {
  background-color: $ns_navy3;
  margin-bottom: 5rem;
  height: 42.6rem;
  position: relative;

  &.hero--image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* rubric */
.rubric {
  background-color: $ns_red;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
  font-size: 1.4rem;
  padding: 0.6rem 0.8rem;
  margin-bottom: 1.8rem;
}

.story--tease {
  background-color: transparent;
  padding: 2rem 0;
  margin-bottom: 3.4rem;
  position: relative;

  @include transition(all 0.3s ease-in-out);

  &:hover {
    .story__hed {
      color: $ns_blue1;
    }
  }

  .story__feature {
    img {
      display: block;
      width: 100%;
    }
  }

  .story__hed {
    @include transition(all 0.15s ease-in-out);
  }

  .story__dek {
    color: $ns_black;
    font-family: $gudea;
    font-size: 1.5rem;
    line-height: 1.4;
    overflow: hidden;
  }

  .support-cause {
    margin-top: 1.8rem;
  }
}

.story__hed {
  margin-bottom: 1rem;
}

/* support cause */
.support-cause {
  .support-cause__heading {
    color: $ns_red;
    margin-bottom: 1.4rem;
  }

  .support-cause__data {
    font-family: $oswald;
    font-size: 3.4rem;
    line-height: 3.4rem;
    vertical-align: middle;

    &.support-cause__data--red {
      color: $ns_red;
    }

    &.support-cause__data--blue {
      color: $ns_blue1;
    }

    .super {
      font-size: 2rem;
      font-weight: $regular;
      position: relative;
      top: -1.4rem;
    }
  }

  .support-cause__label {
    color: $ns_black;
    font-family: $oswald;
    font-size: 2rem;
    font-weight: $light;
    position: relative;
    top: -4px;

    -webkit-font-smoothing:antialiased;
  }

  .support-cause__separator {
    color: $gray5;
    font-size: 4.4rem;
    display: inline-block;
    vertical-align: bottom;
    line-height: 3.4rem;
    margin: 0 1rem;
  }
}

/* sponsor */
.sponsor {
  font-family: $gudea;
  font-size: 1.3rem;
  font-weight: $bold;
  text-transform: uppercase;

  .sponsor__logo {
    display: inline-block;
    margin-left: 1.6rem;
    vertical-align: middle;
  }
}

/* indicator */
.indicator {
  background-color: $ns_blue1;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  text-align: center;

  &:before {
    color: $white;
  }

  &.indicator--module {
    width: 7.6rem;
    height: 7.6rem;

    &:before {
      font-size: 5.8rem;
      line-height: 1.5;
    }
  }

  &.indicator--carousel {
    width: 7.6rem;
    height: 7.6rem;
    position: relative;
    top: 1.4rem;

    &:before {
      font-size: 5rem;
      line-height: 1.74;
    }

    &.indicator--text {
      width: 9.8rem;
      height: 9.8rem;

      &:before {
        font-size: 5rem;
        line-height: 1.5;
      }

      .indicator__heading {
        color: $white;
        font-family: $montserrat;
        font-size: 1.4rem;
        font-weight: $bold;
        line-height: 1.4;
        margin-top: -2.6rem;
      }

      .indicator__subheading {
        color: $white;
        font-family: $montserrat;
        font-size: 1.2rem;
        font-weight: $regular;
      }
    }
  }
}

/* module */
.module {
  display: block;
  position: relative;
  width: auto;

  &.module--sidebar {
    width: 32rem;
    display: block;
    margin: 0 auto 7.6rem;
  }

  &.module--bg {
    background-color: $gray6;
    padding: 1.6rem;

    &:before {
      content: '';
      display: block;
      height: 0.7rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    header {
      margin-top: -4.5rem;
      margin-bottom: 2rem;
      position: relative;
      text-align: center;
    }

    .module__heading {
      display: inline-block;
      padding: 0.8rem 0.8rem 0.4rem;
      position: relative;
      top: -1rem;

      &:before,
      &:after {
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        speak: none;
        font-family: 'icons';
        font-size: 1.5rem;
        /* check is correct character after icon font additions */
        content:"\f112";
        text-rendering:optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      }

      &:before {
        margin-right: 1.2rem;
      }

      &:after {
        margin-left: 1.2rem;
      }
    }

    p {
      color: $ns_black;
      font-family: $gudea;
      font-size: 1.8rem;
      line-height: 1.4;
      margin-bottom: 3rem;
      -webkit-font-smoothing:antialiased;
    }

    &.module--blue {
      &:before,
      .indicator {
        background-color: $ns_blue1;
      }

      .module__heading {
        background-color: $ns_navy1;
        box-shadow: 0 2px 0 $gray6, 0 5px 0 $ns_navy1;
      }
    }

    &.module--red {
      &:before,
      .indicator {
        background-color: $ns_red;
      }

      .module__heading {
        background-color: $ns_red0;
        box-shadow: 0 2px 0 $gray6, 0 5px 0 $ns_red0;
      }
    }
  }

  &.module--list {
    &:after {
      background-color: $gray6;
      content: '';
      display: block;
      height: 0.7rem;
      width: 100%;
      position: absolute;
      bottom: -0.7rem;
      left: 0;
    }

    .module__heading {
      display: block;
      border-bottom: 3px solid $ns_black;
      padding-bottom: 1.2rem;
    }

    .story-list {
      li {
        padding: 1.8rem 0;
        border-bottom: 1px solid $gray6;

        &:last-child {
          border-bottom: 0 none;
        }
      }
    }

    .story--link {
      .story__hed {
        @include transition(all 0.3s ease-in-out);
      }

      &:hover {
        .story__hed {
          color: $ns_blue1;
        }
      }
    }

    &.module--horizontal {
      margin: 5rem 0;

      .story-list {
        li {
          display: inline-block;
          border-bottom: 0 none;
        }
      }
    }
  }

  &.module--pull {
    float: right;
    margin: -37.6rem;
    width: 32rem;
  }

  &.module--image-overlay {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .story {
      background-color: rgba(0,0,0, 0.5);
      padding: 3.4rem;
      display: block;
      float: none;
      margin: 0;
    }

    .story__hed {
      text-shadow: 0px 1px 2px rgba(0,0,0, 0.2);
    }

    .story__hed,
    .story__dek {
      color: $white;
    }

    .sponsor {
      color: $white;
      display: block;
      margin-top: 12rem;
    }

    &:hover {
      .story__hed {
        color: $ns_blue4;
      }
    }
  }
}

/* pullquote */
.pullquote {
  position: relative;
  margin: 4.2rem 0 5rem;
  padding-left: 7.8rem;

  &:before {
    background-color: $ns_red;
    font-family: 'icons';
    color: $white;
    font-size: 4.2rem;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 1.46;
    width: 5.6rem;
    height: 5.6rem;
    position: absolute;
    left: 0;
    top: -1.2rem;
  }

  .pullquote__quote {
    margin-bottom: 2rem;
  }

  .pullquote__attribution {
    color: $ns_red;
    font-family: $oswald;
    font-size: 1.8rem;
    font-weight: $bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
}

/* tags */
.tag {
  background-color: $ns_red;
  color: $white;
  display: block;
  font-family: $montserrat;
  font-size: 1.4rem;
  padding: 0.6rem 0.8rem;

  &:hover {
    background-color: $ns_blue1;
    color: $white;
  }
}