/* hero */
.hero {
  background-color: $ns_navy3;
  position: relative;
}

/* rubric */
.rubric {
  background-color: $ns_red;
  color: $white;
  display: inline-block;
  font-family: $montserrat;
  font-size: 1.4rem;
  padding: 0.6rem 0.8rem;
  margin-bottom: 1.8rem;
}

/* support cause */
.support-cause {
  .support-cause__heading {
    color: $ns_red;
    margin-bottom: 1.4rem;
  }

  .support-cause__data {
    font-family: $oswald;
    font-size: 3.4rem;
    line-height: 3.4rem;
    vertical-align: middle;

    &.support-cause__data--red {
      color: $ns_red;
    }

    &.support-cause__data--blue {
      color: $ns_blue1;
    }

    .super {
      font-size: 2rem;
      font-weight: $regular;
      position: relative;
      top: -1.4rem;
    }
  }

  .support-cause__label {
    color: $ns_black;
    font-family: $oswald;
    font-size: 2rem;
    font-weight: $light;
    position: relative;
    top: -4px;

    -webkit-font-smoothing:antialiased;
  }

  .support-cause__separator {
    color: $gray5;
    font-size: 4.4rem;
    display: inline-block;
    vertical-align: bottom;
    line-height: 3rem;
    margin: 0 1rem;
  }
}

/* indicator */
.indicator {
  background-color: $ns_blue1;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  text-align: center;

  &:before {
    color: $white;
  }

  &.indicator--module {
    width: 7.6rem;
    height: 7.6rem;

    &:before {
      font-size: 5.8rem;
      line-height: 1.74;
    }
  }

  &.indicator--carousel {
    width: 9.8rem;
    height: 9.8rem;
    position: relative;
    top: 1.4rem;

    &:before {
      font-size: 9rem;
      line-height: 2;
    }

    &.indicator--text {
      &:before {
        font-size: 5rem;
        line-height: 1.6;
      }

      .indicator__heading {
        color: $white;
        font-family: $montserrat;
        font-size: 1.4rem;
        font-weight: $bold;
        line-height: 1.4;
        margin-top: -3rem;
      }

      .indicator__subheading {
        color: $white;
        font-family: $montserrat;
        font-size: 1.2rem;
        font-weight: $regular;
      }
    }
  }
}

/* module */
.module {
  position: relative;
  width: auto;

  &.module--sidebar {
    width: 32rem;
    display: block;
    margin: 0 auto 7.6rem;
  }

  &.module--bg {
    background-color: $gray6;
    padding: 1.6rem;

    &:before {
      content: '';
      display: block;
      height: 0.7rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    header {
      margin-top: -4.5rem;
      margin-bottom: 2rem;
      position: relative;
      text-align: center;
    }

    .module__heading {
      display: inline-block;
      padding: 0.8rem 0.8rem 0.4rem;
      position: relative;
      top: -1rem;

      &:before,
      &:after {
        display: inline-block;
        font-weight: normal;
        font-style: normal;
        speak: none;
        font-family: 'icons';
        font-size: 1.5rem;
        content:"\f111";
        text-rendering:optimizeLegibility;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
      }

      &:before {
        margin-right: 1.2rem;
      }

      &:after {
        margin-left: 1.2rem;
      }
    }

    p {
      color: $ns_black;
      font-family: $gudea;
      font-size: 1.8rem;
      line-height: 1.4;
      margin-bottom: 3rem;
      -webkit-font-smoothing:antialiased;
    }

    &.module--blue {
      &:before,
      .indicator {
        background-color: $ns_blue1;
      }

      .module__heading {
        background-color: $ns_navy1;
        box-shadow: 0 2px 0 $gray6, 0 5px 0 $ns_navy1;
      }
    }

    &.module--red {
      &:before,
      .indicator {
        background-color: $ns_red;
      }
    }
  }

  &.module--list {
    &:after {
      background-color: $gray6;
      content: '';
      display: block;
      height: 0.7rem;
      width: 100%;
      position: absolute;
      bottom: -0.7rem;
      left: 0;
    }

    .module__heading {
      display: block;
      border-bottom: 3px solid $ns_black;
      padding-bottom: 1.2rem;
    }

    .story-list {
      li {
        padding: 1.8rem 0;
        border-bottom: 1px solid $gray6;

        &:last-child {
          border-bottom: 0 none;
        }
      }
    }

    .story--link {
      &:hover {

      }
    }

    .story__hed {
      margin-bottom: 1rem;
    }

    .source {
      font-family: $gudea;
      font-size: 1.4rem;
      font-weight: $regular;

      &:before {
        content: '';
        height: 1.6rem;
        width: 1.6rem;
        display: inline-block;
        margin-right: 0.6rem;
        position: relative;
        top: 2px;
      }

      &.source--nyt:before {
        content: url(../img/src_nyt.jpg);
      }

      &.source--npr:before {
        content: url(../img/src_npr.jpg);
      }

      &.source--time:before {
        content: url(../img/src_time.jpg);
      }

      &.source--mashable:before {
        content: url(../img/src_mashable.jpg);
      }
    }
  }
}