.hd-a {
  color: $white;
  font-family: $oswald;
  font-size: 6rem;
  line-height: 1;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-b {
  color: $white;
  font-family: $oswald;
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-c {
  color: $white;
  font-family: $montserrat;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: $bold;
  -webkit-font-smoothing: antialiased;
}

.hd-d {
  color: $ns_navy2;
  font-family: $oswald;
  font-size: 3.4rem;
  line-height: 1.2;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-e {
  color: $white;
  font-family: $oswald;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: $regular;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-f {
  background-color: rgba(0,0,0, 0.86);
  box-shadow: 4rem 0 0 rgba(0,0,0, 0.86), -4rem 0 0 rgba(0,0,0, 0.86);
  color: $white;
  display: inline;
  font-family: $noto-serif;
  font-size: 5.4rem;
  font-weight: $bold;
  line-height: 1.8;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
}

.hd-g {
  color: $ns_blue1;
  font-family: $oswald;
  font-size: 2.4rem;
  font-weight: $regular;
  line-height: 1;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.hd-h {
  color: $ns_black;
  font-family: $gudea;
  font-size: 1.8rem;
  font-weight: $bold;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.hd-i {
  color: $white;
  font-family: $oswald;
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}

.hd-j {
  color: $ns_black;
  font-family: $oswald;
  font-size: 5.4rem;
  font-weight: $regular;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.hd-k {
  color: $ns_black;
  font-family: $gudea;
  font-size: 2.4rem;
  font-weight: $regular;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.hd-l {
  color: $ns_black;
  font-family: $oswald;
  font-size: 3.4rem;
  line-height: 1.3;
  font-weight: $regular;
  -webkit-font-smoothing: antialiased;
}